<!--PROYECTOS-->
<!--LISTA PROYECTOS-->
<div v-if="mode == 0" style="padding-top: 1em">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24 menuCard">
        <div class="searchBox">
            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-md-5-24">
                    <input type="text" placeholder="Nombre" v-model="filtros.salas_ventas['sala_venta']"
                        maxlength="50" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-24">
                    <div class="imgGraybutton" @click="onClear('salas_ventas')">
                        <img src="./img/ico/eraser.png" />
                    </div>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8">
                    <select v-model="filtros.salas_ventas['id_sede']" class="pure-input-1"
                        @change="salas_ventas['id_zona_proyecto'] = '';filtros.salas_ventas['id_ciudadela'] = '';">
                        <option value="">[Todas las sedes]</option>
                        <option v-for="item in sedes" :value="item.id_sede">
                            {{item.sede}}</option>
                    </select>
                </div>

                <div class="pure-u-1-1 pure-u-md-1-8" style="padding: 0 5px;">
                    <select v-model="filtros.salas_ventas['id_zona_proyecto']" class="pure-input-1"
                        @change="filtros.salas_ventas['id_ciudadela'] = '';">
                        <option value="">[Todas las zonas]</option>
                        <option :value="item.id_zona_proyecto"
                            v-for="item in zonasProyectos
                                        .filter(z => !filtros.salas_ventas['id_sede'] || z.id_sede == filtros.salas_ventas['id_sede'])">
                            {{item.zona_proyecto}}</option>
                    </select>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8" style="padding-right: 5px;">
                    <select v-model="filtros.salas_ventas['id_ciudadela']" class="pure-input-1">
                        <option value="">[Todas las ciudadelas]</option>
                        <option :value="item.id_ciudadela"
                            v-for="item in ciudadelas
                                        .filter(c => !filtros.salas_ventas['zona_proyecto'] || c.zona_proyecto == filtros.salas_ventas['zona_proyecto'])">
                            {{item.ciudadela}}</option>
                    </select>
                </div>

                <div class="pure-u-1-1 pure-u-md-1-8">
                    <select v-model="filtros.salas_ventas['is_active']" class="pure-input-1">
                        <option value="">Activos/Inactivos</option>
                        <option value="1">Activos</option>
                        <option value="0">Inactivos</option>
                    </select>
                </div>
                <div class="pure-u-1-2 pure-u-md-1-12" style="text-align: center;">
                    <img src="../../img/cli/excel_02.png" alt="Excel" class="pure-img logoExcel"
                        @click="exportExcel('salas_ventas')" title="Descargar datos a Excel" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-6">
                    <button v-on:click="setMode(1)">Nueva Sala</button>
                </div>
            </div>
        </div>
        <div class="main-content">
            <table class="dataTable" style="table-layout: auto;" v-if="salas_ventas && salas_ventas.length">
                <thead>
                    <tr>
                        <th
                            v-for="key in Object.keys(salas_ventas[0]).filter(k => !k.startsWith('id_') && !k.startsWith('is_') )">
                            {{(key[0].toUpperCase() + key.substr(1)).replaceAll("_"," ").replace('vpn',
                            'VPN')}}
                        </th>
                        <th>Feria</th>
                        <th>Activo</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="sv in getFilteredList('salas_ventas')" @click="onSelect(sv);loadProjects(sv);">
                        <td v-for="key in Object.keys(sv).filter(k => !k.startsWith('id_') && !k.startsWith('is_') )">
                            {{sv[key]}}</td>
                        <td style="text-align: center;">
                            <div class="toggle-switch" @click.stop.prevent="toggleFeria(sv)">
                                <input :id="'toggle' + sv.sala_venta" type="checkbox" class="toggle-input"
                                    :checked="Number(sv.is_feria) !== 1">
                                <label class="toggle-label" :for="'toggle' + sv.sala_venta"
                                    style="transform: rotate(180deg);"></label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="toggle-switch" @click.stop.prevent="toggleState(sv)">
                                <input :id="'toggle' + sv.sala_venta" type="checkbox" class="toggle-input"
                                    :checked="Number(sv.is_active) !== 1">
                                <label class="toggle-label" :for="'toggle' + sv.sala_venta"
                                    style="transform: rotate(180deg);"></label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <span @click.stop.prevent="requestDelete(sv)" class="delete">✖</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div v-if="mode == 1 || mode == 2" style="padding: 1em; height: max-content;" class="pure-g">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
        <div class="pure-u-1-1 pure-u-md-5-6">
            <h2>{{mode == 1 ? 'Nueva' : 'Editar'}} Salas de Ventas</h2>
        </div>
        <div class="pure-u-1-1 pure-u-md-1-6 labeled-switch"
            @click.stop.prevent="sala_venta.is_feria = sala_venta.is_feria == '1' ? '0' : '1';">
            <span style="margin-right: .5rem;">Sala de feria</span>
            <div class="toggle-switch" style="margin: 0;">
                <input id="toggle-sala-feria" type="checkbox" class="toggle-input"
                    :checked="Number(sala_venta.is_feria) !== 1">
                <label class="toggle-label" for="toggle-sala-feria" style="transform: rotate(180deg);"></label>
            </div>
        </div>
        <div class="pure-g">
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-3">
                <span>Salas de Venta</span>
                <input type="text" v-model="sala_venta.sala_venta" maxlength="50" />
            </div>
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-3">
                <span>Nombre Sala Encuesta VPN</span>
                <input type="text" v-model="sala_venta.encuesta_vpn" maxlength="200" />
            </div>
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-3">
                <span>ID Playlist YouTube Turnos</span>
                <input type="text" v-model="sala_venta.id_playlist" maxlength="200" />
            </div>
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-3">
                <span>Sede</span>
                <select v-model='sala_venta.id_sede'
                    @change="sala_venta.id_zona_proyecto = '';sala_venta.id_ciudadela = '';proyecto_sala={};">
                    <option value="">[Todas las sedes]</option>
                    <option v-for="sed in sedes.sort((a, b) => parseInt(b.is_active) - parseInt(a.is_active))"
                        :value='sed.id_sede' :disabled="sed.is_active != '1'">
                        {{ sed.sede }}
                    </option>
                </select>
            </div>
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-3">
                <span>Zona</span>
                <select v-model='sala_venta.id_zona_proyecto' @change="sala_venta.id_ciudadela = '';proyecto_sala={};">
                    <option value="">[Todas las zonas]</option>
                    <option
                        v-for="zon in zonasProyectos.filter(z => !sala_venta.id_sede || z.id_sede == sala_venta.id_sede).sort((a, b) => parseInt(b.is_active) - parseInt(a.is_active))"
                        :value='zon.id_zona_proyecto' :disabled="zon.is_active != '1'">
                        {{ zon.zona_proyecto }}
                    </option>
                </select>
            </div>
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-3">
                <span>Ciudadela</span>
                <select v-model='sala_venta.id_ciudadela' @change="proyecto_sala={};">
                    <option value="">[Todas las ciudadelas]</option>
                    <option v-for="ciu in ciudadelas
                                    .filter(c => 
                                        (!sala_venta.id_sede || c.id_sede == sala_venta.id_sede) && 
                                        (!sala_venta.id_zona_proyecto || c.id_zona_proyecto == sala_venta.id_zona_proyecto))
                                            .sort((a, b) => parseInt(b.is_active) - parseInt(a.is_active))"
                        :value='ciu.id_ciudadela' :disabled="ciu.is_active != '1'">
                        {{ ciu.ciudadela }}
                    </option>
                </select>
            </div>
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-4" v-if="mode == 2">
                <span>Proyectos</span>
                <select v-model='proyectos_sala'>
                    <option :value="proyectos
                            .filter(p => p.is_active == '1' &&
                                (!sala_venta.id_sede || p.id_sede == sala_venta.id_sede) && 
                                (!sala_venta.id_zona_proyecto || p.id_zona_proyecto == sala_venta.id_zona_proyecto) && 
                                (!sala_venta.id_ciudadela || p.id_ciudadela == sala_venta.id_ciudadela))
                                    .sort((a, b) => parseInt(b.is_active) - parseInt(a.is_active))">
                        [Todos los proyectos]
                    </option>
                    <option v-for="pro in proyectos
                            .filter(p => p.is_active == '1' &&
                                (!sala_venta.id_sede || p.id_sede == sala_venta.id_sede) && 
                                (!sala_venta.id_zona_proyecto || p.id_zona_proyecto == sala_venta.id_zona_proyecto) && 
                                (!sala_venta.id_ciudadela || p.id_ciudadela == sala_venta.id_ciudadela))
                                    .sort((a, b) => parseInt(b.is_active) - parseInt(a.is_active))" :value='[pro]'>
                        {{ pro.nombre }}
                    </option>
                </select>
            </div>
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-4" v-if="mode == 2">
                <button style="margin-top: 1.5rem;" @click="addProjects">Asignar</button>
            </div>
            <div class="pure-u-1-2 pure-u-md-1-4" v-if="mode == 2">
            </div>
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-4" v-if="mode == 2" style="text-align: right;">
                <button style="margin-top: 1.5rem;" @click="load_checked">Configuración</button>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-1"
                style="margin: .5rem 0; height: calc(100vh - 32.8rem); overflow-y: auto;">
                <table class="dataTable" style="table-layout: auto;" v-if="mode == 2">
                    <thead>
                        <tr>
                            <th>Proyecto</th>
                            <th>Fecha Asignación</th>
                            <th v-if="sala_venta.is_feria == '1'">Descuento</th>
                            <th v-if="sala_venta.is_feria == '1'">Vigente Hasta</th>
                            <th>Opcionar</th>
                            <th>Visualizar</th>
                            <th>Retirar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(pro, i) in pro_sala" v-bind:class="{'deshabilitada': pro.is_active == '0', 
                                'destacada': selRow == i}" @click="onSelectPro(pro, i)"
                            style="cursor: auto;">
                            <td>{{pro.nombre}}</td>
                            <td>{{pro.fecha_asignacion}}</td>
                            <td v-if="sala_venta.is_feria == '1'" :style="enableEdit && selRow == i && 'padding: 0;'">
                                <input type="number" v-model="pro.descuento" v-if="enableEdit && selRow == i"
                                    style="font-size: 14px;">
                                <span v-else>{{pro.descuento}}</span>
                            </td>
                            <td v-if="sala_venta.is_feria == '1'" :style="enableEdit && selRow == i && 'padding: 0;'">
                                <input type="date" v-model="pro.vigencia" v-if="enableEdit && selRow == i"
                                    style="font-size: 14px;">
                                <span v-else>{{pro.vigencia}}</span>
                            </td>
                            <td style="text-align: center;">
                                <div class="toggle-switch" v-if="enableEdit && selRow == i">
                                    <input :id="'toggle-opc' + pro.nombre" type="checkbox"
                                        @change="pro.opcionar = pro.opcionar == '0' ? '1' : '0'" class="toggle-input"
                                        :checked="Number(pro.opcionar) !== 1">
                                    <label class="toggle-label" :for="'toggle-opc' + pro.nombre"
                                        style="transform: rotate(180deg);"></label>
                                </div>
                                <span v-else>{{pro.opcionar == '1' ? 'Sí' : 'No'}}</span>
                            </td>
                            <td style="text-align: center;">
                                <div class="toggle-switch" v-if="enableEdit && selRow == i">
                                    <input :id="'toggle-vis' + pro.nombre" type="checkbox"
                                        @change="pro.visualizar = pro.visualizar == '0' ? '1' : '0'"
                                        class="toggle-input" :checked="Number(pro.visualizar) !== 1">
                                    <label class="toggle-label" :for="'toggle-vis' + pro.nombre"
                                        style="transform: rotate(180deg);"></label>
                                </div>
                                <span v-else>{{pro.visualizar == '1' ? 'Sí' : 'No'}}</span>
                            </td>
                            <td style="text-align: center;">
                                <span @click.stop.prevent="reqRemovePro(pro)" class="delete">✖</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='pure-u-1-1 pure-u-md-19-24'></div>
            <div class='pure-u-1-1 pure-u-md-5-24' style="text-align: center; padding-top: .5rem;">
                <button @click="toggleEdit" v-if="mode == 2 && pro_sala && pro_sala.length">
                    {{enableEdit ? 'Guardar proyecto' : 'Editar proyecto'}}
                </button>
            </div>
            <div class="pure-u-1-1 pure-u-md-2-5"></div>
            <div class="formInputStandard pure-u-1-2 pure-u-md-1-5">
                <button v-on:click="onSaveSala()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div v-if="mode == 3" style="padding: 1em; height: max-content;" class="pure-g">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision'
            style="font-size: 1.5em; margin-bottom: 4px; margin-top: 1rem;">
            Tipo de turnos
        </div>
        <div style="display: flex; align-items: center;">
            <div class='pure-u-1-1 pure-u-md-1-6' v-for="tipo in t_turnos">
                <label class="check">
                    <input type="checkbox" value='1' v-model="tipo.checked" />
                    <span class="checkmark"></span>
                    {{tipo.tipo_turno}}
                </label>
            </div>
        </div>
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision'
            style="font-size: 1.5em; margin-bottom: 4px; margin-top: 1rem;">
            Campos obligatorios en el registro
        </div>
        <div style="display: flex; align-items: center; margin-top: .5rem;">
            <div class='pure-u-1-1 pure-u-md-1-6' v-for="campo in c_obligatorios">
                <label class="check">
                    <input type="checkbox" value='1' v-model="campo.checked" />
                    <span class="checkmark"></span>
                    {{campo.campo}}
                </label>
            </div>
        </div>
        <div class='pure-u-1-1 pure-u-md-2-5'></div>
        <div class='pure-u-1-1 pure-u-md-1-5' style="margin-top: 1rem;">
            <button @click="onUpdateConfig">Actualizar</button>
        </div>
    </div>
</div>