<div v-if="mode == 0" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">

        <div class="pure-u-1-1 pure-u-md-1-1 formDivision right-button">
            <span style="font-size: 1.5em;">Desistimientos En Proceso </span>
            <div style="min-width: 150px;">
                <button @click="setMode(1)">Nuevo Desistimiento</button>
            </div>
        </div>
        <div class="searchBox" style="padding: .5rem 0;">
            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-md-1-8 formInputStandard">
                    <input type="text" placeholder="Radicado" maxlength="50"
                        v-model="filtros.desistimientos['radicado']" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8 formInputStandard">
                    <input type="text" placeholder="ID Venta" maxlength="50"
                        v-model="filtros.desistimientos['id_venta']" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8 formInputStandard">
                    <input type="text" placeholder="Asesor" maxlength="50" v-model="filtros.desistimientos['asesor']" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8 formInputStandard">
                    <input type="text" placeholder="Proyecto" maxlength="50"
                        v-model="filtros.desistimientos['proyecto']" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8 formInputStandard">
                    <input type="text" placeholder="Agrupación" maxlength="50"
                        v-model="filtros.desistimientos['unidad']" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8 formInputStandard">
                    <input type="text" placeholder="Doc. Comprador" maxlength="50"
                        v-model="filtros.desistimientos['numero_documento']" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8 formInputStandard">
                    <input type="text" placeholder="Nombre" maxlength="50"
                        v-model="filtros.desistimientos['nombre_cliente']" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8 formInputStandard">
                    <input type="text" placeholder="Estado" maxlength="50" v-model="filtros.desistimientos['estado']" />
                </div>
            </div>
        </div>
        <div class="main-content">
            <table class="dataTable spaceRows" style="table-layout: auto; font-size: 15px;">
                <thead>
                    <tr>
                        <th style="width: 8%;">Radicado</th>
                        <th style="width: 8%;">ID Venta</th>
                        <th style="width: 16%;">Asesor</th>
                        <th style="width: 14%;">Proyecto</th>
                        <th style="width: 6%;">Torre</th>
                        <th style="width: 12%;">Agrupación/Und</th>
                        <th style="width: 10%;">Doc Comprador</th>
                        <th style="width: 16%;">Nombre</th>
                        <th style="width: 10%;">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="d in getFilteredList('desistimientos')" @dblclick="onSelectDes(d)">
                        <td>{{d.radicado}}</td>
                        <td>{{d.id_venta}}</td>
                        <td>{{d.asesor}}</td>
                        <td>{{d.proyecto}}</td>
                        <td>{{d.torre}}</td>
                        <td>{{d.unidad}}</td>
                        <td>{{d.numero_documento}}</td>
                        <td>{{d.nombre_cliente}}</td>
                        <td>{{d.estado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div v-if="mode == 1" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom: 4px;">
            Nuevo Desistimiento
        </div>
        <div class="pure-u-1-4 formInputStandard">
            <label>ID Venta</label>
            <input type="text" v-model="searchID" @input="searchDoc = null">
        </div>
        <div class="pure-u-1-4 formInputStandard">
            <label>Número Documento</label>
            <input type="text" v-model="searchDoc" @input="searchID = null">
        </div>
        <div class="pure-u-1-4 formInputStandard" style="text-align: left; margin-top: 1.2rem;">
            <button @click="onFind">Buscar</button>
        </div>

        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom: 4px;">
            Información del Cliente
        </div>
        <div class="pure-u-1-2 pure-u-md-1-5">
            <div class="formInputStandard">
                <label>Nombre</label>
                <input type="text" :value="cliente.nombres" readonly>
            </div>
        </div>
        <div class="pure-u-1-2 pure-u-md-1-5">
            <div class="formInputStandard">
                <label>Apellido 1</label>
                <input type="text" :value="cliente.apellido1" readonly>
            </div>
        </div>
        <div class="pure-u-1-2 pure-u-md-1-5">
            <div class="formInputStandard">
                <label>Apellido 2</label>
                <input type="text" :value="cliente.apellido2" readonly>
            </div>
        </div>
        <div class="pure-u-1-2 pure-u-md-1-5">
            <div class="formInputStandard">
                <label>Número Documento</label>
                <input type="text" :value="cliente.numero_documento" readonly>
            </div>
        </div>

        <div v-if="cliente && cliente.id_cliente">
            <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom: 4px;">
                Ventas
            </div>
            <div style="height: calc(100vh - 25rem); overflow-y: auto;">
                <table class="dataTable" style="table-layout: auto; font-size: 15px;">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Radicado</th>
                            <th style="width: 10%;">ID Venta</th>
                            <th style="width: 14%;">Proyecto</th>
                            <th style="width: 8%;">Torre</th>
                            <th style="width: 12%;">Agrupación/Und</th>
                            <th style="width: 12%;">Estado</th>
                            <th style="width: 12%;">Fecha</th>
                            <th style="width: 14%;">Asesor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="v in cliVentas" @dblclick="onSelectVenta(v)">
                            <td>{{v.radicado}}</td>
                            <td>{{v.id_venta}}</td>
                            <td>{{v.proyecto}}</td>
                            <td>{{v.torre}}</td>
                            <td>{{v.unidad}}</td>
                            <td>{{v.estado}}</td>
                            <td>{{v.created_on}}</td>
                            <td>{{v.asesor}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div v-if="mode == 2" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom: 4px;">
            Cliente {{cliente.nombre_cliente}}; #{{desistimiento.radicado}}; {{desistimiento.unidad}}
        </div>

        <div style="height: calc(100vh - 16rem); overflow-y: auto;">
            <div class="pure-u-1-4 formInputStandard">
                <label>ID Venta</label>
                <input type="text" :value="desistimiento.id_venta" readonly>
            </div>
            <div class="pure-u-1-4 formInputStandard">
                <label>Número Documento</label>
                <input type="text" :value="cliente.numero_documento" readonly>
            </div>

            <div class='formDivision deployable' @click="showInfo = !showInfo">
                <span>Radicación SINCO #{{desistimiento.radicado}}</span>
                <span class="arrow" v-bind:class="{'expanded': showInfo}">&lt;</span>
            </div>
            <div v-show="showInfo" style="padding: .5rem;">
                <div class="pure-u-1-5 formInputStandard">
                    <label># Radicado:</label>
                    <input type="text" v-model="f_radicado" @input="validarNumero($event, true)">
                </div>
                <div class="pure-u-1-5 formInputStandard">
                    <label>Fecha Creación:</label>
                    <input type="datetime-local" v-model="desistimiento.created_on">
                </div>
                <div class="pure-u-1-5 formInputStandard">
                    <label>Incumplimientos:</label>
                    <input type="text" v-model="f_cant_incumplida" @input="validarNumero($event, true)">
                </div>
                <div class="pure-u-1-5 formInputStandard">
                    <label>F. Resolución Sinco:</label>
                    <input type="datetime-local" v-model="desistimiento.fecha_resolucion">
                </div>
                <div class="pure-u-1-5 formInputStandard">
                    <label>Estado Actual:</label>
                    <select v-model="desistimiento.id_estado" :disabled="isNew">
                        <option value="">[Seleccionar]</option>
                        <option v-for="e in estados" :value="e.id_estado">{{e.nombre}}</option>
                    </select>
                </div>
            </div>

            <div class='formDivision deployable' @click="showDatamart = !showDatamart">
                <span>Valores de la operación en Datamart</span>
                <span class="arrow" v-bind:class="{'expanded': showDatamart}">&lt;</span>
            </div>
            <div v-show="showDatamart" style="padding: .5rem;">
                <table class="dataTable">
                    <thead>
                        <tr>
                            <th>Fecha FPC</th>
                            <th>FEC Program.</th>
                            <th>Valor Venta Neto</th>
                            <th>Valor Abonado</th>
                            <th>A Capital</th>
                            <th>A Intereses</th>
                            <th>Condonación</th>
                            <th>Imp. Reformas</th>
                        </tr>
                    </thead>
                    <tbody class="editTable">
                        <tr>
                            <td>
                                <input type="date" v-model="desistimiento.fechaFPC">
                            </td>
                            <td>
                                <input type="date" v-model="desistimiento.fechaProg">
                            </td>
                            <td>
                                <input type="text" v-model="f_v_venta_neto" @input="validarNumero($event, true)">
                            </td>
                            <td>
                                <input type="text" :value="f_v_abonado" readonly>
                            </td>
                            <td>
                                <input type="text" v-model="f_a_capital" @input="validarNumero($event, true)">
                            </td>
                            <td>
                                <input type="text" v-model="f_a_intereses" @input="validarNumero($event, true)">
                            </td>
                            <td>
                                <input type="text" v-model="f_condonacion" @input="validarNumero($event, true)">
                            </td>
                            <td>
                                <input type="text" v-model="f_imp_reformas" @input="validarNumero($event, true)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='formDivision deployable' @click="showGestion = !showGestion">
                <span>Gestión</span>
                <span class="arrow" v-bind:class="{'expanded': showGestion}">&lt;</span>
            </div>
            <div v-show="showGestion" style="padding: .5rem;">
                <div class="pure-u-1-2 formInputStandard">
                    <label>Categoría Desistimiento:</label>
                    <select v-model="desistimiento.id_categoria">
                        <option value="">[Seleccionar]</option>
                        <option v-for="c in categorias" :value="c.id_categoria">
                            {{c.categoria}}
                        </option>
                    </select>
                </div>
                <div class="pure-u-1-4 formInputStandard">
                    <label>Fiduciaria:</label>
                    <select v-model="desistimiento.id_fiduciaria">
                        <option value="">[Seleccionar]</option>
                        <option v-for="f in fiduciarias" :value="f.id_fiduciaria">
                            {{f.fiduciaria}}
                        </option>
                    </select>
                </div>
                <div class="pure-u-1-4 formInputStandard">
                    <label>Etapa Proyecto:</label>
                    <select v-model="desistimiento.etapa">
                        <option value="">[Seleccionar]</option>
                        <option value="INMOBILIARIO">INMOBILIARIO</option>
                        <option value="PREVENTA">PREVENTA</option>
                    </select>
                </div>

                <div class="pure-u-1-4 formInputStandard">
                    <label>Aplica Penalidad:</label>
                    <select v-model="desistimiento.id_penalidad">
                        <option value="">[Seleccionar]</option>
                        <option v-for="p in penalidades" :value="p.id_penalidad">
                            {{p.penalidad}}
                        </option>
                    </select>
                </div>
                <div class="pure-u-1-4">
                    <div class="formInputStandard" v-if="getCampoPenalidad()">
                        <label>{{getCampoPenalidad()}}:</label>
                        <input type="text" v-model="f_campo" @input="validarNumero">
                    </div>
                </div>
                <div class="pure-u-1-2"></div>

                <div class="pure-u-1-4 formInputStandard">
                    <label>Interés Generado:</label>
                    <input type="text" v-model="f_interes" @input="validarNumero">
                </div>
                <div class="pure-u-1-4 formInputStandard">
                    <label>Gastos Administrativos:</label>
                    <input type="text" v-model="f_gasto" @input="validarNumero">
                </div>
                <div class="pure-u-1-4 formInputStandard">
                    <label>Otro descuento devolución:</label>
                    <input type="text" v-model="f_descuento" @input="validarNumero">
                </div>

            </div>

            <div class='formDivision deployable' @click="showLiq = !showLiq">
                <span>Liquidación</span>
                <span class="arrow" v-bind:class="{'expanded': showLiq}">&lt;</span>
            </div>
            <div v-show="showLiq" style="padding: .5rem;">
                <table class="dataTable">
                    <thead>
                        <tr>
                            <th>% PNL PCV</th>
                            <th>% PNL Aplicada</th>
                            <th>PNL Aplicada</th>
                            <th>PNL Bruta</th>
                            <th>PNL Neta</th>
                            <th>Devolución</th>
                            <th>4xmil</th>
                            <th>Líquido</th>
                        </tr>
                    </thead>
                    <tbody class="editTable">
                        <tr>
                            <td>
                                <input type="text" v-model="f_pnl_pcv" @input="validarNumero($event, false), valMax($event, 100)">
                            </td>
                            <td>
                                <input type="text" :value="f_pnl_aplicada" readonly>
                            </td>
                            <td>
                                <input type="text" :value="f_pnl_aplicada_val" readonly>
                            </td>
                            <td>
                                <input type="text" :value="f_pnl_bruta" readonly>
                            </td>
                            <td>
                                <input type="text" v-model="f_pnl_neta" @input="validarNumero($event, true)">
                            </td>
                            <td>
                                <input type="text" :value="f_devolucion" readonly>
                            </td>
                            <td>
                                <input type="text" :value="f_v4xmil" readonly>
                            </td>
                            <td>
                                <input type="text" :value="f_liquido" readonly>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='formDivision deployable' @click="showCuentas = !showCuentas">
                <span>Cuenta(s) para consignación de recursos</span>
                <button v-if="showCuentas" style="margin-left: auto; margin-right: 1rem;"
                    @click.stop.prevent="onAddAccount">
                    Agregar cuenta
                </button>
                <span class="arrow" v-bind:class="{'expanded': showCuentas}">&lt;</span>
            </div>
            <div v-show="showCuentas" style="padding: .5rem;">
                <table class="dataTable editable" style="table-layout: auto;">
                    <thead>
                        <tr>
                            <th>Titular de la cuenta</th>
                            <th>Entidad financiera</th>
                            <th>Número de cuenta</th>
                            <th>Tipo de cuenta</th>
                            <th>%</th>
                            <th>Tipo Giro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="newRow">
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr v-else>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='formDivision deployable' @click="showDocs = !showDocs">
                <span>Documentos Adjuntos</span>
                <span class="arrow" v-bind:class="{'expanded': showDocs}">&lt;</span>
            </div>
            <div v-show="showDocs" style="padding: .5rem;">
                <div class="pure-u-1 small-files" @mousemove="updateCursor" @mouseleave="tooltipVisible = false"
                    style="position: relative; padding: .5rem;">
                    <label for="file-input" class="preview-container"
                        style="height: 8rem; cursor: pointer; max-height: 100%;"
                        @dragover.prevent="handleDragOver" @drop.prevent="handleDrop"
                        @mouseenter="tooltipVisible = true" @mouseleave="tooltipVisible = false">
                        <div v-if="previews.length === 0" class="center-absolute ">
                            Arrastra o haz clic para cargar archivos.
                        </div>
                        <div class="image-card" v-for="(item, index) in previews" :key="index" draggable="true"
                            @dragstart="dragStart(index)" @mouseenter="tooltipVisible = false"
                            @mouseleave="tooltipVisible = true" style="position: relative;">
                            <img :src="item.src" @click.stop.prevent=""
                                @mouseenter="tooltipVisible = true; tooltipMsg = item.newName"
                                @mouseleave="tooltipVisible = false; tooltipMsg = 'Arrastra o haz clic para cargar archivos.'" />
                            <input v-model="item.newName" class="image-name-overlay editable" @click.stop />
                            <div class="download-btn">
                                <a :href="getURLFile(item.file)" :download="item.file.name">
                                    <img src="../../img/ico/download.jpg">
                                </a>
                            </div>
                            <div class="delete-btn" @click.stop.prevent="removeImage(index)">✖</div>
                        </div>
                        <div v-if="tooltipVisible" class="cursor-tooltip"
                            :style="{ top: tooltipY + 'px', left: tooltipX + 'px' }">
                            {{tooltipMsg}}
                        </div>
                    </label>
                    <input type="file" id="file-input" class="hidden-input" style="display: none;" multiple accept="*"
                        @change="handleFileChange" ref="fileInput" />
                </div>

                <div class="pure-u-1-1 formInputStandard">
                    <label>Comentarios de Asesor:</label>
                    <textarea rows="5" v-model="desistimiento.observacion" style="resize: none; height: auto;">
                    </textarea>
                </div>
            </div>

        </div>
        <div class="pure-u-2-5"></div>
        <div class="pure-u-1-5" style="text-align: center; padding-top: 1rem;">
            <button @click="onSave">Guardar</button>
        </div>

    </div>
</div>