<div v-if="mode == 0" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision right-button' style="margin-bottom: 4px;">
            <span style="font-size: 1.5em;">Trazabilidad Acciones Clientes</span>
            <div style="display: flex; gap: 5px; width: 240px;">
                <button>Enviar Correos</button>
                <button @click="openModal">Ver Gráfico</button>
            </div>
        </div>
        <div class="filtros-container" style="padding: .7rem;">
            <div class="filtros-center" style="grid-template-columns: repeat(9, 1fr);">

                <div style="display: flex; grid-column: 1 / -1; align-items: center; gap: .5rem; width: 100%;">
                    <div class="radio-group cal-opc">
                        <label for="view-s" style="text-align: center; width: 8rem;">
                            <input type="radio" name="view" id="view-s" :checked="filMode == 'week'"
                                @click="updateFilMode('week')">
                            <span>Última Semana</span>
                        </label>
                        <label for="view-m" style="text-align: center; width: 8rem;">
                            <input type="radio" name="view" id="view-m" :checked="filMode == 'month'"
                                @click="updateFilMode('month')">
                            <span>Último Mes</span>
                        </label>
                        <label for="view-r" style="text-align: center; width: 8rem;">
                            <input type="radio" name="view" id="view-r" :checked="filMode == 'range'"
                                @click="updateFilMode('range')">
                            <span>Rango Fechas</span>
                        </label>
                    </div>
                    <div v-if="filMode == 'range'" style="display: flex; align-items: center;">
                        <input type="date" style="width: 8rem;" v-model="filtros.trazabilidad.created_on1"
                            :max="filtros.trazabilidad.created_on2">
                        &ensp;-&ensp;
                        <input type="date" style="width: 8rem;" v-model="filtros.trazabilidad.created_on2"
                            :min="filtros.trazabilidad.created_on1" :max="formatDatetime('', 'bdate')">
                    </div>
                    <div style="margin-left: auto;">
                        <img src="../../img/cli/excel_02.png" alt="Excel" class="pure-img logoExcel"
                            @click="exportExcel('trazabilidad')" title="Descargar datos a Excel" />
                    </div>
                </div>
                <div class="checkbox-group" style="margin-top: .4rem; padding-top: .5rem; border-top: 2px solid #d1d5db; 
                    justify-content: space-evenly; grid-column: 1 / 4;">
                    <div style="display: flex; gap: .5rem">
                        <select v-model="filtros.trazabilidad.asesor" style="flex: 3;">
                            <option :value="undefined">[Asesor]</option>
                            <option v-for="a in asesores" :value="a.usuario">{{a.nombres}}</option>
                        </select>
                        <input type="text" v-model="filtros.trazabilidad.nombre_cliente" placeholder="Cliente"
                            style="flex: 2;">
                    </div>
                </div>
                <div class="checkbox-group" style="margin-top: .4rem; margin-left: -5px; padding-top: .5rem; padding-left: 5px;
                    border-top: 2px solid #d1d5db; justify-content: space-evenly; grid-column: 4 / -1;">
                    <label v-for="a in acciones">
                        <input type="checkbox" :true-value="a.obj" false-value="" v-model="filtros.trazabilidad.obj"
                            @change="setAccion">
                        {{a.accion}}
                    </label>
                </div>
            </div>
        </div>

        <div style="height: calc(100vh - 20rem); overflow-y: auto;">

            <table class="dataTable">
                <thead>
                    <tr>
                        <th style="width: 23%;">Cliente</th>
                        <th style="width: 14%;">Proyecto</th>
                        <th style="width: 15%;">Unidad</th>
                        <th style="width: 12%;">Fecha</th>
                        <th style="width: 23%;">Asesor</th>
                        <th style="width: 13%;">Tipo Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="t in getFilteredList('trazabilidad')">
                        <td>{{t.nombre_cliente}}</td>
                        <td>{{t.proyecto}}</td>
                        <td>{{t.unidad}}</td>
                        <td>{{t.created_on}}</td>
                        <td>{{t.nombre_asesor}}</td>
                        <td>{{t.obj}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="cal-modal-overlay" id="modalOverlay" @click.stop.prevent="closeModal">
        <div class="modal-container" style="min-width: 75vw; max-width: 75vw;">
            <div style=" position: relative;">
                <img src="../../img/ico/svg/cerrar-transparente.svg" @click="closeModal($event, true)"
                    class="modal-cerrar">
                <h2 style="text-align: center; margin-bottom: .5rem;">
                    <span v-if="chartMode == 'acciones_asesor'">Informe trazabilidad acciones por asesor</span>
                    <span v-if="chartMode == 'temporal_asesor'">Informe temporal acciones por asesor</span>
                    <span v-if="chartMode == 'temporal_unidad'">Informe temporal acciones por unidad</span>
                    <span v-if="chartMode == 'total_acciones'">Informe efectividad acciones</span>
                </h2>

                <div style="display: flex; justify-content: center; width: 100%; gap: 2rem;">
                    <select v-model="chartMode" style="width: 10rem;" @change="setGroupMode();resetChart()">
                        <option value="acciones_asesor">Acciones por Asesor</option>
                        <option value="temporal_asesor">Temporal Asesor</option>
                        <option value="temporal_unidad">Temporal Unidad</option>
                        <option value="total_acciones">Efectividad Acciones</option>
                    </select>
                    <select v-if="chartMode == 'acciones_asesor' || chartMode == 'temporal_asesor'" 
                        style="width: 10rem;" v-model="filIdSala" @change="resetChart">
                        <option value="">[Salas]</option>
                        <option v-for="s in salas" :value="s.id_sala_venta">{{s.sala_venta}}</option>
                    </select>
                    <select v-if="chartMode == 'temporal_unidad'" v-model="groupMode" style="width: 10rem;"
                        @change="resetChart">
                        <option value="sede">Sede</option>
                        <option value="zona">Zona</option>
                        <option value="ciudadela">Ciudadela</option>
                        <option value="proyecto">Proyecto</option>
                    </select>
                    <select v-if="chartMode == 'total_acciones'" v-model="groupMode" style="width: 10rem;"
                        @change="resetChart">
                        <option value="total">Totales</option>
                        <option value="porc_visitas">Porcentaje sobre visitas</option>
                    </select>
                    <select v-if="chartMode == 'total_acciones'" v-model="filIdProyecto" style="width: 10rem;"
                        @change="resetChart">
                        <option value="">[Proyectos]</option>
                        <option v-for="p in proyectos" :value="p.id_proyecto">{{p.proyecto}}</option>
                    </select>
                    <button @click="exportChart">Exportar</button>
                    <label v-if="chartMode == 'temporal_asesor'" @click="verBarras = !verBarras; resetChart();"
                        style="display: flex; align-items: baseline; padding-top: 5px;">
                        <input style="pointer-events: none;" type="checkbox" v-model="verBarras">
                        Barras
                    </label>
                </div>

                <div class="unidades-tabla-modal" style="height: 66vh;">
                    <canvas id="chart-js"></canvas>
                </div>

                <div style="display: flex; gap: .5rem">
                    <div v-if="!filtros.trazabilidad.asesor && chartMode === 'acciones_asesor'"
                        class="checkbox-group horizontal-bar-checks" style="flex: 5;">
                        <label @click="selTodosAs = !selTodosAs; onSelTodosAs()">
                            <input style="pointer-events: none;" type="checkbox" v-model="selTodosAs">
                            Todos
                        </label>
                        <label v-for="a in filAsesorSala" @click="toggleAsesor(a)">
                            <input style="pointer-events: none;" type="checkbox" v-model="a.selected">
                            {{a.nombres}}
                        </label>
                    </div>
                    <div class="checkbox-group horizontal-bar-checks" style="flex: 5;"
                        v-if="!filtros.trazabilidad.obj && (chartMode === 'temporal_asesor' || chartMode === 'temporal_unidad')">
                        <label @click="selTodosAcc = !selTodosAcc; onSelTodosAcc()">
                            <input style="pointer-events: none;" type="checkbox" v-model="selTodosAcc">
                            Todos
                        </label>
                        <label v-for="a in acciones" @click="toggleAccion(a)">
                            <input style="pointer-events: none;" type="checkbox" v-model="a.selected">
                            {{ a.accion }}
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>