<div v-if="mode == 0" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision right-button' style="margin-bottom: 4px;">
            <span style="font-size: 1.5em;">Trazabilidad Estados Clientes</span>
            <div style="display: flex; gap: 5px; width: 240px;">
                <button>Enviar Correos</button>
                <button @click="openModal">Ver Gráfico</button>
            </div>
        </div>
        <div class="filtros-container" style="padding: .7rem;">
            <div class="filtros-center" style="grid-template-columns: repeat(9, 1fr);">

                <div style="display: flex; grid-column: 1 / -1; align-items: center; gap: .5rem">
                    <div class="radio-group cal-opc">
                        <label for="view-s" style="text-align: center; width: 8rem;">
                            <input type="radio" name="view" id="view-s" :checked="filMode == 'week'"
                                @click="updateFilMode('week')">
                            <span>Última Semana</span>
                        </label>
                        <label for="view-m" style="text-align: center; width: 8rem;">
                            <input type="radio" name="view" id="view-m" :checked="filMode == 'month'"
                                @click="updateFilMode('month')">
                            <span>Último Mes</span>
                        </label>
                        <label for="view-r" style="text-align: center; width: 8rem;">
                            <input type="radio" name="view" id="view-r" :checked="filMode == 'range'"
                                @click="updateFilMode('range')">
                            <span>Rango Fechas</span>
                        </label>
                    </div>
                    <div v-if="filMode == 'range'" style="display: flex; align-items: center;">
                        <input type="date" style="width: 8rem;" v-model="filtros.trazabilidad.created_on1"
                            :max="filtros.trazabilidad.created_on2">
                        &ensp;-&ensp;
                        <input type="date" style="width: 8rem;" v-model="filtros.trazabilidad.created_on2"
                            :min="filtros.trazabilidad.created_on1" :max="formatDatetime('', 'bdate')">
                    </div>
                </div>
                <div class="checkbox-group" style="margin-top: .4rem; padding-top: .5rem; border-top: 2px solid #d1d5db; 
                    justify-content: space-evenly; grid-column: 1 / 4;">
                    <select v-model="filtros.trazabilidad.asesor">
                        <option :value="undefined">[Asesor]</option>
                        <option v-for="a in asesores" :value="a.usuario">{{a.nombres}}</option>
                    </select>
                </div>
                <div class="checkbox-group" style="margin-top: .4rem; margin-left: -5px; padding-top: .5rem; padding-left: 5px;
                    border-top: 2px solid #d1d5db; justify-content: space-evenly; grid-column: 4 / -1;">
                    <label>
                        <input type="checkbox" true-value="Visita" false-value="" v-model="filtros.trazabilidad.obj">
                        Visitas
                    </label>
                    <label>
                        <input type="checkbox" true-value="Cotización" false-value=""
                            v-model="filtros.trazabilidad.obj">
                        Cotizaciones
                    </label>
                    <label>
                        <input type="checkbox" true-value="Opción" false-value="" v-model="filtros.trazabilidad.obj">
                        Opciones
                    </label>
                    <label>
                        <input type="checkbox" true-value="Venta" false-value="" v-model="filtros.trazabilidad.obj">
                        Ventas
                    </label>
                    <label>
                        <input type="checkbox" true-value="Desistimiento" false-value=""
                            v-model="filtros.trazabilidad.obj">
                        Liberaciones
                    </label>
                </div>
            </div>
        </div>

        <div style="height: calc(100vh - 20rem); overflow-y: auto;">

            <table class="dataTable">
                <thead>
                    <tr>
                        <th style="width: 26%;">Cliente</th>
                        <th style="width: 18%;">Unidad</th>
                        <th style="width: 15%;">Fecha</th>
                        <th style="width: 26%;">Asesor</th>
                        <th style="width: 15%;">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="t in getFilteredList('trazabilidad')" @dblclick="onSelect(u)">
                        <td>{{t.nombre_cliente}}</td>
                        <td>{{t.unidad}}</td>
                        <td>{{t.created_on}}</td>
                        <td>{{t.nombre_asesor}}</td>
                        <td>{{t.obj}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="cal-modal-overlay" id="modalOverlay" @click.stop.prevent="closeModal">
        <div class="modal-container" style="min-width: 75vw; max-width: 75vw;">
            <div style=" position: relative;">
                <img src="../../img/ico/svg/cerrar-transparente.svg" @click="closeModal($event, true)"
                    class="modal-cerrar">
                <h2 style="text-align: center; margin-bottom: .5rem;">
                    Periodo {{filtros.trazabilidad.created_on1}} - {{filtros.trazabilidad.created_on2}}
                </h2>

                <div class="unidades-tabla-modal" style="height: 75vh;">
                    <canvas id="chart-js"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>