<div v-if="mode == 0" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom: 4px;">
            Vetos
        </div>
        <div class="searchBox">
            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-md-1-2">
                    <input type="text" placeholder="Ingrese numero de documento o nombre"
                        v-model="filtros.vetos['nombre_id']" maxlength="50" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-24">
                    <div class="imgGraybutton" @click="onClear('vetos')">
                        <img src="./img/ico/eraser.png" />
                    </div>
                </div>
                <div class="pure-u-1-1 pure-u-md-11-24">
                    <button style="display: block; margin-left: auto;">Vetar Persona</button>
                </div>
            </div>
        </div>
        <div class="main-content">
            <table class="dataTable spaceRows" style="table-layout: auto;">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th style="width: 25%;">Motivo</th>
                        <th>Vetado por</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="v in getFilteredList('vetos')">
                        <td>{{v.fecha}}</td>
                        <td>{{v.numero_documento}}</td>
                        <td>{{v.nombre}}</td>
                        <td>{{v.email}}</td>
                        <td>{{v.telefono}}</td>
                        <td>{{v.motivo}}</td>
                        <td>{{v.vetado_por}}</td>
                        <td style="text-align: center;">
                            <span class="delete"
                                @click.stop.prevent="reqOperation(`Se le quitará el veto al cliente ${v.nombre}.`, onDelete, null, v)">
                                ✖
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>