<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-5 lateralMenu">
        <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 0.75rem;">
            {{ ruta }}
        </div>
        <div v-on:click="setMainMode(1)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 1}">
            <img src="./img/ico/svg/screen.svg" />
            Fondo Pantalla
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-4-5"> 
        <!--FONDO PANTALLA-->
        <div v-if="mainmode == 1">
            <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem;">
                <span class="hoverLink" v-on:click="mode = 0">Fondo Pantalla</span>
              </div>
              <div v-if="mode == 0" style="padding-top: 2em;height: 85vh;">
                <div class="pure-u-1-12"></div>
                <div class="pure-u-5-6 menuCard">
                    <div class="pure-u-1">
                        <h3>Imágenes Subidas</h3>
                        <div class="preview-container"
                             @dragover.prevent="handleDragOver"
                             @dragleave="handleDragLeave"
                             @drop="handleDrop">
                            <div class="image-card" v-for="(src, index) in previews" :key="index">
                                <img :src="src">
        
                                <div class="delete-btn" @click="removeImage(index)">✖</div>
                            </div>
                        </div>
                        <div class="message" v-if="message">{{ message }}</div>
                    </div>
                    <div class="pure-u-1" style="min-height:calc(350px - 38vh);"></div>
                    <div class="control-container">
                        <div class="duration-select">
                            <label for="duration">Duración</label>
                            <select id="duration" v-model="duracion">
                                <option value="3">3seg</option>
                                <option value="5">5seg</option>
                                <option value="10">10seg</option>
                            </select>
                        </div>
                        <div class="button-group">
                            <label class="file-upload-label">
                                Elegir imágenes
                                <input type="file" multiple accept="image/*" v-on:change="handleFileChange">
                            </label>
                            <button class="custom-button" v-on:click="uploadFiles" :disabled="previews.length === 0">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-12"></div>
              </div>
            <!--<div class="message">{{ message }}</div>-->
        </div>
    </div>
</div>