<div v-if="mode == 0" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision right-button' style="margin-bottom: 4px;">
            <span style="font-size: 1.5em;">Inventario</span>
            <div style="display: flex; gap: 5px; width: 240px;">
                <button>Enviar Correos</button>
                <button @click="openModal">Ver Gráfico</button>
            </div>
        </div>
        <div class="filtros-container" style="padding: .7rem;">
            <div class="filtros-center" style="grid-template-columns: repeat(9, 1fr);">
                <select v-model="selSede"
                    @change="selZona = {}; selCiu = {}; selSala = {}; selPro = {}; selTorre = {}; unidades = []">
                    <option :value="{}">[Sedes]</option>
                    <option v-for="s in sedes" :value="s">
                        {{s.nombre}}
                    </option>
                </select>
                <select v-model="selZona"
                    @change="selCiu = {}; selSala = {}; selPro = {}; selTorre = {}; unidades = []">
                    <option :value="{}">[Zonas]</option>
                    <option v-for="z in zonas.filter(i => !selSede.id || i.id_sede === selSede.id)" :value="z">
                        {{z.nombre}}
                    </option>
                </select>
                <select v-model="selCiu" @change="selSala = {}; selPro = {}; selTorre = {}; unidades = []">
                    <option :value="{}">[Ciudadelas]</option>
                    <option v-for="c in ciudadelas.filter(i => !selZona.id || i.id_zona_proyecto === selZona.id)"
                        :value="c">
                        {{c.nombre}}
                    </option>
                </select>
                <select v-model="selSala" @change="selPro = {}; selTorre = {}; unidades = []">
                    <option :value="{}">[Salas]</option>
                    <option v-for="s in salas
                            .filter(i => (!selSede.id || i.id_sede === selSede.id)
                                && (!selZona.id || i.id_zona_proyecto === selZona.id)
                                && (!selCiu.id || i.id_ciudadela === selCiu.id))" :value="s">
                        {{s.sala_venta}}
                    </option>
                </select>
                <select v-model="selPro" @change="loadTorres(selPro)">
                    <option :value="{}">[Proyectos]</option>
                    <option v-for="p in proyectos
                            .filter(i => (!selSede.id || i.id_sede === selSede.id)
                                && (!selZona.id || i.id_zona_proyecto === selZona.id)
                                && (!selCiu.id || i.id_ciudadela === selCiu.id)
                                && (!selSala.ids_proyectos || selSala.ids_proyectos.includes(i.id_proyecto)))"
                        :value="p">
                        {{p.nombre}}
                    </option>
                </select>
                <select v-model="selTorre" @change="filtros.unidades.id_torre = selTorre.id_torre;">
                    <option :value="{}">[Torres]</option>
                    <option v-for="t in selPro.torres" :value="t">
                        {{t.consecutivo}}
                    </option>
                </select>
                <select v-model="filtros.unidades['id_clase']" class="pure-input-1" @change="valClase">
                    <option :value="undefined">[Clase]</option>
                    <option v-for="c in clases" :value="c.id_clase">{{c.clase}}</option>
                </select>
                <select v-model="filtros.unidades['id_tipo']" class="pure-input-1" :disabled="!editTipoEstado">
                    <option :value="undefined">[Tipos]</option>
                    <option v-for="t in tipos" :value="t.id_tipo">{{t.tipo}}</option>
                </select>
                <input type="text" placeholder="ID Unidad" v-model="filtros.unidades['unidad']" maxlength="10" />

                <div style="margin-top: .4rem; padding-top: .5rem; border-top: 2px solid #d1d5db; 
                    display: flex; grid-column: 1 / -1; align-items: center; gap: .5rem">
                    <div class="radio-group cal-opc">
                        <label for="view-s" style="text-align: center; width: 8rem;">
                            <input type="radio" name="view" id="view-s" :checked="filMode == 'week'"
                                @click="updateFilMode('week')">
                            <span>Última Semana</span>
                        </label>
                        <label for="view-m" style="text-align: center; width: 8rem;">
                            <input type="radio" name="view" id="view-m" :checked="filMode == 'month'"
                                @click="updateFilMode('month')">
                            <span>Último Mes</span>
                        </label>
                        <label for="view-r" style="text-align: center; width: 8rem;">
                            <input type="radio" name="view" id="view-r" :checked="filMode == 'range'"
                                @click="updateFilMode('range')">
                            <span>Rango Fechas</span>
                        </label>
                    </div>
                    <div v-if="filMode == 'range'" style="display: flex; align-items: center;">
                        <input type="date" style="width: 8rem;">
                        &ensp;-&ensp;
                        <input type="date" style="width: 8rem;">
                    </div>
                    <div style="margin-left: auto;">
                        <img src="../../img/cli/excel_02.png" alt="Excel" class="pure-img logoExcel"
                            @click="exportExcel('unidades')" title="Descargar datos a Excel" />
                    </div>
                </div>
                <div class="checkbox-group" style="margin-top: .4rem; padding-top: .5rem; border-top: 2px solid #d1d5db; 
                    justify-content: space-evenly; grid-column: 1 / 4;">
                    <select v-model="filtros.unidades.gestionado_por">
                        <option value="">[Asesor]</option>
                        <option v-for="a in asesores" :value="a.usuario">{{a.nombres}}</option>
                    </select>
                </div>
                <div class="checkbox-group" style="margin-top: .4rem; margin-left: -5px; padding-top: .5rem; padding-left: 5px;
                    border-top: 2px solid #d1d5db; justify-content: space-evenly; grid-column: 4 / -1;">
                    <label>
                        <input type="checkbox" true-value="2" false-value=""
                            v-model="filtros.unidades.id_estado_unidad">
                        Opcionados
                    </label>
                    <label>
                        <input type="checkbox" true-value="3" false-value=""
                            v-model="filtros.unidades.id_estado_unidad">
                        Consignados
                    </label>
                </div>
            </div>
        </div>

        <div style="height: calc(100vh - 23rem); overflow-y: auto;">

            <table class="dataTable">
                <thead>
                    <tr>
                        <th style="width: 19%;">Unidad</th>
                        <th style="width: 15%;">Piso</th>
                        <th style="width: 23%;">Clase</th>
                        <th style="width: 19%;">Tipo</th>
                        <th style="width: 19%;">Estado</th>
                        <!-- <th style="width: 5%;"></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="u in getFilteredList('unidades')" @dblclick="onSelect(u)">
                        <td>{{u.unidad}}</td>
                        <td>{{u.piso}}</td>
                        <td>{{u.clase}}</td>
                        <td>{{u.tipo}}</td>
                        <td>{{u.estado_unidad}}</td>
                        <!-- <td style="text-align: center;">{{u.id_estado_unidad && u.id_estado_unidad != '1' ? '🔒' : ''}}
                        </td> -->
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="cal-modal-overlay" id="modalOverlay" @click.stop.prevent="closeModal">
        <div class="modal-container" style="min-width: 75vw; max-width: 75vw;">
            <div style=" position: relative;">
                <img src="../../img/ico/svg/cerrar-transparente.svg" @click="closeModal($event, true)"
                    class="modal-cerrar">
                <h2 style="text-align: center; margin-bottom: .5rem;">
                    <span v-if="chartMode == 'estados_unidad'">Informe inventario de unidades y estados</span>
                    <span v-if="chartMode == 'estados_unidad'">Informe inventario por proyecto y torre</span>
                </h2>

                <div style="display: flex; justify-content: center; width: 100%; gap: 2rem;">
                    <select v-model="chartMode" style="width: 10rem;" @change="resetChart">
                        <option value="estados_unidad">Estados Unidades</option>
                        <option value="estados_torre">Estados por Torre</option>
                    </select>
                    <select v-if="chartMode == 'estados_unidad'" v-model="groupMode" style="width: 10rem;"
                        @change="resetChart">
                        <option value="sedes">Sede</option>
                        <option value="zonas">Zona</option>
                        <option value="ciudadelas">Ciudadela</option>
                        <option value="proyectos">Proyectos</option>
                    </select>
                    <select v-else-if="chartMode == 'estados_torre'" v-model="idProChart" style="width: 10rem;"
                        @change="getStatsPro">
                        <option :value="null">[Proyecto]</option>
                        <option v-for="p in proyectos" :value="p.id_proyecto">{{p.nombre}}</option>
                    </select>
                    <button @click="exportChart">Exportar</button>
                </div>

                <div class="unidades-tabla-modal" style="height: 66vh;">
                    <canvas id="chart-js"></canvas>
                </div>

                <div v-if="chartMode === 'estados_unidad'" class="checkbox-group horizontal-bar-checks">
                    <label @click="selTodos = !selTodos; onSelTodos()">
                        <input style="pointer-events: none;" type="checkbox" v-model="selTodos">
                        Todos
                    </label>
                    <label v-for="t in getItems()" @click="toggleItem(t)">
                        <input style="pointer-events: none;" type="checkbox" v-model="t.selected">
                        {{ t.nombre }}
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>

<div v-if="mode == 1" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom: 4px;">
            Historial de cambios: {{unidad.unidad}}
        </div>

        <div class="pure-u-1-1" style="background: #f4f6f8; height: calc(100vh - 13rem); overflow-y: auto;">
            <div class="log-container">
                <div class="log-entry" v-for="log in unidad.logs">
                    <div class="log-header">
                        <div class="log-title" v-html="log.titulo"></div>
                        <div class="log-date">{{log.fecha}}</div>
                    </div>
                    <div class="log-content" v-html="log.texto"></div>
                    <div class="log-footer">
                        Responsable: {{log.usuario}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>