<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-5 lateralMenu">
        <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 0.75rem;">
            Accesos
        </div>
        <div v-on:click="setMainMode(1)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 1}">
            <img src="./img/ico/svg/user.svg" />
            Usuarios
        </div>
        <div v-on:click="setMainMode(2)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 2}">
            <img src="./img/ico/svg/briefcase.svg" />
            Roles
        </div>
        <div v-on:click="setMainMode(3)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 3}">
            <img src="./img/ico/svg/screen.svg" />
            Fondo Pantalla
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-4-5">
        <!--USUARIOS-->
        <div v-if="mainmode == 1">
            <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem; ">
                <!--<span style="color: #89888d" class="hoverLink" v-on:click="mainmode = 0">Accesos  /</span>-->
                <span class="hoverLink" v-on:click="mode = 0">Usuarios</span>
                <span v-if="mode == 1">  /  Nuevo Usuario</span>
                <span v-if="mode == 2">  /  Edición de Usuario</span>
                <span v-if="mode == 3">  /  Permisos Temporales</span>
            </div>
            <!--LISTA USUARIOS-->
            <div v-if="mode == 0" style="padding: 1em">
                <h2>Usuarios</h2>
                <div class="searchBox">
                    <div class="pure-g">
                        <div class="pure-u-1-1 pure-u-md-18-24">
                            <input type="text" placeholder="Usuario o Nombre" v-model="seachUser" />
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-24">
                            <div class="imgGraybutton">
                                <img src="./img/ico/svg/search.svg" />
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-5-24">
                            <button v-on:click="startNewUser()" style="width:100%">Nuevo Usuario</button>
                        </div>
                    </div>
                </div>
                <div class="searchBox">
                    <table class="dataTable">
                        <tr>
                            <th>Usuario</th>
                            <th>Nombres</th>
                            <th>Cargo</th>
                            <th>Identificación</th>
                            <th>Roles Asignados</th>
                            <th>Fecha de Creación</th>
                        </tr>
                        <tr v-for="item in users" v-on:click="selectUser(item)">
                            <td>{{item.usuario}}</td>
                            <td>{{item.nombres}}</td>
                            <td>{{item.cargo}}</td>
                            <td>{{item.identificacion}}</td>
                            <td style="text-align: center; width: 10rem;">{{item.cuenta}}</td>
                            <td style="text-align:center; width: 10rem;">{{item.created_on}}</td>
                        </tr>
                    </table>
                    <!--<div class="pure-u-2-3" style="margin: auto; font-size: 0.8em">
                        <b>{{item.usuario}}</b> / {{item.nombres}}
                    </div>
                    <div class="pure-u-1-3" style="text-align: right;">
                        <div style="display: inline-block;font-size: 0.7em; padding: 0.5em">
                            {{item.cuenta}}
                            <img src="./img/ico/svg/briefcase.svg" />
                        </div>
                        <div style="display: inline-block;font-size: 0.6em; background-color: rgb(244, 244, 244); border-radius: 0.5em; padding: 0.5em">
                            {{item.created_on}}
                        </div>
                    </div>-->
                </div>
            </div>
            <!--NUEVO USUARIO-->
            <div v-if="mode == 1" style="padding: 1em">
                <h2>Nuevo Usuario</h2>
                <br />
                <div class="pure-g">
                    <div class="pure-u-1-2 formInput">
                        Usuario
                        <input type="text" v-model="newUser.usuario" placeholder="Usuario" />
                    </div>
                    <div class="pure-u-1-2 formInput">
                        Nombres
                        <input type="text" v-model="newUser.nombres" placeholder="Nombres" />
                    </div>
                    <div class="pure-u-1-2 formInput">
                        Identificación
                        <input type="text" v-model="newUser.identificacion" placeholder="Identificación" />
                    </div>
                    <div class="pure-u-1-2 formInput">
                        Email
                        <input type="email" v-model="newUser.email" placeholder="Correo electrónico" />
                    </div>
                    <div class="pure-u-1-2 formInput">
                        <label for="cargo">Cargo</label>
                        <select id="cargo" v-model="newUser.id_cargo">
                            <option value="" disabled selected>Seleccione Cargo</option>
                            <option v-for="item in cargos" :key="item.id_cargo" :value="item.id_cargo">
                                {{ item.cargo }}
                            </option>
                        </select>
                    </div>
                    <div v-if="newUser.cargo === 'otro'" class="pure-u-1-2 formInput">
                        Nuevo Cargo
                        <input type="text" v-model="nuevoCargo" placeholder="Ingrese el nuevo cargo" />
                        <button @click="agregarCargo">Agregar</button>
                    </div>
                </div>
                <br />
                <div>
                    Roles
                    <div class="pure-g">
                        <div class="pure-u-1-4" v-for="item in roleList" style="padding: 1rem">
                            <label><input type="checkbox" v-model="item.selected" />{{item.rol}}</label>
                        </div>
                    </div>
                </div>
                <div style="text-align:center">
                    <br /><br /><br />
                    <button v-on:click="insNewUser()">Guardar</button>
                </div>
            </div>
            <!--EDICIÓN DE USUARIO-->
            <div v-if="mode == 2" style="padding: 1em">
                <div class="pure-g">
                    <div class="pure-u-1-1 pure-u-md-1-2">
                        <h2>Editar Usuario</h2>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-2" style="text-align:right">
                        <span style="text-decoration: underline; color: blue; cursor: pointer" v-on:click="startNewException()">Permisos temporales >></span>
                    </div>
                </div>
                <br />
                <div class="pure-g">
                    <div class="pure-u-1-2 formInput">
                        Usuario
                        <input type="text" v-model="editUser.usuario" placeholder="Usuario" />
                    </div>
                    <div class="pure-u-1-2 formInput">
                        Nombres
                        <input type="text" v-model="editUser.nombres" placeholder="Nombres" />
                    </div>
                    <div class="pure-u-1-2 formInput">
                        Identificación
                        <input type="text" v-model="editUser.identificacion" placeholder="Identificación" />
                    </div>
                    <div class="pure-u-1-2 formInput">
                        Email
                        <input type="email" v-model="editUser.email" placeholder="Correo electrónico" />
                    </div>
                </div>
                <div class="pure-u-1-2 formInput">
                    <label for="cargo">Cargo</label>
                    <select id="cargo" v-model="editUser.id_cargo">
                        <option value="" disabled selected>Seleccione Cargo</option>
                        <option v-for="item in cargos" :key="item.id_cargo" :value="item.id_cargo">
                            {{ item.cargo }}
                        </option>
                    </select>
                </div>
                <br />
                <div>
                    Roles
                    <div class="pure-g">
                        <div class="pure-u-1-4" v-for="item in roleList" style="padding: 1rem">
                            <label><input type="checkbox" v-model="item.selected" />{{item.rol}}</label>
                        </div>
                    </div>
                </div>
                <div style="text-align:center">
                    <br /><br /><br />
                    <button v-on:click="updateUser()">Actualizar</button>
                </div>
            </div>
            <!--PERMISOS TEMPORALES-->
            <div v-if="mode == 3" style="padding: 1em">
                <h2>Permisos temporales</h2>
                <br />
                <div class="pure-g">
                    <div class="pure-u-1-2 formInput">
                        Desde
                        <input type="date" v-model="fechaDesde" :min="hoy" @input="validarDesde" />
                    </div>
                    <div class="pure-u-1-2 formInput">
                        Hasta
                        <input type="date" v-model="fechaHasta" :min="fechaDesde" @input="validarHasta" />
                    </div>
                </div>
                <div>
                    Accesos
                    <div class="pure-g">
                        <div class="pure-u-1-4" v-for="cat in accessList" style="padding: 1rem">
                            <div style="border: 1px solid #CCCCCC; border-radius: 0.1rem ">
                                <div style="text-align: center; background-color: #EEE; padding: 0.3rem">{{cat.name}}</div>
                                <div v-for="item in cat.list" class="noSelect">
                                    <label><input type="checkbox" v-model="item.selected" />{{item.permiso}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align:center">
                    <br /><br /><br />
                    <button v-on:click="updateUser()">Agregar</button>
                </div>
            </div>
        </div>
        <!--ROLES-->
        <div v-if="mainmode == 2">
            <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem; ">
                <!--<span style="color: #89888d" class="hoverLink" v-on:click="mainmode = 0">Accesos  /</span>-->
                <span class="hoverLink" v-on:click="mode = 0">Roles</span>
                <span v-if="mode == 1">  /  Nuevo Rol</span>
                <span v-if="mode == 2">  /  Editar Rol</span>
            </div>
            <!--LISTA DE ROLES-->
            <div v-if="mode == 0" style="padding: 1em">
                <h2>Roles</h2>
                <div class="searchBox">
                    <div class="pure-g">
                        <div class="pure-u-1-1 pure-u-md-18-24">
                            <input type="text" placeholder="Rol" />
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-24">
                            <div class="imgGraybutton">
                                <img src="./img/ico/svg/search.svg" />
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-5-24">
                            <button v-on:click="startNewRole()" style="width:100%">Nuevo Rol</button>
                        </div>
                    </div>
                </div>
                <div v-for="item in roles" class="pure-g listItem" v-on:click="selectRole(item)">
                    <div class="pure-u-2-3" style="margin: auto; font-size: 0.8em">
                        <b>{{item.rol}}</b> / {{item.descripcion}}
                    </div>
                    <div class="pure-u-1-3" style="text-align: right;">
                        <div style="display: inline-block;font-size: 0.7em; padding: 0.5em">
                            {{item.cuenta}}
                            <img src="./img/ico/svg/user.svg" />
                        </div>
                        <div style="display: inline-block;font-size: 0.7em; background-color: rgb(244, 244, 244); border-radius: 0.5em; padding: 0.5em">
                            {{item.created_on}}
                        </div>
                    </div>
                </div>
            </div>
            <!--NEUVO ROL-->
            <div v-if="mode == 1" style="padding: 1em">
                <h2>Nuevo Rol</h2>
                <br />
                <div class="pure-g">
                    <div class="pure-u-1-1 pure-u-md-1-3">
                        <div class="formInput">
                            Nombre del rol
                            <input type="text" v-model="newRole.rol" placeholder="Nombre" maxlength="1000" />
                        </div>
                        <div class="formInput">
                            Descripción
                            <textarea v-model="newRole.descripcion" placeholder="Descripción" maxlength="1000" style="height: 4rem;"></textarea>
                        </div>
                        <div style="text-align:center">
                            <br />
                            <button v-on:click="insNewRole()">Guardar</button>
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-2-3">
                        <div>
                            Accesos
                            <div class="pure-g">
                                <div class="pure-u-1-1 pure-u-md-11-24" style="padding: 0rem 0.5rem">
                                    <div style="text-align:center; font-size: 1em">Disponibles</div>
                                    <div style="padding: 0.5rem; border: 1px solid black; border-radius: 0.5rem; height: calc(100vh - 15rem); overflow: auto;">
                                        <div v-for="zone in accessList">
                                            <div>
                                                <div v-on:click="zone.expanded = !zone.expanded" class="noSelect" style="cursor: pointer">
                                                    <span v-show="!zone.expanded">&boxplus;</span>
                                                    <span v-show="zone.expanded">&boxminus;</span>
                                                    <span >{{zone.name}}</span>
                                                </div>
                                                <div v-show="zone.expanded" v-for="group in zone.groups">
                                                    <div style="padding-left: 1rem; cursor: pointer" v-on:click="group.expanded = !group.expanded" class="noSelect">
                                                        <span v-show="!group.expanded">&boxplus;</span>
                                                        <span v-show="group.expanded">&boxminus;</span>
                                                        <span >{{group.name}}</span>
                                                    </div>
                                                    <div v-for="item in group.list" class="noSelect" v-show="group.expanded && !item.selected">
                                                        <div style="padding-left: 2rem; cursor: pointer" v-bind:class="{selectedAcces: selectedAccess!= null && selectedAccess.item == item}" v-on:click="selectAccess(item, group, zone)">{{item.permiso}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pure-u-1-1 pure-u-md-2-24">
                                    <div style="text-align: center;">
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <button v-show="selectedAccess != null && !selectedAccess.item.selected" style="width: 2em;min-width: 0;" v-on:click="asignAccess()">&RightArrow;</button>
                                        <button v-show="selectedAccess != null && selectedAccess.item.selected" style="width: 2em;min-width: 0;" v-on:click="asignAccess()">&LeftArrow;</button>
                                    </div>
                                </div>
                                <div class="pure-u-1-1 pure-u-md-11-24" style="padding: 0rem 0.5rem">
                                    <div style="text-align:center; font-size: 1em">Asignados</div>
                                    <div style="padding: 0.5rem; border: 1px solid black; border-radius: 0.5rem; height: calc(100vh - 15rem); overflow: auto;">
                                        <div v-for="zone in accessList" v-show="zone.selectedItems > 0">
                                            <div>
                                                <div v-on:click="zone.expanded = !zone.expanded" class="noSelect" style="cursor: pointer">
                                                    <span v-show="!zone.expanded">&boxplus;</span>
                                                    <span v-show="zone.expanded">&boxminus;</span>
                                                    <span>{{zone.name}}</span>
                                                </div>
                                                <div v-show="zone.expanded && group.selectedItems > 0" v-for="group in zone.groups">
                                                    <div style="padding-left: 1rem; cursor: pointer" v-on:click="group.expanded = !group.expanded" class="noSelect">
                                                        <span v-show="!group.expanded">&boxplus;</span>
                                                        <span v-show="group.expanded">&boxminus;</span>
                                                        <span >{{group.name}}</span>
                                                    </div>
                                                    <div v-for="item in group.list" class="noSelect" v-show="group.expanded && item.selected" >
                                                        <div style="padding-left: 2rem; cursor: pointer" v-bind:class="{selectedAcces: selectedAccess!= null && selectedAccess.item == item}" v-on:click="selectAccess(item, group, zone)">{{item.permiso}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--EDITAR ROL-->
            <div v-if="mode == 2" style="padding: 1em">
                <h2>Edición de Rol</h2>
                <br />
                <div class="formInput">
                    Nombre del rol
                    <input type="text" v-model="editRole.rol" placeholder="Nombre" maxlength="1000" />
                </div>
                <div class="formInput">
                    Descripción
                    <textarea v-model="editRole.descripcion" placeholder="Descripción" maxlength="1000" style="height: 4rem;"></textarea>
                </div>
                <br />
                <div>
                    Accesos
                    <div class="pure-g">
                        <div class="pure-u-1-4" v-for="cat in accessList" style="padding: 1rem">
                            <div style="border: 1px solid #CCCCCC; border-radius: 0.1rem ">
                                <div style="text-align: center; background-color: #EEE; padding: 0.3rem">{{cat.name}}</div>
                                <div v-for="item in cat.list" class="noSelect">
                                    <label><input type="checkbox" v-model="item.selected" />{{item.permiso}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    Usuarios
                    <div class="pure-g">
                        <div class="pure-u-1-4" v-for="item in users" style="padding: 1rem" v-on:click="selectUserInRole(item)">
                            <label class="hoverLink">{{item.usuario}}</label>
                        </div>
                    </div>
                </div>
                <div style="text-align:center">
                    <br /><br /><br />
                    <button v-on:click="updateRole()">Actualizar</button>
                </div>
            </div>
        </div>
        <!--FONDO PANTALLA-->
        <div v-if="mainmode == 3">
            <div id="app">
                <div class="container-fondopantalla">
                    <div class="left-panel" style="text-align:center">
                        <h2>Subir imágenes</h2>
                        <label class="custom-file-upload">
                            Seleccionar Imágenes
                            <input type="file" multiple accept="image/*" v-on:change="handleFileChange">
                        </label>

                        <button class="buttonFP" v-on:click="uploadFiles" :disabled="previews.length === 0">Subir Imágenes</button>
                        <div class="message">{{ message }}</div>
                    </div>

                    <div class="right-panel">
                        <h3>Vista Previa</h3>
                        <div class="preview-container">
                            <div class="image-card" v-for="(src, index) in previews" :key="index">
                                <img :src="src">
                                <div class="delete-btn" v-on:click="removeImage(index)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" fill="white">
                                        <path d="M6 6L18 18M6 18L18 6" stroke="red" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>