<div class="pure-g">
    <!--<div class="pure-u-1-1 pure-u-md-1-5 lateralMenu">
        <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 0.75rem;">
            {{ ruta }}
        </div>
        <div v-on:click="setMainMode(1)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 1}">
            <img src="./img/ico/svg/user.svg" />
            Usuarios
        </div>
    </div>-->
    <div class="pure-u-1-1 pure-u-md-1-1">
        <!--USUARIOS-->
        <div v-if="mainmode == 1">
            <div class="pure-u-1-24"></div>
            <div class="pure-u-22-24">
                <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem; ">
                    <span class="hoverLink" v-on:click="mode = 0">Usuarios</span>
                    <span v-if="mode == 1">  /  Nuevo Usuario</span>
                    <span v-if="mode == 2">  /  Edición de Usuario</span>
                    <span v-if="mode == 3">  /  Permisos Temporales</span>
                </div>
            </div>
            <!--LISTA USUARIOS-->
            <div v-if="mode == 0" style="padding-top: 1em">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <h2>Usuarios</h2>
                    <div class="searchBox">
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-md-12-24">
                                <input type="text" placeholder="Usuario o Nombre" v-model="filtro.seachUser" />
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-24">
                                <div class="imgGraybutton" v-on:click="getUsuarios()">
                                    <img src="./img/ico/svg/search.svg" />
                                </div>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-3-24">
                                <select style="margin: 0em 0em 0em 0em;" v-model="filtro.id_cargo" v-on:change="getUsuarios()">
                                    <option value="">[Todos los cargos]</option>
                                    <option v-for="item in cargos" v-bind:value="item.id_cargo">{{item.cargo}}</option>
                                </select>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-3-24">
                                <select style="margin: 0em 0em 0em 1em;" v-model="filtro.id_sede" v-on:change="getUsuarios()">
                                    <option value="">[Todas las sedes]</option>
                                    <option v-for="item in sedes" v-bind:value="item.id_sede">{{item.sede}}</option>
                                </select>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-3-24">
                                <button v-on:click="startNewUser()" style="width: 100%; margin: 0em 0em 0em 7em;">Nuevo Usuario</button>
                            </div>
                        </div>
                    </div>
                    <div style="height: 63vh; overflow-y: auto;">
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Nombres</th>
                                    <th>Cargo</th>
                                    <th>Roles Asignados</th>
                                    <th>Identificación</th>
                                    <th>Estado</th>
                                    <th>Fecha de Creación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in users" v-on:click="selectUser(item)">
                                    <td style="width: 15rem">{{item.usuario}}</td>
                                    <td>{{item.nombres}}</td>
                                    <td>{{item.cargo}}</td>
                                    <td style="text-align: center; width: 5rem;">{{item.cuenta}}</td>
                                    <td style="width: 8rem">{{item.identificacion}}</td>
                                    <td style="text-align: center; width: 8rem">{{ item.is_active == 1 ? 'Activo' : 'Desactivado' }}</td>
                                    <td style="text-align:center; width: 10rem">{{item.created_on}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
            <!--NUEVO USUARIO-->
            <div v-if="mode == 1" style="padding-top: 1em">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <div class="pure-g">
                        <div class="pure-u-1-1 pure-u-md-1-1">
                            <h2>Nuevo Usuario</h2>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="idUsuario" style="display: block; margin-bottom: 0.3rem;">ID Usuario</label>
                                <input id="idUsuario" type="text" v-model="newUser.usuario" placeholder="Usuario"
                                       class="pure-input-1" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-3-4'>
                            <div class='formInputStandard'>
                                <label for="nombres" style="display: block; margin-bottom: 0.3rem;">Nombres y Apellidos</label>
                                <input id="nombres" type="text" v-model="newUser.nombres" placeholder="Nombres"
                                       class="pure-input-1" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="cedula" style="display: block; margin-bottom: 0.3rem;">Número de Cédula</label>
                                <input id="cedula" type="text" v-model="newUser.identificacion"
                                       placeholder="Identificación" class="pure-input-1" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="email" style="display: block; margin-bottom: 0.3rem;">Email</label>
                                <input id="email" type="email" v-model="newUser.email" placeholder="Correo electrónico"
                                       class="pure-input-1" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="email" style="display: block; margin-bottom: 0.3rem;">Contraseña</label>
                                <input id="contraseña" type="text" v-model="newUser.contraseña" placeholder="Contraseña"
                                       class="pure-input-1" />
                            </div>
                        </div>
                        <div class='pure-u-2-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <div style="display: block; margin-bottom: 0.3rem; height: 1.3rem;"></div>
                                <button @click="asignarRol">Proponer Contraseña</button>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="cargo" style="display: block; margin-bottom: 0.3rem;">Cargo</label>
                                <select id="cargo" v-model="newUser.id_cargo" class="pure-input-1">
                                    <option value="" disabled selected>Seleccione Cargo</option>
                                    <option v-for="item in cargos" :key="item.id_cargo" :value="item.id_cargo">
                                        {{ item.cargo }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="tipoUsuario" style="display: block; margin-bottom: 0.3rem;">Tipo de Usuario</label>
                                <select id="tipoUsuario" v-model="newUser.id_tipo_usuario" class="pure-input-1">
                                    <option value="" disabled selected>Seleccione Tipo</option>
                                    <option v-for="item in tiposUsuario" :key="item.id_tipo_usuario"
                                            :value="item.id_tipo_usuario">
                                        {{ item.tipo_usuario }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="rolNuevo" style="display: block; margin-bottom: 0.3rem;">Seleccionar Rol</label>
                                <select id="rolNuevo" v-model="selectedRolId" class="pure-input-1">
                                    <option disabled value="">Seleccione un rol</option>
                                    <option v-for="item in roleList" :key="item.id_rol" :value="item.id_rol">
                                        {{ item.rol }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-2-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <div style="display: block; margin-bottom: 0.3rem; height: 1.3rem;"></div>
                                <button @click="asignarRol">Asignar Rol</button>
                            </div>
                        </div>
                        <div class="pure-u-1-1">
                            <div style="display: block; margin-bottom: 0.3rem; height: 1.3rem; text-align: center;">
                                <b>Roles Asignados al Usuario</b>
                            </div>
                            <div style="height: 30vh; overflow-y: auto;">
                                <table class="dataTable">
                                    <thead>
                                        <tr>
                                            <th class="col-rol">Rol</th>
                                            <th class="col-descripcion">Descripción Rol</th>
                                            <th class="col-eliminar">Eliminar Asignación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(rol, index) in rolesAsignados" :key="rol.id_rol">
                                            <td>{{ rol.rol }}</td>
                                            <td>{{ rol.descripcion || 'Sin descripción' }}</td>
                                            <td style="text-align: center;">
                                                <span class="delete" @click.stop="eliminarRol(rol)">✖</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-1" style="text-align:right;padding-top: 2em;">
                        <button @click="insNewUser()">Crear Usuario</button>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
            <!--EDICIÓN DE USUARIO-->
            <div v-if="mode == 2" style="padding-top: 1em">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <div class="pure-g">
                        <div class="pure-u-1-1 pure-u-md-1-1">
                            <h2>Editar Usuario</h2>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="editUsuario" style="display: block; margin-bottom: 0.3rem;">ID Usuario</label>
                                <input id="editUsuario" type="text" v-model="editUser.usuario" placeholder="Usuario"
                                    class="pure-input-1" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-3-4'>
                            <div class='formInputStandard'>
                                <label for="editNombres" style="display: block; margin-bottom: 0.3rem;">Nombres y
                                    Apellidos</label>
                                <input id="editNombres" type="text" v-model="editUser.nombres" placeholder="Nombres"
                                    class="pure-input-1" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="editCedula" style="display: block; margin-bottom: 0.3rem;">Número de Cédula</label>
                                <input id="editCedula" type="text" v-model="editUser.identificacion"
                                    placeholder="Identificación" class="pure-input-1" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="editEmail" style="display: block; margin-bottom: 0.3rem;">Email</label>
                                <input id="editEmail" type="email" v-model="editUser.email" placeholder="Correo electrónico"
                                    class="pure-input-1" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="editCargo" style="display: block; margin-bottom: 0.3rem;">Cargo</label>
                                <select id="editCargo" v-model="editUser.id_cargo" class="pure-input-1">
                                    <option value="" disabled selected>Seleccione Cargo</option>
                                    <option v-for="item in cargos" :key="item.id_cargo" :value="item.id_cargo">
                                        {{ item.cargo }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="editTipoUsuario" style="display: block; margin-bottom: 0.3rem;">Tipo de
                                    Usuario</label>
                                <select id="editTipoUsuario" v-model="editUser.id_tipo_usuario" class="pure-input-1">
                                    <option value="" disabled selected>Seleccione Tipo</option>
                                    <option v-for="item in tiposUsuario" :key="item.id_tipo_usuario"
                                        :value="item.id_tipo_usuario">
                                        {{ item.tipo_usuario }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="rol" style="display: block; margin-bottom: 0.3rem;">Seleccionar Rol</label>
                                <select id="rol" v-model="selectedRolId" class="pure-input-1">
                                    <option disabled value="">Seleccione un rol</option>
                                    <option v-for="item in roleList" :key="item.id_rol" :value="item.id_rol">
                                        {{ item.rol }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-2-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <div style="display: block; margin-bottom: 0.3rem; height: 1.3rem;"></div>
                                <button @click="asignarRol">Asignar Rol</button>
                            </div>
                        </div>
                        <div class="pure-u-2-1 pure-u-md-1-6">
                            <div class="formInputStandard">
                                <div style="display: block; margin-bottom: 0.3rem; height: 1.3rem;"></div>
                                <button :class="editUser.is_active == 0 ? 'btn-inactivo' : null" @click="toggleUserActive">
                                    {{ Number(editUser.is_active) === 0 ? 'Activar' : 'Desactivar' }}
                                </button>
                            </div>
                        </div>
                        <div class="pure-u-1-1">
                            <div style="display: block; margin-top: 0.7rem; margin-bottom: 0.3rem; height: 1.3rem; text-align: center;"> <b>Roles
                                    Asigandos al Usuario</b></div>
                            <div style="height: 30vh; overflow-y: auto;">
                                <table class="dataTable">
                                    <thead>
                                        <tr>
                                            <th class="col-rol">Rol</th>
                                            <th class="col-descripcion">Descripción Rol</th>
                                            <th class="col-eliminar" >Eliminar Asignación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(rol, index) in rolesAsignados" :key="rol.id_rol" >
                                            <td >{{ rol.rol }}</td>
                                            <td >{{ rol.descripcion || 'Sin descripción' }}</td>
                                            <td style="text-align: center">
                                                <span class="delete" @click.stop="eliminarRol(rol)">✖</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-1" style="padding-top: 1em;">
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <button @click="startNewException" style="text-align: right;">Asignar Permisos temporales</button>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-2' style="text-align: right;">
                            <button @click="updateUser()">Actualizar</button>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
            <!--PERMISOS TEMPORALES-->
            <div v-if="mode == 3" style="padding-top: 1em">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <h2>Permisos temporales</h2>
                    <br />
                    <div class="pure-g">
                        <div class="pure-u-1-2 formInput">
                            Desde
                            <input type="date" v-model="fechaDesde" :min="hoy" @input="validarDesde" />
                        </div>
                        <div class="pure-u-1-2 formInput">
                            Hasta
                            <input type="date" v-model="fechaHasta" :min="fechaDesde" @input="validarHasta" />
                        </div>
                    </div>
                    <div style="padding-top: 1.5rem">
                        Accesos
                        <div class="pure-g">
                            <div class="pure-u-1-4" v-for="cat in accessList" style="padding: 1rem">
                                <div style="border: 1px solid #CCCCCC; border-radius: 0.1rem ">
                                    <div style="text-align: center; background-color: #EEE; padding: 0.3rem">{{cat.name}}</div>
                                    <div v-for="item in cat.list" class="noSelect">
                                        <label><input type="checkbox" v-model="item.selected" />{{item.permiso}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:right">
                        <br /><br /><br />
                        <button v-on:click="updateUser()">Agregar</button>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
        </div>
    </div>
</div>