@font-face {
    font-family: 'BodyFont';
    src: url(../fonts/sourcesanspro-regular.woff2)format('woff2'),url(../fonts/sourcesanspro-regular.woff)format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
    background-color: white;
}

* {
    font-family: 'BodyFont', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div {
    font-family: 'BodyFont', sans-serif;
}

.mainContent {
    background-color: white;
}

.header {
    width: 100%;
    color: #00839C;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1em;
    vertical-align: middle;
    position: relative;
    background-color: #00839C;
    /*border-bottom: 1px solid #3C3C3C;*/
    z-index: 2;
}

    .header .userLabel {
        display: inline;
        font-size: 0.7em;
        position: absolute;
        top: 0;
        right: 1em;
    }
.footer {
    height: 2em;
    width: 100%;
    /*background: #0e547d;*/
    border-top: 0px solid #00839C;
}
.mainMenu {
    /*background-color: rgb(0, 151, 174);*/
    /*background-color: rgba(255,255,255,0.95);*/
    max-height: 100vh;
    overflow-y: auto;
}

.menuOption {
    padding: 0.5em;
    white-space: initial;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.innerMenuOption {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 0.3em;
    height: 100%;
    background-color: white;
}

    .innerMenuOption > div:first-child {
        background-color: #EEE;
        padding: 0.5em;
        border: 1px solid rgb(231, 231, 231);
        border-radius: 0.3em;
        font-size: 0.9em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .innerMenuOption > div:nth-child(2) {
        font-size: 0.9em;
        padding: 0.5em 1em;
        height: 100%;
        line-height: 1.5em;
    }

    .innerMenuOption:hover {
        background-color: #d8f1f3;
    }

    .innerMenuOption img {
        width: 3em;
        height: auto;
        vertical-align: middle;
        margin-right: 1em;
    }

.selectedMenuOption > div {
    background-color: #003848;
}

    .selectedMenuOption > div > div:nth-child(2) {
        color: white;
    }

.menuCategory {
    padding: 0.5rem 0em 0.5rem 0.5rem;
    white-space: initial;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    border-left: 0.3em solid #EEE;
    text-align: left;
    padding-right: 1em;
}
    .menuCategory img {
        width: 1.0rem;
        height: auto;
        vertical-align: bottom;
    }
.selectedMenuCategory {
    color: #00839C;
    border-color: #00839C;
}

h4 {
    color: #0097AE;
    font-size: 1.2em;
    margin: 10px 0;
    position: relative;
    font-weight: 500;

}

h3 {
    color: #0097AE;
    font-size: 1.5em;
    margin: 10px 0;
    position: relative;
    font-weight: 100;
}

h2 {
    /*color: #0097AE;*/
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0px;
}

.lateralMenu {
    background-color: #EEE;
    min-height: calc(100vh - 3.5em);
    padding: 0.5rem 2rem;
}

.lateralMenuItem {
    padding: 0.2rem 1rem;
    border-left: 3px solid #EEE;
    border-radius: 0.1rem;
    cursor: pointer;
}

.lateralMenuItem > img {
    height: 0.8rem;
    width: auto;
    margin-right: 0.3rem;
}
.lateralMenuItemSelected {
    border-color: #00839C;
    background-color: #e5e5eb;
}
.listItem {
    padding: 0.3em;
    border-bottom: 1px solid rgb(224, 221, 221);
    cursor: pointer;
}
    .listItem > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .listItem img {
        height: 0.8rem;
        width: auto;
        vertical-align: sub;
    }
.listItem:hover {
    text-decoration:underline;
}
.searchBox {
    background-color: #EEE;
    padding: 1rem;
}

.imgGraybutton {
    cursor: pointer;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #CCCCCC;
    padding: 0.1em;
}

    .imgGraybutton > img {
        vertical-align: middle;
        height: 1.5rem;
    }

button, input[type=submit] {
    /*border: 2px solid #007ab3;
    color: #007ab3;*/
    border: 2px solid #00839C;
    color: white;
    background-color: #00839C;
    padding: 0.2em 0.5em;
    display: inline;
    cursor: pointer;
    font-size: 1.0em;
    border-radius: 0.2em;
    min-width: 10em;
}

    button:hover, button:focus, input[type=submit]:focus, input[type=submit]:hover {
        color: white;
        background-color: #003848;
        outline: none;
    }

.zone {
    border: 1px solid rgb(231, 231, 231);
    text-align: center;
    border-radius: 0.3rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0.5rem auto;
    cursor: pointer;
}
.zoneZASelected {
    background-color: #00839C;
    color: white;
}
.formInput{
    padding: 0.5rem;
}
.formInputStandard {
    padding: 0.5rem;
}
    .formInputStandard > span {
        display: block;
        margin-bottom: 0.3rem;
    }
.formDivision {
    color: #00839C;
    font-size: 1.0rem;
    border-bottom: 1px solid #00839C;
}
.wizarTab {
    color: #032B44;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    padding: 0.3rem;
    margin-left: 0.3rem;
    text-align: center;
    border: 1px solid #032B44;
    background-color : #FFF;
    cursor: pointer;
}
.wizarTabActive {
    background-color: #00839C;
    color: white;
    border-color: #00839C;
}
.wizarTabError {
    color: #cc0000;
}
    .hoverLink:hover {
        text-decoration: underline;
        cursor: pointer
    }
.sidenav {
    height: 100%;
    width: 6rem;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #969696;
    overflow-x: hidden;
    padding: 4rem 0.5rem 0.5rem 0.5rem;

    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
}
.zone {
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    color:white;
    background-color: #666666;
}
.zone img{
    width:1.2rem;
    height:1.2rem;
    vertical-align:sub; 
    margin-right: 0.5rem;
}

.zone.logOut {
    margin-top: auto; 
}
.preSelectedZone {
    background-color: #00839C;
}
.selectedZone {
    background-color: #00839C;
    border: 1px solid #00839C;
    color: white;
}
.sidecontent {
    margin-left: 5rem;
}
.contentHeight {
    min-height: calc(100vh - 3.5em)
}
.mdialogo2 {
    position: fixed;
    top: 3.5rem;
    right: 0px;
    left: 5rem;
    z-index: 1002;
}

    .mdialogo2 .mdialogoContent {
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

        .mdialogo2 .mdialogoContent .mdialogoHead {
            background: rgb(77,77,77);
            height: 1.8em;
        }

            .mdialogo2 .mdialogoContent .mdialogoHead > img {
                height: 1.8em;
                width: 1.8em;
                cursor: pointer;
                padding: 0px;
                float: right;
            }
.closeButton {
    cursor: pointer;
    display: inline-block;
    padding:0.1rem;
    line-height: 0.8rem;
}
.closeButton > img{
    height: 0.8rem;
    width: 0.8rem;
    vertical-align:top;
}
.selectedAcces {
    color: white;
    background-color: #032B44;
}
table thead th {
    position: sticky;
    top: 0;
    background-color: #00839C;
    color: white;
    z-index: 2;
  }
.table-container {
    max-height: 50vh;
    overflow-y: auto;
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
    margin: 0px auto;
}
    .dataTable th {
        color: white;
        background-color: #00839C;
        font-weight: normal;
        border: 1px solid #cccccc;
        border-top: 2px solid #00839C;
        border-bottom: 2px solid #00839C;
        font-weight: normal;
    }

    .dataTable th, .dataTable td {
        border: 1px solid #cccccc;
        padding: 0.2em 0.5em;
    }

    .dataTable tr:nth-child(even) {
        background: #f7f7f7;
    }

    .dataTable tr:nth-child(odd) {
        background: #FFF;
    }

    .dataTable img {
        width: 1.5em;
        height: auto;
    }

.menuCard {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 1rem;
   
}
.delete {
    background: none;
    border: none;
    color: #dc3545;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
@media (max-width: 1024px) {
    .cargo-item {
        width: 48%; 
    }
}
@media (max-width: 600px) {
    .cargo-item {
        width: 100%;
    }
}
.col-rol {
    width: 23%;
}
.col-descripcion {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.col-eliminar {
    width: 23%;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  .modal {
    background: white;
    padding: 5px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: right;
    color: red;
  }
  .modal span {
    color: red;
    cursor: pointer;
  }
  .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .modal-buttons button {
    min-width: 100px;
    text-align: center;
    border: none;
    outline: none;
  }
  .modal-buttons button:first-child {
    background-color: #e74c3c;
    color: white;
  }
  .modal-buttons button:last-child {
    background-color: #ccc;
    color: #333;
  }
  .btn-inactivo {
    background-color: #e0e0e0;
    color: #888;
    cursor: not-allowed;
  }
  @media (max-width: 600px) {
    .modal {
      width: 90%;
      padding: 15px;
      text-align: center;
    }
  
    .modal-buttons {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .modal-buttons button {
      width: 120px;
    }
  }
  
  