/*
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Light.ttf');
}

@font-face {
    font-family: 'BenchNine';
    src: url('font/BenchNine-Light.ttf');
}
*/

/************************************* Pantalla login *******************************************/

.header-login {
    background-color: #fff !important;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
    height: 88px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .header-login .logo {
        height: 50px;
    }

    .header-login .title {
        font-size: 18px;
        font-weight: bold;
        color: #007c9d;
    }

.login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.carousel-section {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

.login-section {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.login-card {
    text-align: center;
}

.login-form input {
    width: 80% !important;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer-login {
    height: 85px !important;
    background: #fff;
    color: #222 !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    width: 100%;
}

@media (max-width: 900px) {
    .carousel-section {
        width: 50%;
    }

    .login-section {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .header-login .title {
        display: none;
    }

    .header-login {
        justify-content: center;
    }

    .header-login {
        flex-direction: column;
        text-align: center;
    }

        .header-login .logo {
            height: 40px;
        }

        .header-login .title {
            font-size: 16px;
        }

    .mainContent {
        flex-direction: column;
    }

    .carousel-section {
        display: none;
    }

    .login-section {
        width: 100%;
    }

    .footer-login {
        justify-content: center;
        padding-right: 0;
    }
}

/*******************************************/
/************ Fondo Pantalla ***************/
/*******************************************/

.container-fondopantalla {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    padding: 1rem;
    margin: 1rem 10rem 0;
    width: 65%;
}

.content {
    text-align: center;
}

.control-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-top: 10px; /* Se sube un poco la sección */
    padding-top: 10px; /* Espacio para la línea gris */
    border-top: 1px solid #ccc; /* Línea gris */
}

.button-group {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

.duration-select {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .duration-select select {
        width: auto;
        min-width: 80px;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

.file-upload-label,
.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00839C;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
    width: 140px;
    height: 37px;
    border: none;
}

    .file-upload-label:hover,
    .custom-button:hover {
        background: #236D84;
    }

    .file-upload-label input[type="file"] {
        display: none;
    }



.buttonFP {
    margin-top: 15px;
    width: 100%;
    background: #00839C;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: normal;
}

    .buttonFP:disabled {
        background: gray;
        cursor: not-allowed;
    }

    .buttonFP:hover:not(:disabled) {
        background: #236D84;
    }

.message {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

.preview-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fcfcfc;
}

.image-card {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out;
    border: 1px solid #ccc;
}

    .image-card:hover {
        transform: scale(1.05);
    }

    .image-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.delete-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    color:red;
    font-size: 14px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container-fondopantalla {
        flex-direction: column;
        width: 95%;
        max-width: none;
    }

    .left-panel, .right-panel {
        flex: none;
        width: 100%;
        padding: 15px;
    }

    .preview-container {
        justify-content: center;
        padding-left: 0;
        max-height: 250px;
    }

    .image-card {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .left-panel h2, .right-panel h3 {
        font-size: 14px;
    }

    .custom-file-upload, button {
        font-size: 12px;
        padding: 8px;
    }

    .image-card {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    .container-fondopantalla {
        flex-direction: column;
        width: 95%;
        max-width: none;
    }

    .left-panel, .right-panel {
        flex: none;
        width: 100%;
        padding: 15px;
    }

    .preview-container {
        justify-content: center;
        padding-left: 0;
        max-height: 250px;
    }

    .image-card {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .left-panel h2, .right-panel h3 {
        font-size: 14px;
    }

    .custom-file-upload, button {
        font-size: 12px;
        padding: 8px;
    }

    .image-card {
        width: 100px;
        height: 100px;
    }
}


    /***********************************************/

    .zona-asesores {
    background-color: #4bafb7;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
}
    .zona-asesores:hover {
        background-color: #3a8f97;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }
.logo {
    width: 15rem;
    height: auto;
    margin-right: 0.5rem;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 33px;
    color: #4bafb7;
    text-decoration: none;
    font-size: 14px;
    text-align: left;
    transition: color 0.3s ease;
}

    .forgot-password:hover {
        color: #005f71;
        text-decoration: underline;
    }

.login-form input
 {
    margin: 6px 0;
    height: 36px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0px 14px;
    color: #00839c;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-form button {
    margin: 6px 0;
    height: 36px;
    border: none;
    background-color: #4bafb7;
    border-radius: 4px;
    padding: 0px 14px;
    color: #ffffff;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-form button:hover {
    background-color: #236D84;
    color: white;
}

    .login-form input:active,
    .login-form button:active {
        transform: scale(0.95);
    }

@media (min-width: 768px) {
    .move-right {
        margin-left: auto;
        width: 40%;
    }
}

.rightImg {
    position: absolute;
    right: 1em;
}

.scroll {
    display: block;
    height: 80px;
    overflow: auto;
    overflow-y: hidden;
}

.container {
    justify-content: center;
    align-items: center;
}

.themeBorder {
    border: 1px solid #006092;
    border-radius: 0.3em;
}

.redButton {
    background-color: red;
    border: 2px solid red;
}

    .redButton:hover, .redButton:focus {
        background: #800000 !important;
    }

.footer {
    height: 2em;
    width: 100%;
    border-top: 0px solid #3C3C3C;
}

.progressBackgroundFilter {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity: 0.60;
    z-index: 1000;
}

    .progressBackgroundFilter > div {
        text-align: center;
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        z-index: 1006;
    }

        .progressBackgroundFilter > div > img {
            width: 10%;
            display: inline-block;
            vertical-align: middle;
            padding-top: 40vh;
        }

input[type=text], input[type=password], select, textarea, input[type^=date], input[type=number], input[type=email], input[type=time] {
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 3px 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 2.3em;
    background-color: #f1f9fa;
}

    input[type=text]:focus, input[type=password]:focus, select:focus, input[type=submit]:focus, textarea:focus, input[type^=date]:focus, input[type=email]:focus, input[type=time]:focus,
    input[type=number]:focus {
        outline: none;
        border-color: #007ab3;
    }

.infoTable {
    border-collapse: collapse;
    width: 100%;
}

    .infoTable td, .infoTable th {
        /*white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;*/
        border: 1px solid #0e547d;
        border-width: 1px 1px;
        padding: 0.5em;
    }

    .infoTable th {
        background-color: #0e547d;
        color: white;
        font-weight: normal;
        text-align: left;
    }

.subTitle {
    color: #0097AE;
    /*font-family: 'TitleFont', sans-serif;*/
    font-weight: 900;
    /*font-size: 1.3em;
    text-transform: uppercase;
    margin-right: 1em;*/
}

.rightBlue {
    color: #0e547d;
    font-weight: 900;
    text-align: right;
}

.leftBlue {
    color: #0e547d;
    font-weight: 900;
    text-align: left;
}

.infoCard {
    border: 2px solid #0e547d;
    padding: 1em;
    margin: 1em 0em;
    cursor: pointer;
}

    .infoCard:hover {
        background-color: #f2f2f2;
    }

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.shadow {
    -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.75);
}

.hoverShadow:hover, .hoverShadow:focus {
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.75);
}

.cmenu {
    display: inline-block;
    width: 18em;
    cursor: pointer;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-right: 1em;
}

    .cmenu img {
        width: 2em;
        height: auto;
        margin-right: 1em;
    }

    .cmenu:hover {
        -webkit-box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
    }


.imgButton {
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    padding: 0.5em;
    font-size: 0.8em;
    margin: 0.5em 0.5em;
    background-color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

    .imgButton > img {
        width: 1.0em;
        height: auto;
        margin-right: 0.5em;
    }

    .imgButton:hover, .imgButton:focus {
        -webkit-box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.75);
        outline: none;
    }

.fixedInput {
    display: inline-block;
    width: 15em;
}



.stickyHeader > tbody > tr > th, .stickyHeader > thead > tr > th {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
}

.innerTable {
    width: 100%;
    border-collapse: collapse;
    margin: 0px auto;
    table-layout: fixed;
}

    .innerTable > tbody > tr > th {
        color: #0e547d;
        font-weight: normal;
        background-color: #f5f5f5;
    }

    .innerTable > tbody > tr > td {
        text-align: right;
        background-color: white;
    }

    .innerTable > tbody > tr > th, .innerTable > tbody > tr > td {
        border: 0px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }

.documentTable {
    width: 100%;
    border-collapse: collapse;
}

    .documentTable td {
        border: 1px solid #CCCCCC;
    }

    .documentTable img {
        width: 1.5em;
        height: auto;
    }

.noResizeTable td {
    white-space: nowrap;
}

.buttonTd {
    cursor: pointer;
    border: 0px !important;
    padding: 0em 0em !important;
    text-align: center
}

    .buttonTd > img {
        vertical-align: middle;
        height: 1.2em;
        width: auto;
    }

    .buttonTd:hover, .buttonTd:focus {
        outline: none;
        background-color: #b3e6ff;
    }

.imgButton01 {
    text-align: center;
    background-color: white;
    padding: 0.5em;
    font-size: 0.8em;
    cursor: pointer;
    min-width: 10em;
    display: inline-block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

    .imgButton01:hover {
        background-color: #e6eeff;
    }

    .imgButton01 > img {
        vertical-align: bottom;
        height: 1.2em;
        width: auto;
    }

    .imgButton01 > span {
        /*vertical-align: super;*/
        margin-left: 0.3em;
    }

.grayData > span {
    display: block;
    background-color: #f5f5f5;
    text-align: center;
    padding: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.whiteData > span {
    display: block;
    background-color: white;
    text-align: center;
    color: #808080;
    padding: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

.whiteData {
    font-weight: bold;
}

.grayButton {
    cursor: pointer;
}

    .grayButton:hover {
        background-color: #b3e6ff !important;
    }

.selected {
    background-color: #fff6cc !important;
}

.selected2 {
    background-color: #f7f7f7 !important;
}

.touched {
    background-color: #ffd9b3 !important;
}

.overflowEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}
/***************************************************** EDIT TABLE *****************************************/
.editTable {
    width: 100%;
    border-collapse: collapse;
    margin: 0px auto;
}

    .editTable td, .editTable th {
        font-size: 0.9em;
    }

    .editTable td {
        /* border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc; */
        border: 1px solid #cccccc;
        padding: 0em 1em;
    }

    .editTable th {
        border: 1px solid #cccccc;
        border-top: 2px solid rgb(0,104,162);
        border-bottom: 2px solid rgb(0,104,162);
        color: rgb(0,104,162);
        font-weight: normal;
    }

.errorInput {
    border: 1px solid red !important;
}
/***************************************************************************** DIALOG **********************************************/
.progressBackgroundFilter {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #fff;
    filter: alpha(opacity=20);
    -moz-opacity: 0.20;
    -khtml-opacity: 0.20;
    opacity: 0.20;
    z-index: 1000;
}

    .progressBackgroundFilter > div {
        text-align: center;
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        z-index: 1000;
    }

        .progressBackgroundFilter > div > img {
            width: 10%;
            display: inline-block;
            vertical-align: middle;
            padding-top: 20%;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
        }

/***************************************************************************** CAMARA **********************************************/
.camaraBacground {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
    /*background-color: #fff;
    text-align:center;
    filter: alpha(opacity=20);
    -moz-opacity: 0.20;
    -khtml-opacity: 0.20;
    opacity: 0.20;*/
}

.camaraDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    text-align: center;
}

    .camaraDiv > video {
        background-color: black;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }

.buttonBar {
    position: fixed;
    bottom: 1em;
    left: 0px;
    right: 0px;
}

.divGrid > div {
    padding: 0em 0.5em;
}

.chatWindow {
    position: fixed;
    width: 30em;
    height: calc(100vh - 2em);
    background-color: white;
    right: 0em;
    bottom: 0em;
}

.chatHeader {
    background-color: #0097AE;
    color: white;
}


/***************************************************************************** BANDEJA DE SOLICITUDES **********************************************/

.bandejaSolicitudes {
    width: 100%;
    display: flex;
    height: 85vh;
    padding: 10px
}

    .bandejaSolicitudes .left_side {
        width: 25%;
        max-height: inherit;
        overflow: scroll;
        min-width: 345px;
    }

        .bandejaSolicitudes .left_side .left_side__card {
            border-radius: 10px;
            width: 90%;
            height: auto;
            min-height: 50px;
            background: #006776;
            margin: 10px auto;
            display: grid;
            grid-template-columns: 1fr 5fr;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .bandejaSolicitudes .left_side .left_side__card:hover {
                background-color: #004d5c;
            }

            .bandejaSolicitudes .left_side .left_side__card aside {
                width: 100%;
                background: #FFA500;
                margin: 0 auto;
                display: grid;
                align-items: center;
                text-align: center; /* Centra horizontalmente el texto */
            }

            .bandejaSolicitudes .left_side .left_side__card .left_side__card-title {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

                .bandejaSolicitudes .left_side .left_side__card .left_side__card-title div {
                    height: 40%;
                }

    .bandejaSolicitudes .right_side {
        max-height: inherit;
        display: flex;
        flex-direction: column;
        width: 75%;
        border-left: 3px solid #9d9d9d;
        overflow-y: scroll;
    }

        .bandejaSolicitudes .right_side .right_side__details {
            height: auto;
            background: #f5f5f5;
            padding: 2%;
        }

            .bandejaSolicitudes .right_side .right_side__details .right_side__details-detail {
                padding: 10px;
                text-align: center;
            }

        .bandejaSolicitudes .right_side .right_side__settingDate {
            padding: 3%;
            height: 40%;
            background: #d9d9d9;
            display: grid;
            place-items: center;
        }

/***************************************************************************** Tabs **********************************************/

.tabs {
    grid-row: 1;
    grid-column: 1 / span 2;
}

    .tabs ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--menu-bg-color);
        height: 30px;
        display: flex;
        align-items: center;
    }

        .tabs ul li {
            float: left;
            padding: 10px;
            cursor: pointer;
        }

    .tabs .is-active {
        background-color: #0e547d;
        color: white;
    }



/* pure-hidden-xs */
@media screen and (max-width:567px) {
    .pure-visible-sm {
        display: none !important;
    }

    .pure-visible-md {
        display: none !important;
    }

    .pure-visible-lg {
        display: none !important;
    }

    .pure-visible-xl {
        display: none !important;
    }

    .pure-hidden-xs {
        display: none !important;
    }

    .chatWindow {
        width: 100%;
    }
}
/* pure-hidden-sm */
@media screen and (min-width:568px) and (max-width:767px) {
    .pure-visible-xs {
        display: none !important;
    }

    .pure-visible-md {
        display: none !important;
    }

    .pure-visible-lg {
        display: none !important;
    }

    .pure-visible-xl {
        display: none !important;
    }

    .pure-hidden-sm {
        display: none !important;
    }
}
/* pure-hidden-md */
@media screen and (min-width:768px) and (max-width:1023px) {
    .pure-visible-xs {
        display: none !important;
    }

    .pure-visible-sm {
        display: none !important;
    }

    .pure-visible-lg {
        display: none !important;
    }

    .pure-visible-xl {
        display: none !important;
    }

    .pure-hidden-md {
        display: none !important;
    }
}
/* pure-hidden-lg */
@media screen and (min-width:1024px) and (max-width:1279px) {
    .pure-visible-xs {
        display: none !important;
    }

    .pure-visible-sm {
        display: none !important;
    }

    .pure-visible-md {
        display: none !important;
    }

    .pure-visible-xl {
        display: none !important;
    }

    .pure-hidden-lg {
        display: none !important;
    }
}
/* pure-hidden-xl */
@media screen and (min-width:1280px) {
    .pure-visible-xs {
        display: none !important;
    }

    .pure-visible-sm {
        display: none !important;
    }

    .pure-visible-md {
        display: none !important;
    }

    .pure-visible-lg {
        display: none !important;
    }

    .pure-hidden-xl {
        display: none !important;
    }
}



.multiselect__content-wrapper {
    position: absolute;
    display: block;
    background: #fff;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 50;
    -webkit-overflow-scrolling: touch;
}

.multiselect__content-wrapper_if {
    position: absolute;
    display: block;
    background: #fff;
    width: 100%;
    max-height: 240px;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 50;
}

.multiselect__content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 100%;
    vertical-align: sub;
}

    .multiselect__content li:hover {
        background-color: #9f9f9f;
    }

.multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: left;
    color: #35495e;
}

.select_multiple {
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 3px 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.multiselect__content-wrapper li {
    width: 100%;
    padding: 3px 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 2.3em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    font-family: arial;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-right: 1%;
    margin-top: 1%;
    padding-left: 1%;
}

.price {
    color: grey;
    font-size: 22px;
}

.card span {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    /*background-color: #0379BA;*/
    background-color: red;
    cursor: pointer;
    font-size: 18px;
}

    .card span:hover {
        opacity: 0.7;
    }



.main_section {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    max-height: 80vh;
    margin: 15px auto;
    background: #bebebe38;
    padding: 1%;
    flex-wrap: wrap;
    /*overflow: scroll;*/
}

.state_doc {
    cursor: pointer;
    background-color: #cfe2ff !important;
    color: #084298;
    border-color: #b6d4fe;
}

    .state_doc.red {
        background-color: #f8d7da !important;
        color: #842029;
        border-color: #f5c2c7;
    }

    .state_doc.green {
        background-color: #d1e7dd !important;
        color: #0f5132;
        border-color: #badbcc;
    }
