<div class="pure-g">
    <div style="position:relative">
        <div class="float-btn" @click="showList = !showList" v-bind:class="{'open': showList}"
            :style="{right: (showList?'-20.3vw':'-2.3vw') }">
            <img src="../../img/ico/deploy.png">
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-5 lateralMenu" :style="{display:showList?'block':'none'}">
        <div class="lateralMenuHeader">
        </div>
        <div class="lateralMenuGroup">
            <div class="lateralMenuItem noSelect group" style="padding-left: 8px; cursor: auto;">
                Mi Agenda
            </div>
        </div>
        <div class="lateralMenuGroup">
            <div v-on:click="setMainMode(0)" class="lateralMenuItem noSelect"
                v-bind:class="{'lateralMenuItemSelected': mode == 0}">
                <img src="./img/ico/svg/sidebar/Compromisos.svg" />
                Mis Tareas
            </div>
            <div v-on:click="setMainMode(1)" class="lateralMenuItem noSelect"
                v-bind:class="{'lateralMenuItemSelected': mode == 1}">
                <img src="./img/ico/svg/sidebar/Mi Calendario.svg" />
                Mi Calendario
            </div>
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-4-5" :class="!showList && 'pure-u-md-1-1'">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-22-24">
            <div style="font-size: 1rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 0.5rem 1rem;">
                <div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
                    <span class="hoverLink">{{ r.text }}</span>
                    <span v-if="i < ruta.length - 1"> / </span>
                </div>
            </div>
        </div>
        <div v-if="mode == 0" style="padding: 1em">
            <div class="pure-u-1-24 pure-u-md-1-24"></div>
            <div class="pure-u-22-24 pure-u-md-22-24 menuCard">
                <h2 style="margin-bottom: .5rem;">{{usuario.nombres}}</h2>
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom: 4px;">
                    Fecha de hoy: {{ formatDatetime(null, 'date') }}
                </div>

                <div class="searchBox">
                    <div class="pure-g">
                        <div class='pure-u-1-1 pure-u-md-19-24'
                            style="display: flex; justify-content: space-between; gap: .5rem">
                            <select v-model="filtros.tareas.id_proyecto" class="pure-input-1" @change="cancel">
                                <option value="">[Todos los proyectos]</option>
                                <option v-for="pro in proyectos" :value="pro.id_proyecto">
                                    {{pro.nombre}}
                                </option>
                            </select>
                            <select v-model="filtros.tareas.id_estado" class="pure-input-1" @change="cancel">
                                <option value="">[Todos los estados]</option>
                                <option v-for="estado in estados" :value="estado.id_estado">{{estado.nombre}}</option>
                            </select>
                            <select v-model="filtros.tareas.id_prioridad" class="pure-input-1" @change="cancel">
                                <option value="">[Todas las prioridades]</option>
                                <option v-for="p in prioridades" :value="p.id_prioridad">{{p.nombre}}</option>
                            </select>
                            <select id="sel-orden" v-model="orden" @change="cancel">
                                <option value="dead-prio">Deadline - Prioridad</option>
                                <option value="prio-dead">Prioridad - Deadline</option>
                            </select>
                            <label class="check" style="min-width: 140px;">
                                <input type="checkbox" :checked="filtros.tareas.activa" @change="onChangeActive" />
                                <span class="checkmark"></span>
                                Mostrar solo tareas activas
                            </label>
                        </div>
                        <div class='pure-u-1-2 pure-u-md-1-24'>
                            <img src="../../img/cli/excel_02.png" alt="Excel" class="pure-img logoExcel"
                                @click="exportExcel('tareas')" title="Descargar datos a Excel" />
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6' style="text-align: right;">
                            <button @click="newRow()">Agregar Tarea</button>
                        </div>
                    </div>
                </div>

                <div style="height: calc(100vh - 20rem); overflow-y: auto;">
                    <table class="dataTable" style="table-layout: auto;">
                        <thead>
                            <tr>
                                <th style="width: 11%;">Fecha de Alta</th>
                                <th style="width: 11%;">Fecha Deadline</th>
                                <th style="width: 16%;">Proyecto</th>
                                <th style="width: 28%;">Descripción</th>
                                <th style="width: 11%;">Prioridad</th>
                                <th style="width: 11%;">Estado</th>
                                <th style="width: 6%;">Editar</th>
                                <th style="width: 6%;">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="editNewRow" class="editable" v-bind:class="{'destacada': selRow == null}">
                                <td><input type="date" v-model="tarea.alta" readonly></td>
                                <td><input type="date" v-model="tarea.deadline" :min="tarea.alta"></td>
                                <td>
                                    <select v-model="tarea.id_proyecto">
                                        <option value="" disabled>[Seleccione]</option>
                                        <option v-for="pro in proyectos" :value="pro.id_proyecto">{{pro.nombre}}
                                        </option>
                                    </select>
                                </td>
                                <td><input type="text" v-model="tarea.descripcion"></td>
                                <td>
                                    <select v-model="tarea.id_prioridad">
                                        <option value="" disabled>[Seleccione]</option>
                                        <option v-for="p in prioridades" :value="p.id_prioridad">{{p.nombre}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select v-model="tarea.id_estado">
                                        <option value="" disabled>[Seleccione]</option>
                                        <option v-for="e in estados" :value="e.id_estado">{{e.nombre}}</option>
                                    </select>
                                </td>
                                <td style="text-align: center;">
                                    <span class="delete" @click.stop.prevent="onSave">💾</span>
                                </td>
                                <td style="text-align: center;">
                                    <span class="delete" @click.stop.prevent="editNewRow = false; tarea = {};">✖</span>
                                </td>
                            </tr>
                            <tr v-for="(t, i) in getFilteredList('tareas')" @click="onSelect(t, i)"
                                v-bind:class="{'destacada': selRow == i, 'editable': enableEdit && selRow == i, 'deshabilitada': t.id_estado == '4'}">
                                <td>
                                    <input type="date" v-model="tarea.alta" v-if="enableEdit && selRow == i" readonly>
                                    <span v-else>{{formatDatetime(t.alta + ' 00:00', 'date')}}</span>
                                </td>
                                <td>
                                    <input type="date" v-model="tarea.deadline" v-if="enableEdit && selRow == i"
                                        :min="tarea.alta">
                                    <span v-else>{{formatDatetime(t.deadline + ' 00:00', 'date')}}</span>
                                </td>
                                <td>
                                    <select v-model="tarea.id_proyecto" v-if="enableEdit && selRow == i">
                                        <option value="" disabled>[Seleccione]</option>
                                        <option v-for="pro in proyectos" :value="pro.id_proyecto">{{pro.nombre}}
                                        </option>
                                    </select>
                                    <span v-else>{{t.proyecto}}</span>
                                </td>
                                <td @mouseenter="tooltipVisible = true; tooltipMsg = t.descripcion.replaceAll('\n', '<br>');"
                                    @mouseleave="tooltipVisible = false;" @mousemove="updateCursor">
                                    <input type="text" v-model="tarea.descripcion" v-if="enableEdit && selRow == i">
                                    <span v-else>{{t.descripcion}}</span>
                                </td>
                                <td style="text-align: center;">
                                    <select v-model="tarea.id_prioridad" v-if="enableEdit && selRow == i">
                                        <option value="" disabled>[Seleccione]</option>
                                        <option v-for="p in prioridades" :value="p.id_prioridad">{{p.nombre}}</option>
                                    </select>
                                    <span v-else>{{t.prioridad}}</span>
                                </td>
                                <td style="text-align: center;">
                                    <select v-model="tarea.id_estado" v-if="enableEdit && selRow == i">
                                        <option value="" disabled>[Seleccione]</option>
                                        <option v-for="e in estados" :value="e.id_estado">{{e.nombre}}</option>
                                    </select>
                                    <span v-else>{{t.estado}}</span>
                                </td>
                                <td style="text-align: center;">
                                    <span class="delete" @click.stop.prevent="onSave"
                                        v-if="enableEdit && selRow == i">💾</span>
                                    <span class="delete" @click.stop.prevent="onSelect(t, i); enableEdit = true;"
                                        v-else>✏️</span>
                                </td>
                                <td style="text-align: center;">
                                    <span class="delete"
                                        @click.stop.prevent="t.id_estado != '4' && (onSelect(t, i), reqDelete())">✖</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-if="tooltipVisible && tooltipMsg && !enableEdit" class="cursor-tooltip" v-html="tooltipMsg"
                        :style="{ top: tooltipY + 'px', left: tooltipX + 'px' }">
                    </div>
                </div>
            </div>
        </div>
        <div v-if="mode == 1" style="padding: 1em;">
            <div class="pure-u-1-24 pure-u-md-1-24"></div>
            <div class="pure-u-22-24 pure-u-md-22-24 menuCard" style="height: calc(100vh - 8rem)">
                <div style="padding-bottom: 5px; border-bottom: 1px solid #00839C;">
                    <div class='pure-u-1-3 pure-u-md-3-8 formDivision' style="font-size: 1.5em; border: 0;">
                        Fecha actual: {{ formatDatetime(null, 'date') }}
                    </div>
                    <div class='pure-u-2-3 pure-u-md-10-24 formDivision' style="font-size: 1.5em; border: 0;">
                        Fecha seleccionada: {{ formatDatetime(null, 'date', selDate) }}
                    </div>
                    <div class="pure-u-1-1 pure-u-md-5-24" style="text-align: end;">
                        <div @click="!isToday() && setToday()" class="cal-btn today"
                            :style="isToday() ? 'background-color: #636363;' : ''">Ir a Hoy</div>
                        <div @click="setDate(-1)" class="cal-btn"
                            style="border-top-right-radius: 0; border-bottom-right-radius: 0;">&lt;</div>
                        <div @click="setDate(1)" class="cal-btn"
                            style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                            &gt;</div>
                    </div>
                </div>
                <div style="display: flex; align-items: center; padding: 5px 0;">
                    <div class="pure-u-1-1 pure-u-md-1-3">
                        <div class="btn-view-group">
                            <div class="radio-group cal-opc">
                                <label v-for="opt in optionMode" :for="`view-${opt.class}`">
                                    <input type="radio" name="view" :id="`view-${opt.class}`"
                                        :checked="viewMode.class == opt.class" @click="updateViewMode(opt.class)" />
                                    <span>{{opt.name}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-3" style="padding: 0 8px;">
                        <div class="btn-view-group">
                            <div class="radio-group cal-opc" style="justify-content: center; gap: 8px">
                                <label for="show-event" style="width: 7.5rem;">
                                    <input type="radio" name="show" id="show-event" :checked="showMode == 'event'"
                                        @click="setShowMode('event')" />
                                    <span>Ver mis hitos</span>
                                </label>
                                <label for="show-task" style="width: 7.5rem;"
                                    @mouseenter="tooltipVisible = true; tooltipMsg = 'Solo se muestran tareas activas'"
                                    @mousemove="updateCursor" @mouseleave="tooltipVisible = false;"
                                    @click="setShowMode('task')">
                                    <input type="radio" name="show" id="show-task" :checked="showMode == 'task'" />
                                    <span>Ver mis tareas</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-6" style="padding-right: 4px;">
                        <select v-model="sala_filter" @change="pro_filter = null;setViewMonths()"
                            v-if="showMode == 'event'">
                            <option :value="null">Todas la salas</option>
                            <option v-for="sala in salas" :value="sala.id_sala_venta">
                                {{sala.sala_venta}}
                            </option>
                        </select>
                        <select v-model="filter_sort" @change="setTableDetails(selDate)" 
                            v-if="showMode == 'task' && (viewMode.class == 's1' || viewMode.class == 'm1')">
                            <option value="dias">Ordenar por días</option>
                            <option value="deadline">Ordenar por deadline</option>
                            <option value="prioridad">Ordenar por prioridad</option>
                        </select>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-6" style="padding-left: 4px;">
                        <select v-model="pro_filter" @change="setViewMonths">
                            <option :value="null">Todos los proyectos</option>
                            <option
                                v-for="pro in proyectos.filter(p => !sala_filter || p.salas.split(',').includes(sala_filter))"
                                :value="pro.id_proyecto">
                                {{pro.nombre}}
                            </option>
                        </select>
                    </div>
                </div>

                <div style="display: flex; gap: 5px; height: calc(100vh - 16rem);">
                    <div
                        :class="`calendar pure-u-1-1 ${viewMode.class == 'm6' || viewMode.class == 'm12' ? 'pure-u-md-1-1' : 'pure-u-md-1-3'} ` + viewMode.class">
                        <div class="cal-month"
                            v-for="i in Array.from({length: viewMode.months}, (_, i) => i + viewMode.initMonth)"
                            v-bind:class="{'cal-sel-month': viewMonths[nameMonths[i]].selected}">
                            <div class="cal-header">
                                <div class="cal-name-month">
                                    <span>{{`${nameMonths[i]} - ${viewMonths[nameMonths[i]].year}`}}</span>
                                </div>
                            </div>
                            <div class="cal-header">
                                <div class="cal-name-day" v-for="name in nameDays">
                                    <span>{{name}}</span>
                                </div>
                            </div>
                            <div class="cal-matrix">
                                <div class="cal-day" v-for="day in viewMonths[nameMonths[i]].days"
                                    :id="`mat-m${day.month}-d${day.monthDay}-${day.currentMonth ? 'c' : day.viewMonth}`"
                                    v-bind:class="{'cal-today': day.isToday, 'cal-fade-day': !day.currentMonth, 
                                        'cal-sel-day': day.isSelected, 'cal-holiday': day.isHoliday, 'cal-restday': !day.isHoliday && day.isRestday,
                                        'cal-sel-week': viewMode.class == 's1' && currentDay.weekCount == day.weekCount && i == currentDay.month}"
                                    @click="day.currentMonth && selDay(day, true)"
                                    :style="day.events && day.events.filter(e => e.festivo != '1').length ? 
                                        `background-color: ${day.events.filter(e => e.festivo != '1')[0].color}40;` : ''" @dblclick="onDblClickDay(day)">
                                    <span>
                                        {{day.monthDay}}
                                    </span>
                                    <div v-if="showMode == 'event'" class="hide-editor" v-bind:class="{'cal-event-count': 
                                        day.events && day.events.filter(e => e.festivo != '1').length }">
                                        <span>{{day.events.filter(e => e.festivo != '1').length}}</span>
                                    </div>
                                    <div v-if="showMode == 'task'" class="hide-editor" v-bind:class="{'cal-event-count': 
                                        day.tasks && day.tasks.length }">
                                        <span>{{day.tasks.length}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-2-3" v-if="viewMode.class == 's1' || viewMode.class == 'm1'">
                        <div style="display: flex; justify-content: space-between; height: 2rem;">
                            <label class="check" style="min-width: 140px;">
                                <input type="checkbox" v-model="allDays" @change="setTableDetails(selDate);"/>
                                <span class="checkmark"></span>
                                Ver todos los días
                            </label>
                            <img src="../../img/cli/excel_02.png" alt="Excel" class="pure-img logoExcel"
                                @click="exportExcelDays()" title="Descargar datos a Excel" />
                        </div>
                        <div class="cal-table" style="height: calc(100% - 2rem);">
                            <table class="dataTable" v-if="showMode == 'event'">
                                <thead>
                                    <tr>
                                        <th style="width: 16%;">Fecha</th>
                                        <th style="width: 33%;">Titulo</th>
                                        <th style="width: 14%;">Tipo</th>
                                        <th style="width: 21%;">Categorías (#)</th>
                                        <th style="width: 16%;">Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="day in tableDays" @click="day.day.currentMonth && selDay(day.day)"
                                        @dblclick="day.day.currentMonth && day.event ? (openModal(2, day.event)) : null"
                                        :id="`tab-m${day.day.month}-d${day.day.monthDay}`"
                                        v-bind:class="{'cal-table-selected': day.day.isSelected, 'cal-table-today': day.day.isToday, 
                                    'cal-deshabilitada': !day.day.currentMonth, 'cal-row-info': day.e_tipo && day.e_tipo != '-'}"
                                        :style="day.color ? 'background: ' + day.color + ';' : day.day.isSelected ? 'background: #ddd;' : null">
                                        <td @mouseenter="tooltipVisible = true; tooltipMsg = day.day.progState || 'Sin asignación'"
                                            @mousemove="updateCursor" @mouseleave="tooltipVisible = false;">
                                            {{formatDatetime(null, 'date', day.day.date)}}</td>
                                        <td>{{day.e_titulo}}</td>
                                        <td>{{day.e_tipo}}</td>
                                        <td v-if="!day.e_categorias"></td>
                                        <td v-else :style="day.e_categorias.length > 1 ? 'padding: 0;' : ''">
                                            <span v-if="!day.e_categorias.length">-</span>
                                            <span
                                                v-else-if="day.e_categorias.length == 1">{{day.e_categorias[0]}}</span>
                                            <div v-else style="text-align: center;"
                                                @mouseenter="tooltipVisible = true; tooltipMsg = day.e_categorias.join(`&lt;br&gt;`)"
                                                @mouseleave="tooltipVisible = false;" @mousemove="updateCursor">
                                                <span class="cal-event-count">{{day.e_categorias.length}}</span>
                                            </div>
                                        </td>
                                        <td>{{day.e_hora}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="dataTable" v-if="showMode == 'task'">
                                <thead>
                                    <tr>
                                        <th style="width: 13%;">Deadline</th>
                                        <th style="width: 16%;">Proyecto</th>
                                        <th style="width: 32%;">Descripción</th>
                                        <th style="width: 13%;">Prioridad</th>
                                        <th style="width: 13%;">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="t in tableDays" @click="t.day.currentMonth && selDay(t.day)"
                                        @dblclick="onDblClickDay(t.day)" :id="`tab-m${t.day.month}-d${t.day.monthDay}`"
                                        v-bind:class="{'cal-table-selected': t.day.isSelected, 'cal-table-today': t.day.isToday, 
                                    'cal-deshabilitada': !t.day.currentMonth, 'cal-row-info': !!t.prioridad}"
                                        :style="t.color ? 'background: ' + t.color + ';' : t.day.isSelected ? 'background: #ddd;' : null">
                                        <td @mouseenter="tooltipVisible = true; tooltipMsg = t.day.progState || 'Sin asignación'"
                                            @mousemove="updateCursor" @mouseleave="tooltipVisible = false;">
                                            {{formatDatetime(null, 'date', t.day.date)}}</td>
                                        <td>{{t.proyecto}}</td>
                                        <td>{{t.descripcion}}</td>
                                        <td>{{t.prioridad}}</td>
                                        <td>{{t.estado}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-if="tooltipVisible" class="cursor-tooltip" v-html="tooltipMsg"
                            :style="{ top: tooltipY + 'px', left: tooltipX + 'px' }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal-modal-overlay" id="modalOverlay" @click="closeModal($event)">
                <div class="modal-container pure-g" v-if="modalmode == 1 || modalmode == 2" style="max-width: 900px;">
                    <div class="modal-scroll">
                        <img src="../../img/ico/svg/cerrar-transparente.svg" @click="closeModal($event, true)"
                            class="modal-cerrar">
                        <div class='pure-u-1-1 pure-u-md-1-1'>
                            <h2 style="text-align: center;">{{ formatDatetime(null, 'date', selDate) }}</h2>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1 formInputStandard'>
                            <span>Titulo</span>
                            <input type='text' maxlength="100" :value="hito.titulo" readonly />
                        </div>
                        <div class='pure-u-7-24 pure-u-md-7-24 formInputStandard'>
                            <span>Tipo de Hito</span>
                            <input type='text' maxlength="100" :value="eventType" readonly />
                        </div>
                        <div class='pure-u-7-24 pure-u-md-7-24 formInputStandard'>
                            <span>Sala</span>
                            <input type='text' maxlength="100" :value="hito.sala_venta" readonly />
                        </div>
                        <div class='pure-u-5-24 pure-u-md-5-24 formInputStandard' style="text-align: center;">
                            <span>Color</span>
                            <input type='color' :value="hito.color" style="margin-top: 2px;" disabled />
                        </div>
                        <div class='pure-u-5-24 pure-u-md-5-24 formInputStandard'>
                            <span>Fecha y Hora</span>
                            <input type='datetime-local' :value="hito.fecha" readonly />
                        </div>

                        <div class='pure-u-7-24 pure-u-md-7-24 formInputStandard'>
                            <span>Proyecto</span>
                            <input type='text' maxlength="100" :value="hito.nombre_pro || 'N/A'" readonly
                                :disabled="eventType === 'Sala'" />
                        </div>
                        <div class='pure-u-7-24 pure-u-md-7-24 formInputStandard'>
                            <span>Torre</span>
                            <input type='text' :value="hito.torre || 'N/A'" readonly
                                :disabled="eventType === 'Sala' || eventType === 'Proyecto'" />
                        </div>
                        <div class='pure-u-7-24 pure-u-md-7-24 formInputStandard'>
                            <span>Inmueble</span>
                            <input type='text' :value="hito.unidad || 'N/A'" readonly
                                :disabled="eventType !== 'Inmueble'" />
                        </div>

                        <span style="display: block; padding: .5rem; padding-bottom: 0;">
                            Agendar a las categorías:
                        </span>
                        <div class="modal-check-cont">
                            <div class='pure-u-1-2 pure-u-md-1-6' style="overflow: hidden;" v-for="cargo in cargos">
                                <label class="check" style="word-break: break-word;">
                                    <input type="checkbox" value='1' v-model="cargo.checked" disabled />
                                    <span class="checkmark"></span>
                                    {{cargo.cargo}}
                                </label>
                            </div>
                        </div>

                        <div class='pure-u-1-1 pure-u-md-4-5 formInputStandard' style="padding: .5rem;">
                            <span>Repetir</span>
                            <div class="radio-group cal-opc" style="width: 98%;">
                                <label v-for="fre in frecuencias" :for="`freq-${fre.name}`">
                                    <input type="radio" name="freq" :id="`freq-${fre.name}`" :checked="fre.checked"
                                        disabled />
                                    <span>{{fre.name}}</span>
                                </label>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-5 formInputStandard' style="padding: .5rem;">
                            <span>Hasta</span>
                            <input type="date" :value="hito.limite" style="margin-top: 2px;" readonly>
                        </div>

                        <div class='pure-u-1-1 pure-u-md-1-1 formInputStandard'>
                            <span>Descripción</span>
                            <textarea maxlength="255" :value="hito.descripcion" readonly
                                style="width: 100%; height: 100px; resize: none; font-size: 14px;"></textarea>
                        </div>
                        <div style="display: flex; width: 100%; gap: 4rem; justify-content: center;">
                            <div class='pure-u-1-1 pure-u-md-1-4 formInputStandard'>
                                <button @click="onCancel">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-container pure-g" v-if="modalmode == 3" style="position: relative; max-width: 850px;">
                    <img src="../../img/ico/svg/cerrar-transparente.svg" @click="closeModal($event, true)"
                        class="modal-cerrar events">
                    <div class="pure-u-1-1">
                        <h2 style="text-align: center; margin-bottom: 1rem;">
                            Hitos del {{ formatDatetime(null, 'date', selDate) }}
                        </h2>
                    </div>
                    <div class="event-list">
                        <div v-for="e in currentDay.events.filter(e => e.festivo != '1')" class="event-card pure-g"
                            @click="selEvent(e)"
                            :style="`border: 1px solid ${e.color}90; border-left: 6px solid ${e.color}; background-color: ${e.color}10;`">
                            <div class="pure-u-5-6 pure-u-md-5-6">
                                <h4 class="event-title">
                                    {{ e.titulo }} - {{ getMetaHito(e) }} - {{ formatDatetime(e.fecha, 'datetime-local') }}
                                    ({{(frecuencias.find(f => f.value == e.frecuencia) || frecuencias[0]).name}})
                                </h4>
                                <p class="event-description">{{ e.descripcion }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-container pure-g" v-if="modalmode == 4" style="position: relative; max-width: 850px;">
                    <img src="../../img/ico/svg/cerrar-transparente.svg" @click="closeModal($event, true)"
                        class="modal-cerrar events">
                    <div class="pure-u-1-1">
                        <h2 style="text-align: center; margin-bottom: 1rem;">
                            Tareas para el {{ formatDatetime(null, 'date', selDate) }}
                        </h2>
                    </div>
                    <div class="event-list">
                        <div v-for="t in currentDay.tasks.sort((a, b) => parseInt(b.orden_p) - parseInt(a.orden_p))"
                            class="event-card pure-g"
                            :style="`border: 1px solid ${t.color}90; border-left: 6px solid ${t.color}; background-color: ${t.color}10;`">
                            <div class="pure-u-5-6 pure-u-md-5-6">
                                <h4 class="event-title">
                                    {{ t.descripcion }} - {{t.proyecto}}
                                </h4>
                                <div class="task-edit-modal">
                                    <label>Prioridad:</label>
                                    <select v-model="t.id_prioridad" :style="`border: 1px solid ${t.color}b0;`"
                                        @change="updateTarea(t)">
                                        <option v-for="p in prioridades" :value="p.id_prioridad">{{p.nombre}}</option>
                                    </select>
                                    <label>Estado:</label>
                                    <select v-model="t.id_estado" :style="`border: 1px solid ${t.color}b0;`"
                                        @change="updateTarea(t)">
                                        <option v-for="e in estados" :value="e.id_estado">{{e.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>