<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-5 lateralMenu">
        <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 0.75rem;">
            {{ ruta }}
        </div>
        <div v-on:click="setMainMode(1)" class="lateralMenuItem noSelect"
            v-bind:class="{'lateralMenuItemSelected': mainmode == 1}">
            <img src="./img/ico/svg/screen.svg" />
            Edición Cargos
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-4-5">
        <!--EDICION CARGOS-->
        <div v-if="mainmode == 1" >
            <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem;">
                <span class="hoverLink" v-on:click="mode = 0">Edición Cargos</span>
            </div>
            <div v-if="mode == 0" style="padding-top: 2em;height: 85vh;" @click="actulCargo = false;">
                <div class="pure-u-1-12"></div>
                <div class="pure-u-5-6 menuCard">
                    <div class="pure-u-1-1">
                        <h2>Gestión de Cargos</h2>
                        <br />
                        <div class="pure-u-1-1 pure-u-md-11-24 input-group" style="padding-top: 1em">
                            <input type="text" v-model="nuevoCargo" placeholder="Ingrese un nuevo cargo">
                        </div>
                        <div class="pure-u-1-1 pure-u-md-2-24 input-group"></div>
                        <div class="pure-u-1-1 pure-u-md-11-24 input-group" style="padding:1em 0 1em">
                            <input type="text" v-model="nuevoDescripcion" placeholder="Ingrese la descripcion">
                        </div>
                        <div class="table-container">
                            <table class="dataTable">
                                <thead>
                                    <tr>
                                        <th>Cargo</th>
                                        <th>Descripción</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in cargos" :key="item.id_cargo">
                                        <td @click.stop="seleccionarCargo(item.cargo, item.id_cargo , item.Descripcion)">
                                            {{ item.cargo }}
                                        </td>
                                        <td @click.stop="seleccionarCargo(item.cargo, item.id_cargo , item.Descripcion)">
                                            {{ item.Descripcion }}
                                        </td>
                                        <td style="text-align: center;">
                                            <span class="delete" @click.stop="eliminarCargo(item.id_cargo)">✖</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="text-align: right; padding-top:2em;">
                            <button @click="actulCargo ? actualizarCargo() : agregarCargo()">
                                {{ actulCargo ? 'Actualizar' : 'Insertar' }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-12"></div>
            </div>
        </div>
    </div>
</div>