<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-5 lateralMenu">
        <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 0.75rem;">
            <div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
                <span class="hoverLink">{{ r.text }}</span>
                <span v-if="i < ruta.length - 1"> / </span>
            </div>
        </div>
        <div v-on:click="setMainMode(1)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 1}">
            <img src="./img/ico/svg/user.svg" />
            Categorias Adm
        </div>
        <div v-on:click="setMainMode(2)" class="lateralMenuItem noSelect"
            v-bind:class="{'lateralMenuItemSelected': mainmode == 2}">
            <img src="./img/ico/svg/user.svg" />
            Política de Contraseña
        </div>
        <div v-on:click="setMainMode(3)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 3}">
            <img src="./img/ico/svg/screen.svg" />
            Fondo Pantalla
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-4-5">
        <div v-if="mainmode == 1">
            <div style="font-size: 1rem; font-weight: 500; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem;">
                <div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
                    <span class="hoverLink">{{ r.text }}</span>
                    <span v-if="i < ruta.length - 1"> / </span>
                </div>
            </div>
            <div v-if="mode == 0" style="padding-top: 1em;">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <h2>Categorias Adm</h2>
                    <div class="searchBox">
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-md-16-24">
                                <input type="text" placeholder="Categoria" v-model="seachCargo" @keyup.enter="seachCargos" />
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-24">
                                <div class="imgGraybutton">
                                    <img src="./img/ico/svg/search.svg" @click="seachCargos" />
                                </div>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-24"></div>
                            <div class="pure-u-1-1 pure-u-md-5-24" style="text-align: right;">
                                <button v-on:click="startNewUser()">Nueva Categoria</button>
                            </div>
                        </div>
                    </div>
                    <div class="main-content">
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Categoria</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in cargos" :key="item.id_cargo" @click.stop="selectUser(item)">
                                    <td style="width: 15rem;">
                                        {{ item.cargo }}
                                    </td>
                                    <td>
                                        {{ item.descripcion }}
                                    </td>
                                    <td style="text-align: center; width: 12rem;">
                                        <span class="delete" @click.stop="eliminarCargo(item)">✖</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
            <!--Nuevo Cargo-->
            <div v-if="mode == 1" style="padding-top: 1em">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <h2>Nueva Categoria</h2>
                    <br />
                    <div class="searchBox">
                        <div class="pure-g">
                            <div class='pure-u-1-1 pure-u-md-8-24'>
                                <input type="text" v-model="createCargo.cargo" placeholder="Ingrese nueva categoria">
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-24'></div>
                            <div class='pure-u-1-1 pure-u-md-8-24'>
                                <input type="text" v-model="createCargo.descripcion" placeholder="Ingrese la descripción">
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-24'></div>
                            <div class='pure-u-1-1 pure-u-md-5-24' style="text-align: right;">
                                <button @click="agregarCargo">Insertar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
            <!--Edit Cargo-->
            <div v-if="mode == 2" style="padding-top: 1em">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <h2>Nueva Categoria</h2>
                    <br />
                    <div class="searchBox">
                        <div class="pure-g">
                            <div class='pure-u-1-1 pure-u-md-8-24'>
                                <input type="text" v-model="editCargo.cargo">
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-24'></div>
                            <div class='pure-u-1-1 pure-u-md-8-24'>
                                <input type="text" v-model="editCargo.descripcion">
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-24'></div>
                            <div class='pure-u-1-1 pure-u-md-5-24' style="text-align: right;">
                                <button @click="actualizarCargo">Actualizar</button>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
        </div>
        <!--POLITICA DE CONTRASEÑA-->
        <div v-if="mainmode == 2">
            <div style="font-size: 1rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem;">
                <div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
                    <span class="hoverLink">{{ r.text }}</span>
                    <span v-if="i < ruta.length - 1"> / </span>
                </div>
            </div>
            <div v-if="mode == 0" style="padding-top: 2em">
                <div class="pure-u-1-3"></div>
                <div class="pure-u-1-3 menuCard">
                    <div class="pure-g">
                        <div class="pure-u-1-1"></div>
                        <div class="pure-u-1-1" style="text-align:center">
                            <h2>Política de Contraseña</h2>
                            <div class="pure-g">
                                <div class="pure-u-1-1 formInput">
                                    Longitud mínima de contraseña
                                </div>
                                <div class="pure-u-1-1">
                                    <div class="pure-u-1-2">
                                        <input :readonly="!hasPermission(9)" type="number" v-model="passwordPolicy.minLength" />
                                    </div>
                                </div>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-1 formInput">
                                    Caracteres numéricos (Mínimo)
                                </div>
                                <div class="pure-u-1-1">
                                    <div class="pure-u-1-2">
                                        <input :readonly="!hasPermission(9)" type="number" v-model="passwordPolicy.minNumbers" />
                                    </div>
                                </div>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-1 formInput">
                                    Caracteres especiales (Mínimo)
                                </div>
                                <div class="pure-u-1-1">
                                    <div class="pure-u-1-2">
                                        <input :readonly="!hasPermission(9)" type="text" v-model="passwordPolicy.minSpecialChars" />
                                    </div>
                                </div>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-1 formInput">
                                    Historial de contraseñas (Máximo)
                                </div>
                                <div class="pure-u-1-1">
                                    <div class="pure-u-1-2">
                                        <input :readonly="!hasPermission(9)" type="number" v-model="passwordPolicy.history" />
                                    </div>
                                </div>
                            </div>
                            <div class="pure-g">
                                <div class="pure-u-1-1 formInput">
                                    Días para el cambio de contraseña (Máximo)
                                </div>
                                <div class="pure-u-1-1">
                                    <div class="pure-u-1-2">
                                        <input :readonly="!hasPermission(9)" type="number" v-model="passwordPolicy.maxDaysChange" />
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:right">
                                <br /><br /><br />
                                <button @click="updatePolicy" v-if="hasPermission(9)">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-3"></div>
            </div>
        </div>
        <!--FONDO PANTALLA-->
        <div v-if="mainmode == 3">
            <div style="font-size: 1rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem;">
                <div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
                    <span class="hoverLink">{{ r.text }}</span>
                    <span v-if="i < ruta.length - 1"> / </span>
                </div>
            </div>
            <div v-if="mode == 0" style="padding-top: 1em;height: 85vh;">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <div class="pure-u-1">
                        <h3>Imágenes Subidas</h3>
                        <div class="preview-container" style="height: 80vh;"
                             @dragover.prevent
                             @drop.prevent>
                            <div class="image-card"
                                 v-for="(src, index) in previews"
                                 :key="index"
                                 draggable="true"
                                 @dragstart="dragStart(index)"
                                 @dragover.prevent="dragOver(index)"
                                 @drop="drop(index)">
                                <img :src="src" />
                                <div class="delete-btn" @click="removeImage(index)">✖</div>
                            </div>
                        </div>
                        <div class="message" v-if="message">{{ message }}</div>
                    </div>
                    <div class="pure-u-1" style="min-height:calc(350px - 38vh);"></div>
                    <div class="control-container" v-if="hasPermission(10)">
                        <div class="duration-select">
                            <label for="duration">Duración</label>
                            <select id="duration" v-model="duracion">
                                <option value="3">3seg</option>
                                <option value="5">5seg</option>
                                <option value="10">10seg</option>
                            </select>
                        </div>
                        <div class="button-group">
                            <label class="file-upload-label">
                                Elegir imágenes
                                <input type="file" multiple accept="image/*" @change="handleFileChange">
                            </label>
                            <button class="custom-button" v-on:click="uploadFiles" :disabled="previews.length === 0">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
            <!--<div class="message">{{ message }}</div>-->
        </div>
    </div>
</div>