<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-5 lateralMenu">
        <div class="lateralMenuHeader">
        </div>
        <div class="lateralMenuGroup">
            <div class="lateralMenuItem noSelect group" style="padding-left: 8px; cursor: auto;">
                Usuarios
            </div>
        </div>
        <div class="lateralMenuGroup">
            <div v-on:click="setMainMode(1)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 1}">
                <img src="./img/ico/svg/user.svg" />
                Categorias Adm
            </div>
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-4-5">
        <div>
            <div style="font-size: 1rem; font-weight: 500; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem;">
                <div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
                    <span class="hoverLink">{{ r.text }}</span>
                    <span v-if="i < ruta.length - 1"> / </span>
                </div>
            </div>
            <div v-if="mode == 0" style="padding-top: 1em;">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <h2>Categorias Adm</h2>
                    <div class="searchBox">
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-md-15-24">
                                <input type="text" placeholder="Categoria" v-model="filtros.cargos.cargo" />
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-24">
                                <div class="imgGraybutton" @click="onClear('cargos')">
                                    <img src="./img/ico/eraser.png" />
                                </div>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-12" style="text-align: center;">
                                <img src="../../img/cli/excel_02.png" alt="Excel" class="pure-img logoExcel"
                                    @click="exportExcel('cargos')" title="Descargar datos a Excel" />
                            </div>
                            <div class="pure-u-1-1 pure-u-md-5-24" style="text-align: right;">
                                <button v-on:click="startNewUser()">Nueva Categoria</button>
                            </div>
                        </div>
                    </div>
                    <div class="main-content">
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Categoria</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in getFilteredList('cargos')" :key="item.id_cargo" @click.stop="selectUser(item)">
                                    <td style="width: 15rem;">
                                        {{ item.cargo }}
                                    </td>
                                    <td>
                                        {{ item.descripcion }}
                                    </td>
                                    <td style="text-align: center; width: 12rem;">
                                        <span class="delete" @click.stop="eliminarCargo(item)">✖</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
            <!--Nuevo Cargo-->
            <div v-if="mode == 1" style="padding-top: 1em">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <h2>Nueva Categoria</h2>
                    <br />
                    <div class="searchBox">
                        <div class="pure-g">
                            <div class='pure-u-1-1 pure-u-md-8-24'>
                                <input type="text" v-model="createCargo.cargo" placeholder="Ingrese nueva categoria">
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-24'></div>
                            <div class='pure-u-1-1 pure-u-md-8-24'>
                                <input type="text" v-model="createCargo.descripcion" placeholder="Ingrese la descripción">
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-24'></div>
                            <div class='pure-u-1-1 pure-u-md-5-24' style="text-align: right;">
                                <button @click="agregarCargo">Insertar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
            <!--Edit Cargo-->
            <div v-if="mode == 2" style="padding-top: 1em">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <h2>Nueva Categoria</h2>
                    <br />
                    <div class="searchBox">
                        <div class="pure-g">
                            <div class='pure-u-1-1 pure-u-md-8-24'>
                                <input type="text" v-model="editCargo.cargo">
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-24'></div>
                            <div class='pure-u-1-1 pure-u-md-8-24'>
                                <input type="text" v-model="editCargo.descripcion">
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-24'></div>
                            <div class='pure-u-1-1 pure-u-md-5-24' style="text-align: right;">
                                <button @click="actualizarCargo">Actualizar</button>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
            </div>
        </div>
    </div>
</div>