<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <link href="./img/cli/favicon.png" rel="Shortcut Icon" type="image/png" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/lib/grids-min.css" rel="stylesheet" />
    <link href="./css/lib/quill.snow.css" rel="stylesheet" />
    <link href="./css/lib/grids-responsive-min.css" rel="stylesheet" />
    <link href="css/own/base.css?v=2" rel="stylesheet" />
    <link href="css/own/main.css" rel="stylesheet" />
    <script src="./js/lib/vue.global.js"></script>
    <script src="./js/lib/axios.min.js"></script>
    <script src="./js/lib/quill.js"></script>
    <script src="./js/lib/chart.js"></script>
    <script src="./js/lib/d3.v7.min.js"></script>
    <script src="./js/lib/papaparse.min.js"></script>
    <script src="./js/own/axios-helper.js"></script>
    <script src="./js/lib/socket.io.min.js"></script>
    <script type="importmap">
        {
            "imports": {
                "three": "./js/lib/threejs/three.module.min.js",
                "three/addons/": "./js/lib/threejs/"
            }
        }
    </script>
</head>
<body>
    <div id="indexMainDiv" style="display:none">
        <div>
            <div class="header noSelect" v-if="!ocultarLayout">
                <div style="position: absolute; left: 1em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                    <span class="pure-hidden-sm pure-hidden-xs" style="color: white; font-size: 1.5em;">
                        {{ moduleSelected == null ? "Menú principal" : moduleSelected.title }}
                    </span>
                    <span v-if="loginData.devDB || loginData.debug" class="pure-hidden-sm pure-hidden-xs"
                        style="color: #ffff00; font-size: 1em; margin-left: 2em">
                        {{ loginData.debug ? " Portal de pruebas " : "" }}
                    </span>
                    <span class="pure-hidden-md pure-hidden-lg pure-hidden-xl" style="color: white; font-size: 1.5em;">
                        {{ moduleSelected == null ? "Menú principal" : moduleSelected.title }}
                    </span>
                </div>
                <div style="display: flex; align-items: center; position: absolute; right: 1em;">
                    <span style="color: white; font-size: 1em; margin-right: 0.5em;">{{nombreUsuario}}</span>
                    <img class="pure-hidden-sm pure-hidden-xs" 
                        style="height: 2em; margin: 0 0.2em 0.2em 0.5em;" 
                        alt="" src="./img/cli/logo01.png" />
                </div>
            </div>
        </div>
        
        <div>
            <div class="sidenav" v-if="!ocultarLayout">
                <div v-for="(item, key) in zones" :key="key" :class="['zone', 'noSelect', { 
                        preSelectedZone: zonePreSelected == item, 
                        selectedZone: zoneSelected == item, 
                        logOut: item.isLogOut 
                    }]" @click="handleClick(item)">
                    <img :src="item.img" />
                    <span class="monospace-text">{{ key }}</span>
                </div>
            </div>
            <div v-show="showMobileMenu" class="mdialogo2" style="padding-left: 1em;">
                <div class="pure-g mainMenu contentHeight">
                    <!--<div class="pure-u-1-1 pure-u-md-4-24" style="background-color: rgba(250,250,250,0.95);">
                        <div style="text-align:right; padding: 0.2rem;">
                            <div class="closeButton" v-on:click="closeMenu()">
                                <img v-show="!showModuleMenu" src="img/ico/svg/cerrar-negro.svg" />
                                <img v-show="showModuleMenu" src="img/ico/svg/cerrar-blanco.svg" />
                            </div>
                        </div>
                        <div style="padding: 1rem 2em;">
                            <div v-for="item in categories" class="menuCategory" v-on:click="openCategory(item)" v-bind:class="{ selectedMenuCategory:  categorySelected == item}">
                                {{item.name}}
                            </div>
                        </div>
                    </div>-->
                    <div v-show="showModuleMenu" class="pure-u-1-1 pure-u-md-4-24 contentHeight shadow" style="background-color: rgba(255,255,255,0.95);" v-if="mostrarMenu">
                        <div style="text-align:right; padding: 0.2rem;">
                            <div class="closeButton" v-on:click="closeMenu()">
                                <img src="img/ico/svg/cerrar-negro.svg" />
                            </div>
                        </div>
                        <div style="padding: 2rem 2rem">
                            <div v-for="(value, key) in modules">
                                <div v-if="modules[key].hidden != true && zonePreSelected != null && zonePreSelected.name == value.zone"
                                    v-on:click="loadModule(key, null); showMobileMenu = false;" v-bind:class="{ selectedMenuCategory: isActiveModule(key) }" class="menuCategory">
                                    {{value.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-16-24 contentHeight" style="cursor: pointer" v-on:click="closeMenu()"></div>
                </div>
            </div>
            <div :class="{ 'sidecontent': !ocultarLayout }">
                <div id="indexMenuDiv" style="display: none; background-image: url('./img/background/floor-plan-1857175_1280.jpg'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;" class="contentHeight">
                </div>
                <div id="mainContentDiv">
                </div>
            </div>
        </div>
    </div>
    <!--<div id="mainFooter" class="footer">
        <div style="width: 50%; float: left">
            <span style="font-size: 0.6em;margin-left: 2em">Copyright &#169; 2025. All Rights Reserved Serlefin BPO&O </span>
        </div>
    </div>-->
    <!------------------------------------------- DIALOGS ------------------------------------------>
    <!-- <div id="divProcess" class="progressBackgroundFilter" style="display: block;z-index: 1010"><div><img src="./img/background/loading.gif" /></div></div> -->
    <div id="divProcess" class="loader"><div class="justify-content-center jimu-primary-loading"></div></div>
    <div id="divMessage" style="display: none;">
        <div class="progressBackgroundFilter" style="z-index: 1008">
        </div>
        <div class="mdialogo2 pure-g" style="z-index: 1009">
            <div class="pure-u-1-1 pure-u-md-1-3"></div>
            <div class="pure-u-1-1 pure-u-md-1-3 modal">
                <span onclick="hideMessage()">✖</span>
                <div style="padding: 0em 2em; text-align:center">
                    <br /><h4 id="lbMessage">text</h4><br /><br />
                    <div style="text-align: center;" class="modal-buttons">
                        <button id="btAccept" style="margin: 0.5em 0.5em; width: 7em;" onclick="hideMessage()">Aceptar</button><br /><br />
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-3"></div>
        </div>
    </div>
    <div id="divConfirm" style="display: none;" class="modal-overlay">
        <div class="progressBackgroundFilter">
        </div>
        <div class="mdialogo2 pure-g">
            <div class="pure-u-1-1 pure-u-md-1-3"></div>
            <div class="pure-u-1-1 pure-u-md-1-3 modal">
                <span id="btXConfirmCancel">✖</span>
                <div style="padding: 0em 2em; text-align:center">
                    <h4 id="lbConfirmMessage">text</h4>
                    <p>¿Desea continuar?</p>
                    <div style="text-align: center;" class="modal-buttons">
                        <button id="btConfirmAccept" style="margin: 0.5em 0.5em; width: 7em;">SI</button>
                        <button id="btConfirmCancel" style="margin: 0.5em 0.5em; width: 7em;">NO</button>
                    </div>
                </div>
                <br />
            </div>
            <div class="pure-u-1-1 pure-u-md-1-3"></div>
        </div>
    </div>
    <div id="divNotice" style="display: none;">
        <div class="progressBackgroundFilter" style="z-index: 1008">
        </div>
        <div class="mdialogo2 pure-g" style="z-index: 1009; top:20% !important">
            <div class="pure-u-1-1 pure-u-md-1-4"></div>
            <div class="pure-u-1-1 pure-u-md-1-2 mdialogoContent">
                <div class="mdialogoHead">
                    <div style="width: 90%;float: left;text-align: center;padding: 0.4em;color:white;">
                        <label id="lbNoticeTitle"></label>
                    </div>

                    <!--<img src="../IMG/cerrar.png" onclick="hideNotice()" />-->
                </div>
                <div class="pure-u-1-1 pure-u-md-1-1" style="padding: 0em 2em;max-height: 90%;text-align: justify;overflow:auto;">
                    <br /><label id="lbNotice">text</label><br /><br />
                    <div style="text-align: center;">
                        <button id="btNoticeAccept" onclick="hideNotice()">Aceptar</button><br /><br />
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-4"></div>
        </div>
    </div>
    <script src="./index.js?v=1" type="text/javascript"></script>
</body>
</html>