<!--Imagenes y videos -->
<div class="pure-g" style="height: max-content">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24" style="margin: 0em 0em 0.5em 0em;">
        <div class="pure-g steps">
            <div v-for="(tab, index) in mediaTabs" :key="index" class="pure-u-1-1 pure-u-md-1-6">
                <div class="wizarTab wizarTabNoSelect" :class="tabClasses[index]" @click="setSubmode(index)">
                    {{ tab }}
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-24"></div>
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24 menuCard" style="height: calc(100vh - 14rem); overflow-y: auto; padding: 1em 1em 0 1em !important ">
        <div class="pure-g" v-show="submode == 0">
            <div class='pure-u-1-1 pure-u-md-1-1'>
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom:4px">
                    Logo, Slide y Planta General de Proyecto
                </div>
                <div class="image-upload-container">
                    <div class="pure-u-1-1 pure-u-md-1-3 image-upload-item">
                        Logo (< 2Mb)
                        <label v-if="!logoPreview" for="archivo-logo" class="upload-label upload-area-vimg">
                        <samp> Elegir imagen</samp>
                        </label>
                        <input type="file" id="archivo-logo" class="hidden-input" @change="previewImage($event, 'logoPreview')" />
                        <div v-if="logoPreview" class="image-card-preview">
                        <img :src="logoPreview" alt="Logo Preview" @click="expandImage('logo')" />
                        <div class="delete-btn" @click="removePreview('logo')">X</div>
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-3 image-upload-item">
                        Slide 1 (< 2Mb)
                        <label v-if="!slidePreview" for="archivo-slide" class="upload-label upload-area-vimg">
                        <samp> Elegir imagen</samp>
                        </label>
                        <input type="file" id="archivo-slide" class="hidden-input" @change="previewImage($event, 'slidePreview')" />
                        <div v-if="slidePreview" class="image-card-preview">
                        <img :src="slidePreview" alt="Slide 1 Preview" @click="expandImage('slide')" />
                        <div class="delete-btn" @click="removePreview('slide')">X</div>
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-3 image-upload-item">
                        Planta General Termómetro (< 2Mb)
                        <label v-if="!plantaPreview" for="archivo-planta" class="upload-label upload-area-vimg">
                        <samp> Elegir imagen</samp>
                        </label>
                        <input type="file" id="archivo-planta" class="hidden-input" @change="previewImage($event, 'plantaPreview')" />
                        <div v-if="plantaPreview" class="image-card-preview">
                        <img :src="plantaPreview" alt="Planta Preview" @click="expandImage('planta')" />
                        <div class="delete-btn" @click="removePreview('planta')">X</div>
                        </div>
                    </div>
                    <div v-if="isExpanded.logo || isExpanded.slide || isExpanded.planta" class="image-modal" @click="closeModal">
                        <img v-if="isExpanded.logo" :src="logoPreview" class="expanded-image" />
                        <img v-if="isExpanded.slide" :src="slidePreview" class="expanded-image" />
                        <img v-if="isExpanded.planta" :src="plantaPreview" class="expanded-image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g" v-show="submode == 1">
            <div class='pure-u-1-1 pure-u-md-1-1'>
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                    Visualización y Secuencia de agrupaciones en el Carrusel del Proyecto
                </div>
                <div v-for="(tabla, i) in tablas" :key="i" class="tabla-contenedor">
                    <div :class="{ deshabilitada: tabla.activo }" class="tabla-scroll">
                        <table class="dataTable" :class="{ 'tabla-seleccionada': selected.tablaIndex === i }">
                            <thead>
                                <tr>
                                    <th>{{ tabla.titulo }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, j) in tabla.datos" :key="j" @click="selectItem(i, j)">
                                    <td
                                        v-if="editando.tablaIndex === i && editando.itemIndex === j && tabla.titulo !== 'General de C. Capital' && !tabla.activo">
                                        <input type="text" v-model="tabla.datos[j]" @blur="onItemEditFinish(i, j)"
                                            @keyup.enter="onItemEditFinish(i, j)" ref="editInput" />
                                    </td>
                                    <td v-else style="height: 30px;">
                                        {{ item }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tabla-toggle">
                        <div class="toggle-switch" :class="{ inactive: !tabla.activo }">
                            <input :id="'toggle-' + i" type="checkbox" v-model="tabla.activo" class="toggle-input"
                                :class="{ errorInput: tabla.error }" />
                            <label class="toggle-label" :for="'toggle-' + i"></label>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 icon-buttons">
                    <span class="icon-button" @click="moveRow('up')">
                        <img src="../../img/ico/up.png" alt="">
                        <span>Subir ítem</span>
                    </span>
                
                    <span class="icon-button" @click="moveRow('down')">
                        <img src="../../img/ico/down.png" alt="">
                        <span>Bajar ítem</span>
                    </span>
                
                    <span class="icon-button" @click="addRowSec">
                        <img src="../../img/ico/addRow.png" alt="">
                        <span>Insertar ítem</span>
                    </span>
                
                    <span class="icon-button" @click="deleteRow">
                        <img src="../../img/ico/delete.png" alt="">
                        <span>Eliminar ítem</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="pure-g" v-show="submode == 2">
            <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom:4px">
                Imágenes de proyecto
            </div>
            <div class='pure-u-1-1 pure-u-md-1-24 positTex'>
                <img class="pure-img logoExcel" src="../../img/ico/svg/delete.svg" @click="clearAllImages" alt="">
            </div>
            <div class='pure-u-1-1 pure-u-md-1-6 positTex'>
                Agrupación
            </div>
            <div class='pure-u-1-1 pure-u-md-1-6'>
                <div class='formInputStandard positTex'>
                    <select name="" id=""></select>
                </div>
            </div>
            <div class='pure-u-1-1 pure-u-md-1-6 positTex'>
                Nueva Agrupación
            </div>
            <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                <input type="text">
            </div>
            <div class='pure-u-1-1 pure-u-md-1-24'></div>
            <div class='pure-u-1-1 pure-u-md-1-6 positTex'>
                <button>Nueva agrupación</button>
            </div>
            <div class="pure-u-1" @mousemove="updateCursor" @mouseleave="tooltipVisible = false" style="position: relative;padding-top: 1em;">
                <label for="file-input" class="preview-container" style="height: calc(100vh - 17rem); cursor: pointer;"
                    @dragover.prevent="handleDragOver" @drop.prevent="handleDrop" @mouseenter="tooltipVisible = true"
                    @mouseleave="tooltipVisible = false">
            
                    <div class="image-card" v-for="(item, index) in previews" :key="index" draggable="true"
                        @dragstart="dragStart(index)" @mouseenter="tooltipVisible = false" @mouseleave="tooltipVisible = true"
                        style="position: relative;">
                        <img :src="item.src" @click.stop.prevent="" />
                        <div class="image-name-overlay">{{ item.file.name }}</div>
                        <div class="delete-btn" @click.stop.prevent="removeImage(index)">✖</div>
                    </div>
                    <div v-if="tooltipVisible" class="cursor-tooltip" :style="{ top: tooltipY + 'px', left: tooltipX + 'px' }">
                        Arrastra o haz clic para cargar imagenes.
                    </div>
                </label>
                <input type="file" id="file-input" class="hidden-input" style="display: none;" multiple accept="image/*"
                    @change="handleFileChange" ref="fileInput" />
            </div>
        </div>
        <div class="pure-g" v-show="submode == 3">
            <div class="pure-u-1-1">
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom:4px">
                    Vídeos de Proyecto
                </div>
                <div class="pure-g">
                    <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                        Agrupación
                    </div>
                    <div class='pure-u-1-1 pure-u-md-1-5'>
                        <div class='formInputStandard positTex'>
                            <select name="" id=""></select>
                        </div>
                    </div>
                    <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                        Nueva Agrupación
                    </div>
                    <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                        <input type="text">
                    </div>
                    <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                        <button>Nueva agrupación</button>
                    </div>
                </div>
            </div>
            <div class="pure-u-1"></div>
            <div class="pure-u-1 scroll-container">
                <table class="menuCard" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 20.5%;">Video</th>
                            <th style="width: 40%;">Descripción</th>
                            <th>Link</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(video, index) in videos" :key="index" :class="{ selected: selectedRow === index }"
                            @click="selectRow(index)">
                            <td><input v-model="video.title" class="full-width-input" /></td>
                            <td><input v-model="video.description" class="full-width-input"/></td>
                            <td><input v-model="video.link" class="full-width-input"/></td>
                            <td class="center-delete-cell">
                                <div class="center-content" @click.stop>
                                    <span class="delete" @click.stop="removeRow(index)">✖</span>
                                    <img src="../../img/ico/menu/video.svg" class="video-icon" @click.stop="openModal(video.link)">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="modalVideoId" class="modal-overlay" @click.self="closeModal">
                    <div class="modal-content">
                        <iframe :src="`https://www.youtube.com/embed/${modalVideoId}?autoplay=1&mute=1`" allow="autoplay; encrypted-media"
                            frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="pure-u-1 icon-buttons" style="margin-top: 1.5em;">
                <span class="icon-button" @click="moveRowVid('up')">
                    <img src="../../img/ico/up.png" alt="">
                    <span>Subir ítem</span>
                </span>
                
                <span class="icon-button" @click="moveRowVid('down')">
                    <img src="../../img/ico/down.png" alt="">
                    <span>Bajar ítem</span>
                </span>
                
                <span class="icon-button" @click="addRowVid">
                    <img src="../../img/ico/addRow.png" alt="">
                    <span>Insertar ítem</span>
                </span>
            </div>
        </div>
        <div class="pure-g" v-show="submode == 4">
            <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom:4px">
                Recorridos Virtuales de Proyecto
            </div>
            <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                Agrupación
            </div>
            <div class='pure-u-1-1 pure-u-md-1-5'>
                <div class='formInputStandard positTex'>
                    <select name="" id=""></select>
                </div>
            </div>
            <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                Nueva Agrupación
            </div>
            <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                <input type="text">
            </div>
            <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                <button>Nueva agrupación</button>
            </div>
            <div class="pure-u-1 scroll-container">
                <table class="menuCard" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 20.5%;">Video</th>
                            <th style="width: 40%;">Descripción</th>
                            <th>Link</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(video, index) in videosReco" :key="index" :class="{ selected: selectedRowReco === index }"
                            @click="selectRowReco(index)">
                            <td><input v-model="video.title" class="full-width-input" /></td>
                            <td><input v-model="video.description" class="full-width-input"/></td>
                            <td><input v-model="video.link" class="full-width-input"/></td>
                            <td class="center-delete-cell">
                                <div class="center-content" @click.stop>
                                    <span class="delete" @click.stop="removeRow(index)">✖</span>
                                    <img src="../../img/ico/menu/video.svg" class="video-icon" @click.stop="openModal(video.link)">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="modalVideoId" class="modal-overlay" @click.self="closeModal">
                    <div class="modal-content">
                        <iframe :src="`https://www.youtube.com/embed/${modalVideoId}?autoplay=1&mute=1`" frameborder="0"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="pure-u-1 icon-buttons" style="margin-top: 1.5em;">
                <span class="icon-button" @click="moveRowReco('up')">
                    <img src="../../img/ico/up.png" alt="">
                    <span>Subir ítem</span>
                </span>
            
                <span class="icon-button" @click="moveRowReco('down')">
                    <img src="../../img/ico/down.png" alt="">
                    <span>Bajar ítem</span>
                </span>
            
                <span class="icon-button" @click="addRowReco">
                    <img src="../../img/ico/addRow.png" alt="">
                    <span>Insertar ítem</span>
                </span>
            </div>
        </div>
        <div class="pure-g" v-show="submode == 5">
            <div class="pure-u-1-1">
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom:4px">
                    Avances de obra de Proyecto
                </div>
                <div class="pure-g">
                    <div class='pure-u-1-1 pure-u-md-1-24 positTex'>
                        <img class="pure-img logoExcel" src="../../img/ico/svg/delete.svg" @click="clearAllImages" alt="">
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-8 positTex'>
                            Agrupación
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-5'>
                            <div class='formInputStandard positTex'>
                                <select name="" id=""></select>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6 positTex'>
                            Nueva Agrupación
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4 positTex'>
                            <input type="text">
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                            <button>Nueva agrupación</button>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-24 positTex'></div>
                        <div class='pure-u-1-1 pure-u-md-1-8 positTex'>
                            Video
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3 positTex'>
                            <input type="text">
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-5 positTex'>
                            <button>Ver Video</button>
                        </div>
                </div>
            </div>
            <div class="pure-u-1" @mousemove="updateCursor" @mouseleave="tooltipVisible = false" style="position: relative;padding-top: 1em;">
                <label for="file-input" class="preview-container" style="height: calc(100dvh - 25rem); cursor: pointer;"
                    @dragover.prevent="handleDragOver" @drop.prevent="handleDrop" @mouseenter="tooltipVisible = true"
                    @mouseleave="tooltipVisible = false">
            
                    <div class="image-card" v-for="(item, index) in previews" :key="index" draggable="true"
                        @dragstart="dragStart(index)" @mouseenter="tooltipVisible = false" @mouseleave="tooltipVisible = true"
                        style="position: relative;">
                        <img :src="item.src" @click.stop.prevent="" />
                        <div class="image-name-overlay">{{ item.file.name }}</div>
                        <div class="delete-btn" @click.stop.prevent="removeImage(index)">✖</div>
                    </div>
                    <div v-if="tooltipVisible" class="cursor-tooltip" :style="{ top: tooltipY + 'px', left: tooltipX + 'px' }">
                        Arrastra o haz clic para cargar imagenes.
                    </div>
                </label>
                <input type="file" id="file-input" class="hidden-input" style="display: none;" multiple accept="image/*"
                    @change="handleFileChange" ref="fileInput" />
            </div>
        </div>
    </div>
    <div class="pure-u-1-1" style="text-align:center;padding-top: 1em;">
        <button>Guardar</button>
    </div>
</div>