<!--Proceso Negocio -->
<div class="pure-g" style="height: max-content">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24" style="margin: 0em 0em 0.5em 0em;">
        <div class="pure-g steps">
            <div v-for="(tab, index) in tabs" :key="index" class="pure-u-1-1 pure-u-md-1-6">
                <div class="wizarTab wizarTabNoSelect" :class="tabClasses[index]"
                    @click="handleNext(index), setSubmode(index)">
                    {{ tab }}
                </div>
            </div>
        </div>
    </div>

    <div class="pure-u-1-24"></div>
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24 menuCard"
        style="height: calc(100vh - 14rem); overflow-y: auto; padding: 1em 1em 0 1em !important ">
        <!-- ----------------------------------------------------------------- -->
        <!-- ----------------------------- Bienvenida------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div class="pure-g" v-if="mode == 0">
            <div class='pure-u-1-1 pure-u-md-1-1'>
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                    Bienvenida a Cliente
                </div>
                <div class="pure-g" style="align-items: center; justify-content: flex-start;margin: 1em 0;">
                    <div class="pure-u-1 pure-u-md-1-2">
                        <div style="width: 100%;">
                            <input type="text" v-model="cliente" maxlength="100"
                                placeholder="Ingrese numero de documento" style="width: 100%;"
                                @keyup.enter="busquedaCliente" />
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-24">
                        <div class="imgGraybutton">
                            <img src="./img/ico/svg/search.svg" @click="busquedaCliente" />
                        </div>
                    </div>
                    <!-- <div class="pure-u-md-auto" style="padding: 0 1rem; font-weight: bold;">
                        Criterio
                    </div>
                    <div class="pure-u-1 pure-u-md-1-5">
                        <div class="formInputStandard" style="width: 100%;">
                            <select v-model="" style="width: 100%;">
                                <option value="" selected>[Todos los cargos]</option>
                                <option value="">Opción 1</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="pure-u-1-1 pure-u-md-1-3" style="text-align: right;">
                        <button @click="limpiarObj">Nuevo Cliente</button>
                    </div>
                </div>
                <div v-if="iscliente">
                    <div>
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                            Información Básica
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Nombres</span>
                                <input type='text' v-model='ObjCliente.NewNombres' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Apellido 1</span>
                                <input type='text' v-model='ObjCliente.NewApellido1' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Apellido 2</span>
                                <input type='text' v-model='ObjCliente.NewApellido2' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                    </div>
                    <div style="max-height: calc(100dvh - 33rem); overflow-y: auto;">
                        <div class='pure-u-4-5'>
                            <div class='formInputStandard'>
                                <span>Dirección</span>
                                <input type='text' v-model='ObjCliente.NewDireccion' maxlength='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <!-- <div class='pure-u-1-5'>
                            <div class='formInputStandard' style='margin-top: 1.5rem; text-align: right;'>
                                <button v-on:click="">Ingresar Dirección</button>
                            </div>
                        </div> -->
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Ciudad</span>
                                <input type='text' v-model='ObjCliente.NewCiudad' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Barrio</span>
                                <input type='text' v-model='ObjCliente.NewBarrio' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Departamento</span>
                                <input type='text' v-model='ObjCliente.NewDepartamento' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Pais</span>
                                <input type='text' v-model='ObjCliente.NewPais' maxlen='100' placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Email 1</span>
                                <input type='text' v-model='ObjCliente.NewEmail1' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Email 2</span>
                                <input type='text' v-model='ObjCliente.NewEmail2' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Telefono 1</span>
                                <input type='text' v-model='ObjCliente.NewTelefono1' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Telefono 2</span>
                                <input type='text' v-model='ObjCliente.NewTelefono2' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>

                        <div v-if="iscliente">
                            <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                                Documento de Identificación
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Tipo Documento</span>
                                    <select v-model='ObjCliente.NewTipoDocumento'>
                                        <option value='' selected>Seleccione</option>
                                        <option value='CC'>Cédula de Ciudadanía</option>
                                        <option value='TI'>Tarjeta de Identidad</option>
                                        <option value='CE'>Cédula de Extranjería</option>
                                        <option value='PAS'>Pasaporte</option>
                                        <option value='NIT'>NIT</option>
                                        <option value='RC'>Registro Civil</option>
                                    </select>
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Número Documento</span>
                                    <input type='text' v-model='ObjCliente.NewNumeroDocumento' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>País Expedición</span>
                                    <input type='text' v-model='ObjCliente.NewPaisExpedicion' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Depart. Expedición</span>
                                    <input type='text' v-model='ObjCliente.NewDepartamentoExpedicion' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Ciudad Expedición</span>
                                    <input type='text' v-model='ObjCliente.NewCiudadExpedicion' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Fecha Expedición</span>
                                    <input type='date' v-model='ObjCliente.NewFechaExpedicion' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='pure-u-1-1 pure-u-md-1-1' v-if="iscliente">
                <div class='formInputStandard'>
                    <div class='pure-g'>
                        <div class='pure-u-1-1'>
                            <label class="check" style="display: inline-flex; align-items: center;">
                                <input type="checkbox" :value="1" v-model="policyAccepted"
                                    @change="acceptPolicy(policyAccepted)" />
                                <span class="checkmark"></span>
                                <span style="margin-right: 0.5em;">
                                    Al enviarnos su información personal usted autoriza a CONSTRUCTORA CAPITAL BOGOTÁ
                                    S.A.S y
                                    CONSTRUCTORA CAPITAL MEDELLÍN S.A.S en adelante “EL RESPONSABLE” para que traten sus
                                    datos de
                                    conformidad con la autorización <a
                                        href="https://www.constructoracapital.com/autorizacion-tratamiento-datos-personales"
                                        target="_blank">aquí indicada</a>.
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------------------------------- -->
        <!-- ----------------------------- Registro--------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div class="pure-g" v-if="mode == 1">
            <div class='pure-u-1-1' style="font-size: 2em;">
                {{ ObjCliente.NewNombres }}
            </div>
            <div v-for="(tab, index) in tab" :key="index" @click="activeTab = index"
                :class="['tab-registro', { active: activeTab === index }]">
                {{ tab }}
            </div>
            <div v-if="activeTab == 0">
                <div class='pure-u-1-1 formDivision' style="margin-top: 0.5em;">
                    <span style="font-size: 1.8em;">Registros de visita</span>
                    <button @click="limpiarObj(1)" style="float: right;">Nueva visita</button>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-4 filtro-proyecto-inline'>
                    <label for="filtro-proyecto" style="white-space: nowrap;">Filtrar por Proyecto:</label>
                    <select v-model="filtroProyecto" id="filtro-proyecto" style="flex: 1;">
                        <option value="">Todos</option>
                        <option v-for="proy in proyectosUnicos" :key="proy" :value="proy">
                            {{ proy }}
                        </option>
                    </select>
                </div>
                <div
                    style="min-height: calc(100dvh - 48.5rem);max-height: calc(100dvh - 48.5rem); overflow-y: auto; margin-top: 0.5em;">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th style="width: 16.5%;">Fecha</th>
                                <th>Proyecto</th>
                                <th>Tipo</th>
                                <th>Modo</th>
                                <th style="width: 30%;">Descripción</th>
                                <th>Contador</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in visitasFiltradas" :key="item.id_visita"
                                @click="editarVisita(item.id_visita)">
                                <td>{{ item.fecha }}</td>
                                <td>{{ item.proyecto }}</td>
                                <td style="max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                                    :title="item.nombre_tipo_registro">
                                    {{ item.nombre_tipo_registro }}
                                </td>
                                <td style="max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                                    :title="item.nombre_modo_atencion">
                                    {{ item.nombre_modo_atencion }}
                                </td>
                                <td>{{ item.descripcion }}</td>
                                <td>{{ contadorProyectos[item.proyecto] || 0 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="activeTab == 1">
                <div class='pure-u-1-1 formDivision' style="margin-top: 0.5em;">
                    <span style="font-size: 1.8em;">Registros de compras</span>
                </div>
                <div
                    style="min-height: calc(100dvh - 46.5rem); max-height: calc(100dvh - 43rem); overflow-y: auto; margin-top: 1em;">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th style="width: 15%;">Fecha</th>
                                <th>Proyecto</th>
                                <th>Tipo</th>
                                <th>Modo</th>
                                <th style="width: 30%;">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class='pure-u-1-1 formDivision' style="margin-top: 0.5em;">
                    <span style="font-size: 1.8em;">Tipo de Registro (referido a la visita seleccionada en la
                        tabla)</span>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-1'>
                    <div class='formInputStandard'>
                        <div class='pure-g'>
                            <div v-for='(item, index) in tipo_registro' :key="index" class='pure-u-1-1 pure-u-md-1-6'
                                style='margin: .8rem 0 .8rem 0; '>
                                <label class="check">
                                    <input type="checkbox" value='1' v-model="item.checked" />
                                    <span class="checkmark"></span>
                                    {{ item.tipo_registro }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision'>
                    <span style="font-size: 1.5em;">Modo de atención (referido a la visita seleccionada in la
                        tabla)</span>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-1'>
                    <div class='formInputStandard'>
                        <div class='pure-g' style="align-items: center;">
                            <div v-for='(item, index) in modo_atencion' :key="index"
                                :class="item.modo_atencion === 'Otro' ? 'pure-u-1-1 pure-u-md-1-24' : 'pure-u-1-1 pure-u-md-1-6'"
                                style='margin-top: .8rem;'>
                                <label class="check">
                                    <input type="checkbox" value='1' v-model="item.checked" />
                                    <span class="checkmark"></span>
                                    {{ item.modo_atencion }}
                                </label>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-4" style="margin-left: 2rem;margin-top: .8rem;">
                                <input type="text" v-model="ObjVisita.otro_texto" maxlength="100"
                                    placeholder="Especificar" style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision'>
                    <span style="font-size: 1.5em;">Otra información (referido a la visita seleccionada en la
                        tabla)</span>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Categoría Medio</span>
                        <select v-model='ObjVisita.id_categoria'>
                            <option value='' disabled selected>Seleccione</option>
                            <option v-for='item in categoria' v-bind:value='item.id_categoria'>
                                {{ item.categoria }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Medio</span>
                        <select v-model='ObjVisita.id_medio'>
                            <option value='' disabled selected>Seleccione</option>
                            <option v-for='item in medio' v-bind:value='item.id_medio'>
                                {{ item.medio }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Motivo de Compra</span>
                        <select v-model='ObjVisita.id_motivo_compra'>
                            <option value='' selected>Seleccione</option>
                            <option v-for='item in motivo_compra' v-bind:value='item.id_motivo_compra'>
                                {{ item.motivo_compra }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Presupuesto disponible</span>
                        <select v-model='ObjVisita.id_presupuesto_vivienda'>
                            <option value='' selected>Seleccione</option>
                            <option v-for='item in presupuesto_vivienda' v-bind:value='item.id_presupuesto_vivienda'>
                                {{ item.rango }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Referencias</span>
                        <select v-model='ObjVisita.id_referencia'>
                            <option value='' selected>Seleccione</option>
                            <option v-for='item in referencia' v-bind:value='item.id_referencia'>
                                {{ item.referencia }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-1'>
                    <div class='formInputStandard filtro-proyecto-inline'>
                        <span>Descripción</span>
                        <input type='text' v-model='ObjVisita.descripcion' maxlen='100' placeholder="Seleccione" />
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------------------------------- -->
        <!-- --------------------------- Cotización--------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div class="pure-g" v-if="mode == 2">
            <div class='pure-u-1-1' style="font-size: 2em;">
                {{ ObjCliente.NewNombres }}
            </div>
            <div class='pure-u-1-1 formDivision' style="margin-top: 0.5em;">
                <span style="font-size: 1.8em;">Cotizaciones</span>
                <button style="float: right;" @click="addCotizacion">Nueva Cotización</button>
            </div>
            <div
                style="min-height: calc(100dvh - 47rem);max-height: calc(100dvh - 47rem); overflow-y: auto; margin-top: 0.5em;">
                <table class="dataTable">
                    <thead>
                      <tr>
                        <th class="col-1-6">Cotización</th>
                        <th class="col-1-6">Fecha</th>
                        <th class="col-3-6">Descripción</th>
                        <th class="col-1-6">Importe</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in cotizaciones" :key="index">
                        <td class="col-1-6">
                          <input type="text" v-model="item.cotizacion" placeholder="#" />
                        </td>
                        <td class="col-1-6">
                          <input
                            type="date"
                            :value="formatFecha(item.fecha)"
                            @input="item.fecha = $event.target.value"
                          />
                        </td>
                        <td class="col-3-6">
                          <input type="text" v-model="item.descripcion" placeholder="Descripción" />
                        </td>
                        <td class="col-1-6">
                          <input
                            type="number"
                            :value="item.importe"
                            @input="item.importe = parseFloat($event.target.value) || 0"
                            placeholder="$"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div style="margin-top: 1em;" class="pure-u-1 pure-u-md-1-1">
                <samp class="pure-u-1 pure-u-md-1-6" style="margin-top: .8rem;">Lista Activa:</samp>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard" style="width: 100%;">
                        <select v-model="" style="width: 100%;">
                            <option value="" selected>[Seleccione]</option>
                            <option value="">Opción 1</option>
                        </select>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2" style="text-align: right;margin-top: .5rem;">
                    <button>Agregar Unidad</button>
                </div>
            </div>
            <table class="dataTable" style="margin-top: 1em;">
                <thead>
                    <tr>
                        <th>Ítem</th>
                        <th>Fecha</th>
                        <th>Ítem Id</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Importe</th>
                        <th>Descuento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ----------------------------------------------------------------- -->
        <!-- ----------------------------- Opción ---------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div v-if="mode == 3">
            <div>
                <h1>Modulo Opción</h1>
            </div>
            <div style="text-align: center;">
                <img src="../../img/ico/MEN AT WORK.JPG" alt="">
            </div>
            <!-- <div class='pure-u-1-1' style="font-size: 2em;">
                {{ ObjCliente.NewNombres }}
            </div>
        
            <div class='pure-u-1-1 formDivision' style="display: flex; justify-content: space-between;">
                <div class="pure-u-1 pure-u-md-1-2">
                    <span style="font-size: 1.2em;">Opcionar</span>
                </div>
                <div class="pure-u-1 pure-u-md-1-2">
                    <span style="font-size: 1.2em;">Importe:</span>
                </div>
            </div>
            <div class="pure-g" style="margin-top: 1em;">
                <div class="pure-u-1 pure-u-md-1-2">
                    <fieldset style="border: 1px solid lightgray; padding: 1em;">
                        <legend>Modo de Pago:</legend>
                        <label><input type="radio" name="modoPago" /> Contado</label>
                        <div style="margin-top: 1em;">
                            <span>Modalidad:</span>
                            <select style="width: 100%;">
                                <option>Seleccione</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
                <div class="pure-u-1 pure-u-md-1-2">
                    <fieldset style="border: 1px solid lightgray; padding: 1em;">
                        <label><input type="radio" name="modoPago" /> Financiado</label>
                        <div style="margin-top: 1em;">
                            <div><span>Modalidad:</span>
                                <div class='pure-u-1-1 pure-u-md-1-6'>
                                    <div class='formInputStandard'>
                                        <span>Modalidad</span>
                                        <select v-model=''>
                                            <option value='' selected>Seleccione</option>
                                            <option>
                        
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div><span>Entidad:</span>
                                <select style="width: 100%;">
                                    <option>Seleccione</option>
                                </select>
                            </div>
                            <div><span>Tipo:</span>
                                <select style="width: 100%;">
                                    <option>Seleccione</option>
                                </select>
                            </div>
                            <div><span>Años:</span>
                                <select style="width: 100%;">
                                    <option>Seleccione</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class='pure-u-1-1 formDivision' style="font-size: 1.2em; margin-top: 1em;">
                Aportes y subsidios
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Cesantías</span>
                        <input type="text" value="0,00" />
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Ahorros</span>
                        <input type="text" value="0,00" />
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Ingresos</span>
                        <input type="text" value="0,00" />
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <label><input type="radio" name="subsidio" /> Subsidio</label>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Valor Subsidio</span>
                        <input type="text" value="0,00" style="color: red;" />
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Caja de compensación:</span>
                        <select style="width: 100%;">
                            <option>Seleccione</option>
                        </select>
                    </div>
                </div>
            </div>
        
            <div class='pure-u-1-1 formDivision' style="margin-top: 1em;">
                <span>Importe Financiable:</span> <strong></strong>
                Cuota Inicial: <strong></strong>
                Cuota: <strong></strong>
            </div> -->
        </div>
        <!-- ----------------------------------------------------------------- -->
        <!-- -------------------------- Vinculación--------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div v-if="mode == 4">
            <div>
                <h1>Modulo Vinculación</h1>
            </div>
            <div style="text-align: center;">
                <img src="../../img/ico/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!-- ----------------------------------------------------------------- -->
        <!-- ----------------------------- Cierre ---------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div v-if="mode == 5">
            <div>
                <h1>Modulo Cierre</h1>
            </div>
            <div style="text-align: center;">
                <img src="../../img/ico/MEN AT WORK.JPG" alt="">
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------ -->
    <!-- ----------------------------- Global------------------------- -->
    <!-- ------------------------------------------------------------ -->
    <div class="pure-u-1-1" style="padding-top: 1em;" v-if="iscliente">
        <div class="pure-g" style="justify-content: center; gap: 1em; display: flex;">
            <!-- <div v-if="mode != 0" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="handleNext(mode - 1)">Volver</button>
            </div> -->
            <div v-if="mode == 0" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="nuevoCliente">Guardar</button>
            </div>
            <div v-if="mode == 1" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="nuevaVisita">Guardar</button>
            </div>
            <div v-if="mode == 2" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="guardarCotizacion">Guardar</button>
            </div>
            <!-- <div v-if="mode != 5 && ObjCliente.NewNombres != ''" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="handleNext(mode + 1)">Siguiente</button>
            </div> -->
        </div>
    </div>
</div>