<!--Proceso Negocio -->
<div class="pure-g" style="height: max-content">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24" style="margin: 0em 0em 0.5em 0em;">
        <div class="pure-g steps">
            <div v-for="(tab, index) in tabs" :key="index" class="pure-u-1-1 pure-u-md-1-4">
                <div class="wizarTab wizarTabNoSelect" :class="tabClasses[index]"
                    @click="handleNext(index), setSubmode(index)">
                    {{ tab }}
                </div>
            </div>
        </div>
    </div>

    <div class="pure-u-1-24"></div>
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24 menuCard"
        style="height: calc(100vh - 14rem); overflow-y: auto; padding: 1em 1em 0 1em !important ">
        <!-- ----------------------------------------------------------------- -->
        <!-- ----------------------------- Bienvenida------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div class="pure-g" v-if="mode == 0">
            <div class='pure-u-1-1 pure-u-md-1-1'>
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                    Bienvenida a Cliente
                </div>
                <div class="pure-g" style="align-items: center; justify-content: space-between; margin: 1em 0;">
                    <div class="pure-u-md-12-24" style="display: flex; align-items: center;">
                        <input type="text" v-model="cliente" maxlength="100" placeholder="Ingrese número de documento o nombre"
                            class="pure-u-md-22-24"  @keyup.enter="busquedaCliente" />
                
                        <div class="imgGraybutton" style="cursor: pointer;">
                            <img src="./img/ico/svg/search.svg" @click="busquedaCliente" />
                        </div>
                    </div>

                    <!-- Botón Continuar con el cliente -->
                    <div class="pure-u-md-3-24" style="text-align: right;">
                        <button @click="continuarCliente">Último Cliente</button>
                    </div>
                
                    <!-- Botón Cotizar sin cliente -->
                    <div class="pure-u-md-3-24" style="text-align: right;">
                        <button @click="sincliente">Cotizar sin cliente</button>
                    </div>
                
                    <!-- Botón Nuevo cliente -->
                    <div class="pure-u-md-3-24" style="text-align: right;">
                        <button @click="limpiarObj">Nuevo Cliente</button>
                    </div>
                </div>
                <div v-if="iscliente">
                    <div>
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                            Información Básica
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Nombres</span>
                                <input type='text' v-model='ObjCliente.nombres' maxlen='100' placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Apellido 1</span>
                                <input type='text' v-model='ObjCliente.apellido1' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Apellido 2</span>
                                <input type='text' v-model='ObjCliente.apellido2' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                    </div>
                    <div style="max-height: calc(100dvh - 33rem); overflow-y: auto;">
                        <div class='pure-u-4-5'>
                            <div class='formInputStandard'>
                                <span>Dirección</span>
                                <input type='text' v-model='ObjCliente.direccion' maxlength='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Ciudad</span>
                                <input type='text' v-model='ObjCliente.ciudad' maxlen='100' placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Barrio</span>
                                <input type='text' v-model='ObjCliente.barrio' maxlen='100' placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Departamento</span>
                                <input type='text' v-model='ObjCliente.departamento' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Pais</span>
                                <input type='text' v-model='ObjCliente.pais' maxlen='100' placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Email 1</span>
                                <input type='text' v-model='ObjCliente.email1' maxlen='100' placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-3'>
                            <div class='formInputStandard'>
                                <span>Email 2</span>
                                <input type='text' v-model='ObjCliente.email2' maxlen='100' placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Telefono 1</span>
                                <input type='text' v-model='ObjCliente.telefono1' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Telefono 2</span>
                                <input type='text' v-model='ObjCliente.telefono2' maxlen='100'
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div v-if="iscliente">
                            <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                                Documento de Identificación
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Tipo Documento</span>
                                    <select v-model='ObjCliente.tipoDocumento'>
                                        <option value='' selected>Seleccione</option>
                                        <option value='CC'>Cédula de Ciudadanía</option>
                                        <option value='TI'>Tarjeta de Identidad</option>
                                        <option value='CE'>Cédula de Extranjería</option>
                                        <option value='PAS'>Pasaporte</option>
                                        <option value='NIT'>NIT</option>
                                        <option value='RC'>Registro Civil</option>
                                    </select>
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Número Documento</span>
                                    <input type='text' v-model='ObjCliente.numeroDocumento' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>País Expedición</span>
                                    <input type='text' v-model='ObjCliente.paisExpedicion' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Depart. Expedición</span>
                                    <input type='text' v-model='ObjCliente.departamentoExpedicion' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Ciudad Expedición</span>
                                    <input type='text' v-model='ObjCliente.ciudadExpedicion' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-6'>
                                <div class='formInputStandard'>
                                    <span>Fecha Expedición</span>
                                    <input type='date' v-model='ObjCliente.fechaExpedicion' maxlen='100'
                                        placeholder="Seleccione" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='pure-u-1-1 pure-u-md-1-1' v-if="iscliente">
                <div class='formInputStandard'>
                    <div class='pure-g'>
                        <div class='pure-u-1-1'>
                            <label class="check" style="display: inline-flex; align-items: center;">
                                <input type="checkbox" :value="1" v-model="policyAccepted"
                                    @change="acceptPolicy(policyAccepted)" />
                                <span class="checkmark"></span>
                                <span style="margin-right: 0.5em;">
                                    Al enviarnos su información personal usted autoriza a CONSTRUCTORA CAPITAL BOGOTÁ
                                    S.A.S y
                                    CONSTRUCTORA CAPITAL MEDELLÍN S.A.S en adelante “EL RESPONSABLE” para que traten sus
                                    datos de
                                    conformidad con la autorización <a
                                        href="https://www.constructoracapital.com/autorizacion-tratamiento-datos-personales"
                                        target="_blank">aquí indicada</a>.
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------------------------------- -->
        <!-- ----------------------------- Registro--------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div class="pure-g" v-if="mode == 1">
            <div class='pure-u-1-1' style="font-size: 1.6em;">
                {{ ObjCliente.nombres }}
            </div>
            <div v-for="(tabItem, index) in tab" :key="index" @click="activeTab = index" :class="[
                'tab-registro', { active: activeTab === index },{ 'highlight-text': tabItem === 'Registros de compras' && registroCompras.length > 0 }]">
                {{ tabItem }}
                <span v-if="tabItem === 'Registros de compras' && registroCompras.length > 0" class="dot"></span>
            </div>

            <div v-if="activeTab == 0">
                <div class='pure-u-1-1 formDivision' style="margin-top: 0.5em;">
                    <span style="font-size: 1.5em;">Registros de visita</span>
                    <button @click="limpiarObj(1)" style="float: right;">Nueva visita</button>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-4 filtro-proyecto-inline'>
                    <label for="filtro-proyecto" style="white-space: nowrap;">Filtrar por Proyecto:</label>
                    <select v-model="filtroProyecto" id="filtro-proyecto" style="flex: 1;">
                        <option value="">Todos</option>
                        <option v-for="proy in proyectosUnicos" :key="proy" :value="proy">
                            {{ proy }}
                        </option>
                    </select>
                </div>
                <div
                    style="height: 11rem; overflow-y: auto; margin-top: 0.5em;">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th style="width: 16.5%;">Fecha</th>
                                <th>Proyecto</th>
                                <th>Tipo</th>
                                <th>Modo</th>
                                <th style="width: 30%;">Descripción</th>
                                <th>Contador</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in visitasFiltradas" :key="item.id_visita"
                                @click="editarVisita(item.id_visita)">
                                <td>{{ item.fecha }}</td>
                                <td>{{ item.proyecto }}</td>
                                <td style="max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                                    :title="item.nombre_tipo_registro">
                                    {{ item.nombre_tipo_registro }}
                                </td>
                                <td style="max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                                    :title="item.nombre_modo_atencion">
                                    {{ item.nombre_modo_atencion }}
                                </td>
                                <td>{{ item.descripcion }}</td>
                                <td>{{ contadorProyectos[item.proyecto] || 0 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="activeTab == 1">
                <div class='pure-u-1-1 formDivision' style="margin-top: 0.5em;">
                    <span style="font-size: 1.5em;">Registros de compras</span>
                </div>
                <div
                    style="height: 11rem; overflow-y: auto; margin-top: 0.5em;">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th style="width: 15%;">Fecha</th>
                                <th>Proyecto</th>
                                <th>Tipo</th>
                                <th>Modo</th>
                                <th style="width: 30%;">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, idx) in registroCompras" :key="idx">
                                <td>{{ item.fecha }}</td>
                                <td>{{ item.proyecto }}</td>
                                <td>{{ item.tipo }}</td>
                                <td>{{ item.modo }}</td>
                                <td>{{ item.descripcion }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class='pure-u-1-1 formDivision' style="margin-top: 0.5em;">
                    <span style="font-size: 1.5em;">Tipo de Registro (referido a la visita seleccionada en la
                        tabla)</span>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-1'>
                    <div class='formInputStandard'>
                        <div class='pure-g'>
                            <div v-for='(item, index) in tipo_registro' :key="index" class='pure-u-1-1 pure-u-md-1-6'
                                style='margin: .8rem 0 .8rem 0; '>
                                <label class="check">
                                    <input type="checkbox" value='1' v-model="item.checked" />
                                    <span class="checkmark"></span>
                                    {{ item.tipo_registro }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision'>
                    <span style="font-size: 1.5em;">Motivo de atención (referido a la visita seleccionada in la tabla)</span>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-1">
                    <div class="formInputStandard">
                        <div class="pure-g" style="align-items: center; flex-wrap: wrap;">
                            <template v-for="(item, index) in modo_atencion" :key="index">
                                <div v-if="item.modo_atencion !== 'Tramites' && item.modo_atencion !== 'Otro'"
                                    class="pure-u-1-1 pure-u-md-1-8" style="display: flex; align-items: center;">
                                    <label class="check">
                                        <input type="checkbox" v-model="item.checked" />
                                        <span class="checkmark"></span>
                                        {{ item.modo_atencion }}
                                    </label>
                                </div>
                                <div v-if="item.modo_atencion === 'Tramites'" class="pure-u-1-1 pure-u-md-1-12"
                                    style="display: flex; align-items: center;">
                                    <label class="check">
                                        <input type="checkbox" v-model="item.checked" />
                                        <span class="checkmark"></span>
                                        {{ item.modo_atencion }}
                                    </label>
                                </div>
                                <div v-if="item.modo_atencion === 'Tramites'" class="pure-u-1-1 pure-u-md-1-5"
                                    style="padding-left: 1rem;">
                                    <select v-model="ObjVisita.id_tipo_tramite" :disabled="!item.checked">
                                        <option disabled value="">[Trámites]</option>
                                        <option v-for="opcion in tipo_tramite" :value="opcion.id_tipo_tramite">
                                            {{ opcion.tipo_tramite }}
                                        </option>
                                    </select>
                                </div>
                                <div v-if="item.modo_atencion === 'Otro'" class="pure-u-1-1 pure-u-md-1-12"
                                    style="padding-left: 1rem;">
                                    <label class="check">
                                        <input type="checkbox" v-model="item.checked" />
                                        <span class="checkmark"></span>
                                        {{ item.modo_atencion }}
                                    </label>
                                </div>
                                <div v-if="item.modo_atencion === 'Otro'" class="pure-u-1-1 pure-u-md-1-4">
                                    <input type="text" v-model="ObjVisita.otro_texto" maxlength="100" placeholder="Especificar"
                                        :disabled="!item.checked" style="width: 100%;" />
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-1 formDivision'>
                    <span style="font-size: 1.5em;">Otra información (referido a la visita seleccionada en la
                        tabla)</span>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Categoría Medio</span>
                        <select v-model='ObjVisita.id_categoria'>
                            <option value='' disabled selected>Seleccione</option>
                            <option v-for='item in categoria' v-bind:value='item.id_categoria'>
                                {{ item.categoria }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Medio</span>
                        <select v-model='ObjVisita.id_medio'>
                            <option value='' disabled selected>Seleccione</option>
                            <option v-for='item in medio' v-bind:value='item.id_medio'>
                                {{ item.medio }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Motivo de Compra</span>
                        <select v-model='ObjVisita.id_motivo_compra'>
                            <option value='' selected>Seleccione</option>
                            <option v-for='item in motivo_compra' v-bind:value='item.id_motivo_compra'>
                                {{ item.motivo_compra }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Presupuesto disponible</span>
                        <select v-model='ObjVisita.id_presupuesto_vivienda'>
                            <option value='' selected>Seleccione</option>
                            <option v-for='item in presupuesto_vivienda' v-bind:value='item.id_presupuesto_vivienda'>
                                {{ item.rango }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-5'>
                    <div class='formInputStandard'>
                        <span>Referencias</span>
                        <select v-model='ObjVisita.id_referencia'>
                            <option value='' selected>Seleccione</option>
                            <option v-for='item in referencia' v-bind:value='item.id_referencia'>
                                {{ item.referencia }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-1'>
                    <div class='formInputStandard filtro-proyecto-inline'>
                        <span>Descripción</span>
                        <input type='text' v-model='ObjVisita.descripcion' maxlen='100' placeholder="Seleccione" />
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------------------------------- -->
        <!-- --------------------------- Cotización--------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div style="display: flex; flex-direction: column; gap: .5rem; height: 100%;" v-if="mode == 2">
            <div style="height: 50%;">
                <div class='pure-u-1-1' style="font-size: 2em;">
                    {{ ObjCliente.nombres }}
                </div>
                <div class='formDivision' style="margin-top: 0.5em;">
                    <span style="font-size: 1.8em;">Cotizaciones</span>
                    <button style="float: right;" @click="addCotizacion">Nueva Cotización</button>
                </div>
                <div style="width: 100%; height: calc(100% - 7rem); overflow-y: auto; margin-top: 0.5rem;">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th class="col-1-6">Cotización</th>
                                <th class="col-1-6">Fecha</th>
                                <th class="col-3-6">Descripción</th>
                                <th class="col-1-6">Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in cotizaciones" :key="index" @click="seleccionarCotizacion(item.cotizacion)"
                                :class="{ seleccionado: cotizacionSeleccionada === item.cotizacion }">
                                <td class="col-1-6">{{ item.cotizacion }}</td>
                                <td class="col-1-6">{{ item.fecha }}</td>
                                <td class="col-3-6">
                                    <input type="text" v-model="item.descripcion" placeholder="Descripción"
                                        @focus="seleccionarCotizacion(item.cotizacion)" />
                                </td>
                                <td class="col-1-6" style="text-align: right;">{{ item.importeTotal ? formatoMoneda(item.importeTotal) : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="height: 50%;">
                 <div class='formDivision' style="margin-top: 0.5em;">
                    <span style="font-size: 1.8em;">Unidad</span>
                    <button style="float: right;" @click="abrirNuevoModulo">Agregar Unidades</button>
                </div>
                <div style="width: 100%; height: calc(100% - 7rem); overflow-y: auto; margin-top: 0.5rem;">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th style="width: 5%;">Ítem</th>
                                <th style="width: 15%;">Fecha</th>
                                <th style="width: 5%;">Tipo</th>
                                <th style="width: 5%;">Torre</th>
                                <th style="width: 40%;">Observación</th>
                                <th style="width: 15%;">Importe</th>
                                <th style="width: 15%;">Descuento</th>
                                <th style="width: 5%;">UT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in unidades" :key="index">
                                <td>{{ item.numero_apartamento }}</td>
                                <td>{{ item.created_on }}</td>
                                <td>{{ item.tipo }}</td>
                                 <td>{{ item.consecutivo }}</td>
                                <td>{{ item.observacion_apto }}</td>
                                <td style="text-align: right;">{{ formatoMoneda(item.valor_unidad) }}</td>
                                <td style="text-align: right;">{{ formatoMoneda(item.valor_descuento) }}</td>
                                <td style="text-align: center;">{{ item.inv_terminado }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="pure-u-1-1"
                        style="margin-top: 0.5em; display: flex; align-items: center; justify-content: space-between;">
                        <div class="pure-u-1-1 pure-u-md-1-3" style="display: flex; align-items: center; gap: 6.5em;">
                            <samp class="pure-u-1-1 pure-u-md-1-3">Lista Activa:</samp>
                            <select v-model="">
                                <option value="" selected>[Seleccione]</option>
                                <option value="">Opción 1</option>
                            </select>
                        </div>
                 
                    </div> -->
            <div v-if="mostrarModal" class="asunto-modal-overlay">
                <div class="asunto-modal-box">
                    <span class="asunto-modal-close" @click="mostrarModal = false">×</span>
                    <h3>Seleccione el Seguimiento</h3>
                    <select class="asunto-select" v-model="asuntoSeleccionado">
                        <option disabled value="">Seleccione el seguimiento...</option>
                        <option v-for="(opcion, index) in asuntos" :key="index">{{ opcion }}</option>
                    </select>
                    <div style="text-align: center; margin-top: 1em;">
                        <button @click="guardarCotizacion">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------------------------------- -->
        <!-- ----------------------------- Opción ---------------------------- -->
        <!-- ----------------------------------------------------------------- -->
        <div v-if="mode == 3">
            <div class='pure-u-1-1' style="font-size: 2em;">
                {{ ObjCliente.nombres }}
            </div>
            <div class='pure-u-1-1 formDivision' style="display: flex; justify-content: space-between;">
                <div class="pure-u-1 pure-u-md-1-2">
                    <span style="font-size: 1.2em;">Opcionar</span>
                </div>
                <div class="pure-u-1 pure-u-md-1-2">
                    <span style="font-size: 1.2em;">Importe:</span>
                </div>
            </div>
            <div class="pure-g" style="margin-top: 1em;">
                <div class="pure-u-1 pure-u-md-1-1" style="margin-bottom: .5em;">
                    <legend>Modo de Pago:</legend>
                    <fieldset style="border: 1px solid lightgray; padding: 1em;">
                        <label class="check" class="pure-u-1-1 pure-u-md-1-6" style="margin-top: .4em;">
                            <input type="checkbox" value='1' v-model="" />
                            <span class="checkmark"></span>
                            Contado
                        </label>
                        <span class="pure-u-1-1 pure-u-md-1-12" style="margin-top: .4em;">Modalidad:</span>
                        <div class="pure-u-1-1 pure-u-md-1-4">
                            <select>
                                <option>Seleccione</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
                <div class="pure-u-1 pure-u-md-1-1" >
                    <fieldset style="border: 1px solid lightgray; padding: 1em;">
                        <div>
                            <label class="check" class="pure-u-1-1 pure-u-md-1-6" style="margin-top: .4em;">
                                <input type="checkbox" value='1' v-model="" />
                                <span class="checkmark"></span>
                                Financiado
                            </label>
                            <span class="pure-u-1-1 pure-u-md-1-12" style="margin-top: .4em;">Modalidad:</span>
                            <div class='pure-u-1-1 pure-u-md-1-4'>
                                <select v-model=''>
                                    <option value='' selected>Seleccione</option>
                                    <option>
                                    </option>
                                </select>
                            </div>
                            <div>
                                <span class="pure-u-1-1 pure-u-md-1-12" style="margin-top: .4em;">Tipo:</span>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-5'>
                                <select>
                                    <option>Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="pure-u-1-1 pure-u-md-1-6"></div>
                            <span class="pure-u-1-1 pure-u-md-1-12" style="margin-top: .4em;">Entidad:</span>
                            <div class='pure-u-1-1 pure-u-md-1-4'>
                                <select>
                                    <option>Seleccione</option>
                                </select>
                            </div>
                            <span class="pure-u-1-1 pure-u-md-1-12" style="margin-top: .4em;">años:</span>
                            <div class='pure-u-1-1 pure-u-md-1-4'>
                                <select>
                                    <option>Seleccione</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class='pure-u-1-1 formDivision' style="font-size: 1.2em; margin-top: 1em;">
                Aportes y subsidios
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Cesantías</span>
                        <input type="text" value="0,00" />
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Ahorros</span>
                        <input type="text" value="0,00" />
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Ingresos</span>
                        <input type="text" value="0,00" />
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <label><input type="radio" name="subsidio" /> Subsidio</label>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Valor Subsidio</span>
                        <input type="text" value="0,00" style="color: red;" />
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-6">
                    <div class="formInputStandard">
                        <span>Caja de compensación:</span>
                        <select style="width: 100%;">
                            <option>Seleccione</option>
                        </select>
                    </div>
                </div>
            </div>
        
            <div class='pure-u-1-1 formDivision' style="margin-top: 1em;">
                <span>Importe Financiable:</span> <strong></strong>
                Cuota Inicial: <strong></strong>
                Cuota: <strong></strong>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------ -->
    <!-- ----------------------------- Global------------------------- -->
    <!-- ------------------------------------------------------------ -->
    <div class="pure-u-1-1" style="padding-top: 1em;" v-if="iscliente">
        <div class="pure-g" style="justify-content: center; gap: 1em; display: flex;">
            <!-- <div v-if="mode != 0" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="handleNext(mode - 1)">Volver</button>
            </div> -->
            <div v-if="mode == 0" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="nuevoCliente">Guardar</button>
            </div>
            <div v-if="mode == 1" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="nuevaVisita">Guardar</button>
            </div>
            <div v-if="mode == 2" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="showAtencionModal">Guardar</button>
            </div>
            <!-- <div v-if="mode != 5 && ObjCliente.Nombres != ''" class="pure-u-auto">
                <button class="pure-button button-fixed" @click="handleNext(mode + 1)">Siguiente</button>
            </div> -->
        </div>
    </div>
</div>