<div class="pure-g">
    <div v-if="lateralMenu" class="pure-u-1-1 pure-u-md-1-5 lateralMenu">
        <div class="lateralMenuHeader">
        </div>
        <div class="lateralMenuGroup">
            <div class="lateralMenuGroup">
                <div class="lateralMenuItem noSelect group" style="padding-left: 8px;">
                    Administración de Proyectos
                </div>
                <div v-on:click="setMainMode('EdicionProyectos')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'EdicionProyectos'}" id="MenuItemEdicion">
                    <img src="./img/ico/svg/sidebar/Información Básica.svg" />
                    Información Básica
                </div>
                <div v-on:click="setMainMode('Medios')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'Medios'}">
                    <img src="./img/ico/svg/media.svg" />
                    Imágenes y Vídeos
                </div>
                <div v-on:click="setMainMode('Unidades')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'Unidades'}">
                    <img src="./img/ico/svg/sidebar/Torres y Unidades.svg" />
                    Torres y Unidades
                </div>
                <div v-on:click="setMainMode('Documentacion')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'Documentacion'}">
                    <img src="./img/ico/svg/sidebar/Documentación.svg" />
                    Documentación
                </div>
                <div v-on:click="setMainMode('Bancos')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'Bancos'}">
                    <img src="./img/ico/svg/Maestro/Bancos.svg" />
                    Administrar Bancos
                </div>
            </div>
            <div class="lateralMenuGroup">
                <div class="lateralMenuItem noSelect group" style="padding-left: 8px;">
                    Gestión Comercial
                </div>
                <div v-on:click="setMainMode('Recorridos')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'Recorridos'}">
                    <img src="./img/ico/tour.jpg" />
                    Recorridos Virtuales
                </div>
                <div v-on:click="setMainMode('Rotafolio')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'Rotafolio'}">
                    <img src="./img/ico/svg/sidebar/Rotafolio.svg" />
                    Rotafolio de Proyectos
                </div>
                <div v-on:click="setMainMode('ProcesoNegocio')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'ProcesoNegocio'}">
                    <img src="./img/ico/svg/sidebar/Proceso de negocio.svg" />
                    Proceso de negocio
                </div>
                <div v-on:click="setMainMode('Clientes')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'Clientes'}">
                    <img src="./img/ico/svg/sidebar/Clientes.svg" />
                    Clientes
                </div>
            </div>
            <div class="lateralMenuGroup">
                <div class="lateralMenuItem noSelect group" style="padding-left: 8px;">
                    Agenda
                </div>
                <div v-on:click="setMainMode('MisCompromisos')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'MisCompromisos'}">
                    <img src="./img/ico/svg/sidebar/Compromisos.svg" />
                    Mis compromisos
                </div>
                <div v-on:click="setMainMode('MiCalendario')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'MiCalendario'}">
                    <img src="./img/ico/svg/sidebar/Mi Calendario.svg" />
                    Mi Calendario
                </div>
            </div>
            <div class="lateralMenuGroup">
                <div class="lateralMenuItem noSelect group" style="padding-left: 8px;">
                    Salas de Ventas
                </div>
                <div v-on:click="setMainMode('SalaInfo')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'SalaInfo'}">
                    <img src="./img/ico/svg/sidebar/Gestión de personal.svg" />
                    Información Básica
                </div>
                <div v-on:click="setMainMode('SalaMedios')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'SalaMedios'}">
                    <img src="./img/ico/svg/sidebar/Calendario.svg" />
                    Gestión de medios
                </div>
                <div v-on:click="setMainMode('SalaPersonal')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'SalaPersonal'}">
                    <img src="./img/ico/svg/sidebar/Gestión de personal.svg" />
                    Gestión de Personal
                </div>
                <div v-on:click="setMainMode('SalaCalendario')" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 'SalaCalendario'}">
                    <img src="./img/ico/svg/sidebar/Calendario.svg" />
                    Calendario
                </div>
                <div v-on:click="setMainMode(16)" class="lateralMenuItem noSelect"
                    v-bind:class="{'lateralMenuItemSelected': mainmode == 16}">
                    <img src="./img/ico/svg/sidebar/Programación mensual.svg" />
                    Programación mensual
                </div>
            </div>
        </div>
    </div>
    <div :class="['pure-u-1-1', lateralMenu ? 'pure-u-md-4-5' : 'pure-u-md-1-1']">
        <div class="pure-g">
            <div class="pure-u-1-24"></div>
            <div class="pure-u-22-24">
                <div
                    style="font-size: 1rem; font-weight:500; border-bottom: 1px solid rgb(231, 231, 231); padding: 0.5rem 1rem; ">
                    <div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="selRuta(r)">
                        <span class="hoverLink">{{ r.text }}</span>
                        <span v-if="i < ruta.length - 1"> / </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="projectsMainContent"></div>
        <!--Documentacións-->
        <div v-if="mainmode == 5"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!--Rotafolio de Proyectos-->
        <div v-if="mainmode == 6"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!--Proceso de negocio-->
        <div v-if="mainmode == 7"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!--Clientes-->
        <div v-if="mainmode == 8"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!-- Informes y Cargues-->
        <div v-if="mainmode == 9">
            <div style="font-size: 1rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem;">
                <div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
                    <span class="hoverLink">{{ r.text }}</span>
                    <span v-if="i < ruta.length - 1"> / </span>
                </div>
            </div>
            <div style="padding-top: 1em;">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24" style="height: 80vh;">
                    <div class="pure-g">
                        <!-- Columna Informes -->
                        <div class="pure-u-1-1 pure-u-md-11-24 menuCard">
                            <div class="cardColor">
                                <h2>Informes</h2>
                                <div style="margin-top: 3em;">
                                    <div class='pure-u-1-1 pure-u-md-1-1'>
                                        <div style="margin-bottom: 1em;">
                                            <select v-model="selectInfo">
                                                <option value='' disabled selected>[Seleccione uno ...]</option>
                                                <option v-for='item in informes'
                                                    v-bind:value='item.id_procedimiento_informe'>
                                                    {{ item.nombre }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="display: flex; flex-direction: column;min-height: 9vh;">
                                        <div v-show="selectInfo != ''">
                                            <table class="editTable"
                                                style="width: 96%; background-color: white;margin-top: 1em;">
                                                <thead>
                                                    <tr>
                                                        <th>Parámetro</th>
                                                        <th>Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in parsInforme.pars">
                                                        <td v-if="item && item.visible">{{ item.parametro }}</td>
                                                        <td v-if="item && item.visible">
                                                            <select v-if="item.tipo === 'select'" v-model="item.valor"
                                                                style="padding: 1px;">
                                                                <option v-for="op in item.opciones" :key="op"
                                                                    :value="op">{{ op }}
                                                                </option>
                                                            </select>
                                                            <input v-else :type="item.tipo" v-model="item.valor"
                                                                style="border:0px;" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="padding-top: 2em;">
                                        <button>Generar Informe</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-2-24"></div>
                        <!-- Columna Cargues -->
                        <div class="pure-u-1-1 pure-u-md-11-24 menuCard">
                            <div class="cardColor">
                                <h2>Cargues</h2>
                                <div style="margin-top: 3em;">
                                    <div class='pure-u-1-1 pure-u-md-1-1'>
                                        <div style="margin-bottom: 1em;">
                                            <select v-model="selectCarg">
                                                <option value='' disabled selected>[Seleccione uno ...]</option>
                                                <option v-for='item in cargues'
                                                    v-bind:value='item.id_procedimiento_informe'>
                                                    {{ item.nombre }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="text-align: center;">
                                        <div v-if="!fileSelected">
                                            <label for="archivo-cargue" class="upload-label upload-area">
                                                <samp> Seleccionar Archivo</samp>
                                            </label>
                                            <input type="file" id="archivo-cargue" class="hidden-input"
                                                @change="handleFileUpload">
                                        </div>
                                        <div v-if="fileSelected">
                                            <table style="border-collapse: collapse;width: 86%">
                                                <tbody>
                                                    <tr>
                                                        <td class="buttonTd" style="width: 1.5em" @click="removeFile">
                                                            <span style="color:red">&#x02717;</span>
                                                        </td>
                                                        <td class="upload-label"
                                                            style="padding-left:1em; text-align: left;padding: 20px;">
                                                            <!-- Nombre de archivo -->
                                                            <span v-if="fileSelected">{{ fileSelected.name }}</span>
                                                            <span v-else>No se ha seleccionado un archivo</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="margin-top: 2em;">
                                        <button>Cargar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-24"></div>
                </div>
            </div>
        </div>
        <!-- Mis compromisos-->
        <div v-if="mainmode == 10"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!--  Mi Calendario-->
        <div v-if="mainmode == 11"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!-- Cambiar lugar de atención -->
        <div v-if="mainmode == 12"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!-- Cambiar de tarea -->
        <div v-if="mainmode == 13"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!-- Gestión de Personal -->
        <div v-if="mainmode == 14"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!-- Calendario -->
        <div v-if="mainmode == 15"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
        <!-- Programación mensual -->
        <div v-if="mainmode == 16"
            style="display: flex; justify-content: center; align-items: center; height: calc(100dvh - 5rem);">
            <div>
                <img src="../../img/background/MEN AT WORK.JPG" alt="">
            </div>
        </div>
    </div>
</div>