<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-5 lateralMenu">
        <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 0.75rem;">
            {{ ruta }}
        </div>
        <div v-on:click="setMainMode(1)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 1}">
            <img src="./img/ico/svg/user.svg" />
            Editar Proyectos
        </div>
        <div v-on:click="setMainMode(2)" class="lateralMenuItem noSelect" v-bind:class="{'lateralMenuItemSelected': mainmode == 2}">
            <img src="./img/ico/svg/user.svg" />
            Menú de Proyectos
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-4-5">
        <!--PROYECTOS-->
        <div v-if="mainmode == 1">
            <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem; ">
                <span class="hoverLink" v-on:click="mode = 0">Proyectos</span>
                <span v-if="mode == 1">  /  Nuevo</span>
                <span v-if="mode == 2">  /  Edición</span>
            </div>
            <!--LISTA PROYECTOS-->
            <div v-if="mode == 0" style="padding: 1em">
                <h2>Proyectos</h2>
                <div class="searchBox">
                    <!--TODO-->
                    <!--Hacer igual que usuarios agregando los filtros-->
                    <!--Falta incluir Loo, Slide y Planta general Termómetro-->
                    <div class="pure-g">
                        <div class="pure-u-1-1 pure-u-md-18-24">
                            <input type="text" placeholder="o Nombre" />
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-24">
                            <div class="imgGraybutton">
                                <img src="./img/ico/svg/search.svg" />
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-5-24">
                            <button style="width:100%" v-on:click="mode = 1">Nuevo Proyecto</button>
                        </div>
                    </div>
                </div>
                <div class="searchBox">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Sede</th>
                                <th>Zona</th>
                                <th>Ciudadela</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in proyectos">
                                <td>{{item.usuario}}</td>
                                <td>{{item.nombres}}</td>
                                <td>{{item.cargo}}</td>
                                <td>{{item.identificacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--NUEVO PROYECTO-->
            <div v-if="mode == 1" class="pure-g" style="height: max-content">
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24" style="margin: 0em 0em 0.5em 0em;">
                    <div class="pure-g">
                        <div class="pure-u-1-1 pure-u-md-1-6">
                            <div class="wizarTab noSelect" v-on:click="submode = 0" v-bind:class="{wizarTabActive: submode == 0, wizarTabError: submode != 0}" 
                                 style="font-size: 1em; margin-top: .3em">
                                Datos Generales
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-6">
                            <div class="wizarTab noSelect" v-on:click="submode = 1" v-bind:class="{wizarTabActive: submode == 1, wizarTabError: submode != 1}" 
                                 style="font-size: 1em; margin-top: .3em">
                                VIS y Financiación
                            </div>
                         </div>
                        <div class="pure-u-1-1 pure-u-md-1-6">
                            <div class="wizarTab noSelect" v-on:click="submode = 2" v-bind:class="{wizarTabActive: submode == 2, wizarTabError: submode != 2}" 
                                 style="font-size: 1em; margin-top: .3em">
                                Pagos y Cotizaciones
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-6">
                            <div class="wizarTab noSelect" v-on:click="submode = 3" v-bind:class="{wizarTabActive: submode == 3, wizarTabError: submode != 3}" 
                                 style="font-size: 1em; margin-top: .3em">
                                C. de Costos y Fiduciaria
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-6">
                            <div class="wizarTab noSelect" v-on:click="submode = 4" v-bind:class="{wizarTabActive: submode == 4, wizarTabError: submode != 4}" 
                                 style="font-size: 1em; margin-top: .3em">
                                Información Adicional
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-6">
                            <div class="wizarTab noSelect" v-on:click="submode = 5" v-bind:class="{wizarTabActive: submode == 5, wizarTabError: submode != 5}" 
                                 style="font-size: 1em; margin-top: .3em">
                                Enlaces
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-24"></div>
                <div class="pure-u-1-24"></div>
                <div class="pure-u-22-24 menuCard">
                    <!--Datos generales-->
                    <div class="pure-g" v-show="submode == 0 ">
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                            Datos generales
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard'>
                                <span>Nombre</span>
                                <input type='text' v-model='objProyecto.nombre' maxlen='100' />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard'>
                                <span>Dirección del Proyecto</span>
                                <input type='text' v-model='objProyecto.direccion' maxlen='100' />
                            </div>
                        </div>

                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>Sede</span>
                                <select v-model='objProyecto.id_sede'>
                                    <option value='' disabled selected>Seleccione</option>
                                    <option v-for='item in []' v-bind:value='item.id_sede'>
                                        {{ item.sede }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>Zona</span>
                                <select v-model='objProyecto.NA'>
                                    <option value='' disabled selected>Seleccione</option>
                                    <option v-for='item in []' v-bind:value='item.NA'>
                                        {{ item.NA }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>Ciudadela</span>
                                <select v-model='objProyecto.id_ubicacion_proyecto'>
                                    <option value='' disabled selected>Seleccione</option>
                                    <option v-for='item in []' v-bind:value='item.id_ubicacion_proyecto'>
                                        {{ item.ubicacion_proyecto }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>Tipo</span>
                                <select v-model='objProyecto.id_tipo_proyecto'>
                                    <option value='' disabled selected>Seleccione</option>
                                    <option v-for='item in []' v-bind:value='item.id_tipo_proyecto'>
                                        {{ item.tipo_proyecto }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class='pure-u-1-1 pure-u-md-1-1'>
                            <div class='formInputStandard'>
                                <span>Información adicional / Otros / Zonas Comunes</span>
                                <textarea type='text' v-model='objProyecto.otra_info' style="height:5rem"></textarea>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                            Archivos
                        </div>
                        <!--Logo, Slide y Planta Gral-->

                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Estado del Proyecto
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1'>
                            <div class='formInputStandard'>
                                <div class='pure-g'>
                                    <div v-for='item in estadosPublicacion' class='pure-u-1-4'>
                                        <label>
                                            <input type='checkbox' value='1' v-model='item.checked' />
                                            {{item.estado_publicacion}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1'> </div>
                    </div>
                    <!--VIS y financiación-->
                    <div class="pure-g" v-show="submode == 1">
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                            VIS y financiación
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Tipología VIS
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1'>
                            <div class='formInputStandard'>
                                <div class='pure-g'>
                                    <div v-for='item in tiposVIS' class='pure-u-1-6'>
                                        <label>
                                            <input type='checkbox' value='1' v-model='item.checked' />
                                            {{item.tipo_vis}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--TODO Excluir Torre Tipo-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Unidades (Torre/Tipo;) a excluir de subsidios VIS
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <select id="torre" class="pure-input-1">
                                    <option value="" disabled selected>Torre</option>
                                    <!--<option v-for="item in cargos" :key="item.id_cargo" :value="item.id_cargo"> {{ item.cargo }} </option>-->
                                </select>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <select id="tipo" class="pure-input-1">
                                    <option value="" disabled selected>Tipo</option>
                                    <!--<option v-for="item in cargos" :key="item.id_cargo" :value="item.id_cargo"> {{ item.cargo }} </option>-->
                                </select>
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-6">
                            <button style="margin-top: 0.4rem;" v-on:click="mode = 1">Agregar</button>
                        </div>
                        <div class='pure-u-3-4 pure-u-md-12-24'>
                            <input style="margin-top: 0.4rem;" type='text' v-model='objProyecto.subsidios_vis' maxlen='100' />
                        </div>
                        <!--Fin TODO-->
                        <!--TODO Acabados y reformas-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Acabados y reformas
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <div class='pure-g'>
                                    <div class='pure-u-1-2'>
                                        <label>
                                            <input type='checkbox' value='0' v-model='objProyecto.acabados' name='acabados' />
                                            Acabados
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <div class='pure-g'>
                                    <div class='pure-u-1-2'>
                                        <label>
                                            <input type='checkbox' value='0' v-model='objProyecto.reformas' name='reformas' />
                                            Reformas
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Fin TODO-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Tipos de financiación
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1'>
                            <div class='formInputStandard'>
                                <div class='pure-g'>
                                    <div v-for='item in tiposFinanciacion' class='pure-u-1-6'>
                                        <label>
                                            <input type='checkbox' value='1' v-model='item.checked' />
                                            {{item.tipo_financiacion}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Datos de pago-->
                    <div class="pure-g" v-show="submode == 2">
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                            Información para Pagos y Cotizaciones
                        </div>

                        <!--Fechas límite-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Días límite para el pago
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>Días para consignar separación</span>
                                <input type='number' v-model='objProyecto.dias_separacion' maxlen='100' />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>Dias para cierre en sala</span>
                                <input type='number' v-model='objProyecto.dias_cierre_sala' maxlen='100' />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>Máximo meses para pago Cuota Inicial</span>
                                <input type='number' v-model='objProyecto.meses_ci' maxlen='100' />
                            </div>
                        </div>

                        <!--Datos Sala: Coordinación y cotizaciones-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Coordinación de Sala de Ventas
                        </div>
                        <!--TODO Cambiar email de coordinado de sala por coordinador de sala-->
                        <!--<div class='pure-u-1-1 pure-u-md-1-4'>
            <div class='formInputStandard'>
                <span>E-mail coordiandor de Sala</span>
                <input type='email' v-model='objProyecto.email_coordinador_sala' maxlen='100' />
            </div>
        </div>-->
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <label for="coordinacion" style="display: block; margin-bottom: 0.3rem;">Coordinación</label>
                                <select id="coordinacion" class="pure-input-1">
                                    <option value="" disabled selected>Seleccione Coordinacion</option>
                                    <!--<option v-for="item in usuarios" :key="item.id_cargo" :value="item.id_cargo">{{ item.cargo }}</option>-->
                                </select>
                            </div>
                        </div>
                        <!--Fin TODO-->

                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>Meta VentasUnidades / Mes<</span>
                                <input type='number' v-model='objProyecto.meta_ventas' maxlen='100' />
                            </div>
                        </div>
                        <!--<div class='pure-u-1-1 pure-u-md-1-4'>
            <div class='formInputStandard'>
                <span title="Días antes de la fecha de Pago CI BankAmig">Días pago Banco Amigo</span>
                <input type='number' v-model='objProyecto.dias_pago_ci_banco_amigo' maxlen='100' />
            </div>
        </div>
        <div class='pure-u-1-1 pure-u-md-1-4'>
            <div class='formInputStandard'>
                <span title="Días antes de la fecha de Pago CI BankNoAmig">Días pago Banco no Amigo</span>
                <input type='number' v-model='objProyecto.dias_pago_ci_banco_no_amigo' maxlen='100' />
            </div>
        </div>-->
                        <!--Datos Cotizaciones-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Cotizaciones
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>E-mail para cotizaciones y opciones</span>
                                <input type='email' v-model='objProyecto.email_cotizaciones' maxlen='100' />
                            </div>
                        </div>
                        <!--TODO incluir opción sibn pie legal-->
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>Pie Legal Cotizaciones</span>
                                <select v-model='objProyecto.id_pie_legal'>
                                    <option value='' disabled selected>Seleccione</option>
                                    <option v-for='item in []' v-bind:value='item.id_pie_legal'>
                                        {{ item.pie_legal }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--C. de costos y fiduciaria-->
                    <div class="pure-g" v-show="submode == 3">
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                            Centro de costos y fiduciaria
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1'>
                            <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                                Centro de costos y fiduciaria
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-2'>
                                <div class='formInputStandard'>
                                    <span>Centro Costos</span>
                                    <input type='text' v-model='objProyecto.centro_costos' maxlen='100' />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-2'>
                                <div class='formInputStandard'>
                                    <span>Fiduciaria</span>
                                    <select v-model='objProyecto.id_fiduciaria'>
                                        <option value='' disabled selected>Seleccione</option>
                                        <option v-for='item in []' v-bind:value='item.id_fiduciaria'>
                                            {{ item.fiduciaria }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                                Opciones visuales
                            </div>
                            <div class='formInputStandard'>
                                <div class='pure-g'>
                                    <div v-for='item in opcionesVisuales' class='pure-u-1-2'>
                                        <label>
                                            <input type='checkbox' value='1' v-model='item.checked' />
                                            {{item.opcion_visual}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Información adicional-->
                    <div class="pure-g" v-show="submode == 4">
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                            Información adicional
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Lanzamiento del Proyecto
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Es Lanzamiento</span>
                                <div class='pure-g'>
                                    <div class='pure-u-1-2'>
                                        <label>
                                            <input type='radio' value='1' v-model='objProyecto.lanzamiento' name='lanzamiento' />Sí
                                        </label>
                                    </div>
                                    <div class='pure-u-1-2'>
                                        <label>
                                            <input type='radio' value='0' v-model='objProyecto.lanzamiento' name='lanzamiento' />No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Ciudad de Lanzamiento</span>
                                <input type='text' v-model='objProyecto.ciudad_lanzamiento' maxlen='100' />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Fecha Lanzamiento</span>
                                <input type='date' v-model='objProyecto.fecha_lanzamiento' maxlen='100' />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <span>Coord. geográficas</span>
                                <input type='text' v-model='objProyecto.latitud' maxlen='100' />
                            </div>
                        </div>

                        <!--Lanzamiento VIP-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Lanzamiento VIP
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1'>
                            <label>Bloquear libres al alcanzar X opciones (BOG por torre, MED por Torre/Tipo)</label>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6' style="margin-top: 0.2em">
                            <div class='formInputStandard'>
                                <div class='pure-g'>
                                    <div class='pure-u-1-2'>
                                        <label>
                                            <input type='radio' value='1' v-model='objProyecto.bloqueo_libres' name='bloqueo_libres' />Sí
                                        </label>
                                    </div>
                                    <div class='pure-u-1-2'>
                                        <label>
                                            <input type='radio' value='0' v-model='objProyecto.bloqueo_libres' name='bloqueo_libres' />No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6' style="margin-top: 0.7em">
                            Límite Unds opcionadas
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard'>
                                <input type='number' v-model='objProyecto.inmuebles_opcionados' maxlen='100' />
                            </div>
                        </div>

                        <div class='pure-u-1-1 pure-u-md-1-6' style="margin-top: 0.7em; margin-left: 1em">
                            Tipos excluidos
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-6'>
                            <div class='formInputStandard' style="width: 200%">
                                <input type='text' v-model='objProyecto.tipos_excluidos' maxlen='100' />
                            </div>
                        </div>

                        <!--Waze, Whatsapp y Otros-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Waze, Whatsapp y Otros
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard'>
                                <span>Link a la ruta con navegador Waze</span>
                                <input type='text' v-model='objProyecto.link_waze' maxlen='100' />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard'>
                                <span>Línea de contacto de Whatsapp</span>
                                <input type='tel' v-model='objProyecto.linea_whatsapp' maxlen='100' />
                            </div>
                        </div>
                        <!--<div class='pure-u-1-1 pure-u-md-1-1'>
        <div class='formInputStandard'>
            <span>Emails para reporte de atención / CRM</span>
            <span>???multiadd</span>
        </div>
    </div>-->
                        <!--Email receptores-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Emails receptores
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>E-mail receptor 1</span>
                                <input type='email' maxlen='100' />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>E-mail receptor 2</span>
                                <input type='email' maxlen='100' />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>E-mail receptor 3</span>
                                <input type='email' maxlen='100' />
                            </div>
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-4'>
                            <div class='formInputStandard'>
                                <span>E-mail receptor 4</span>
                                <input type='email' maxlen='100' />
                            </div>
                        </div>
                    </div>
                    <!--Enlaces-->
                    <div class="pure-g" v-show="submode == 5">
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em;">
                            Enlaces
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Links de Inventario
                        </div>
                        <!--Link General de inventario-->
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard'>
                                <span>Link General de inventario</span>
                                <input type='text' v-model='objProyecto.link_general_onelink' maxlen='100' />
                            </div>
                        </div>
                        <!--Link específico de inventario-->
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard'>
                                <span>Link específico de inventario</span>
                                <input type='text' v-model='objProyecto.link_especifico_onelink' maxlen='100' />
                            </div>
                        </div>

                        <!--Links de especificaciones y Cartilla Negocios-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Link Especificaciones Técnicas y Cartilla de Negocio
                        </div>
                        <div class='pure-u-1-1 pure-u-md-1-1'>
                            <!--Links de especificaciones-->
                            <div class='formInputStandard pure-u-1-1 pure-u-md-1-2'>
                                <div class='formInputStandard pure-u-1-1 pure-u-md-1-6'>
                                    <span>Incluir</span>
                                    <div class='pure-g'>
                                        <input type='checkbox' value='1' 
                                               style="margin-left: 1em; margin-top: 0.5em;" 
                                               v-model='objProyecto.incluir_especificaciones_tecnicias' 
                                               name='incluir_especificaciones_tecnicias'
                                               title="Incluir especificaciones técnicas."/>
                                    </div>
                                </div>
                                <div class='pure-u-1-1 pure-u-md-5-6'>
                                    <div class='formInputStandard'>
                                        <span>Link a especificaciones Técnicas PDF web</span>
                                        <input type='text' v-model='objProyecto.link_especificaciones_tecnicias' maxlen='100' />
                                    </div>
                                </div>
                            </div>
                            
                            <!--Links de Cartilla Negocios-->
                            <div class='formInputStandard pure-u-1-1 pure-u-md-1-2'>
                                <div class='formInputStandard pure-u-1-1 pure-u-md-1-6'>
                                    <span>Cotización</span>
                                    <div class='pure-g'>
                                        <input type='checkbox' value='1' 
                                               style="margin-left: 1em; margin-top: 0.5em;" 
                                               v-model='objProyecto.incluir_cartilla_negocios_cotizacion' 
                                               name='incluir_cartilla_negocios_cotizacion'
                                               title="Incluir cartilla de negocio fiduciario en la cotización de la compra"/>
                                    </div>
                                </div>
                                <div class='formInputStandard pure-u-1-1 pure-u-md-1-6'>
                                    <span>Opción</span>
                                    <div class='pure-g'>
                                        <input type='checkbox' value='1' 
                                               style="margin-left: 1em; margin-top: 0.5em;" 
                                               v-model='objProyecto.incluir_cartilla_negocios_opcion' 
                                               name='incluir_cartilla_negocios_opcion'
                                               title="Incluir cartilla de negocio fiduciario en la opción de compra"/>
                                    </div>
                                </div>
                                <div class='pure-u-1-1 pure-u-md-2-3'>
                                    <div class='formInputStandard'>
                                        <span>Link a Cartilla de Negocios Fiduciarios</span>
                                        <input type='text' v-model='objProyecto.link_cartilla_negocios' maxlen='100' 
                                               title="Link a Cartilla de Negocios Fiduciarios en emails de cotización y Opción" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Otros Links-->
                        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="margin-top: 1em;">
                            Otros Links
                        </div>
                        <!--Seguimiento Leads-->
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard pure-u-1-1 pure-u-md-1-6'>
                                <span>Leads</span>
                                <div class='pure-g'>
                                    <input type='checkbox' value='1' v-model='objProyecto.frame_seguimiento_visible' style="margin-left: 1em; margin-top: 0.5em;"  name='frame_seguimiento_visible' />
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-5-6'>
                                <div class='formInputStandard'>
                                    <span>Link a Leads de iFrame</span>
                                    <input type='text' v-model='objProyecto.link_seguimiento_leads' maxlen='100' />
                                </div>
                            </div>
                        </div>

                        <!--Evaluación de Conocimientos-->
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard pure-u-1-1 pure-u-md-1-6'>
                                <span>Evaluación</span>
                                <div class='pure-g'>
                                    <input type='checkbox' value='1' 
                                           v-model='objProyecto.frame_evaluacion_conocimiento' 
                                           style="margin-left: 1em; margin-top: 0.5em;" 
                                           name='frame_evaluacion_conocimiento'
                                           title="Habilitar evaluación de conocmiento del proyecto."/>
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-5-6'>
                                <div class='formInputStandard'>
                                    <span>Link acceso a evaluación de conocimientos</span>
                                    <input type='text' v-model='objProyecto.link_evaluacion_conocimiento' maxlen='100' />
                                </div>
                            </div>
                        </div>

                        <!--Avance externo obra-->
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard pure-u-1-1 pure-u-md-1-6'>
                                <span>Avance</span>
                                <div class='pure-g'>
                                    <input type='checkbox' value='1' 
                                           v-model='objProyecto.avance_obra_visible' 
                                           style="margin-left: 1em; margin-top: 0.5em;" 
                                           name='avance_obra_visible' 
                                           title="Habilitar visualización del avance de obra."/>
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-5-6'>
                                <div class='formInputStandard'>
                                    <span>Link a avance externo de obra</span>
                                    <input type='text' v-model='objProyecto.link_avance_obra' maxlen='100' />
                                </div>
                            </div>
                        </div>

                        <!--Brochure PDF-->
                        <div class='pure-u-1-1 pure-u-md-1-2'>
                            <div class='formInputStandard pure-u-1-1 pure-u-md-1-6'>
                                <span>Brochure</span>
                                <div class='pure-g'>
                                    <input type='checkbox' value='1' 
                                           v-model='objProyecto.incluir_brochure' 
                                           style="margin-left: 1em; margin-top: 0.5em;" 
                                           name='incluir_brochure' 
                                           title="Habilitar Brochure del proyecto en PDF"/>
                                </div>
                            </div>
                            <div class='pure-u-1-1 pure-u-md-2-3'>
                                <div class='formInputStandard'>
                                    <span>Link a brochure PDF web</span>
                                    <input type='text' v-model='objProyecto.link_brochure' maxlen='100' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-1" style="text-align:right;padding-top: 2em;">
                        <button>Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
