<div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
    <span class="hoverLink">{{ r.text }}</span>
    <span v-if="i < ruta.length - 1"> / </span>
</div>

<div v-if="mode == 0" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard" style="min-height: calc(100vh - 10.6rem);">
        <h2 style="margin-bottom: .5rem;">{{sala.sala_venta}}</h2>
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom: 4px;">
            Información Básica
        </div>
        <div class="pure-g">
            <div class='pure-u-1-2 pure-u-md-1-2' style="display: flex; align-items: baseline; margin-top: .5rem;">
                <div class='pure-u-1-2 pure-u-md-1-2'>
                    <label for="sel-sala">Sala de negocios asignada</label>
                </div>
                <div class='pure-u-1-2 pure-u-md-1-3'>
                    <select v-model="sala" class="pure-input-1" @change="onChangeSala" id="sel-sala" disabled>
                        <option value="" disabled>[Seleccione]</option>
                        <option v-for="item in salas" :value="item">
                            {{item.sala_venta}}</option>
                    </select>
                </div>
            </div>
            <div class='pure-u-1-2 pure-u-md-1-2' style="display: flex; align-items: baseline; margin-top: .5rem;">
                <div class='pure-u-1-2 pure-u-md-1-2'>
                    <label for="ipt-encuesta">Nombre sala encuesta VPN</label>
                </div>
                <div class='pure-u-1-2 pure-u-md-1-3'>
                    <input type="text" id="ipt-encuesta" v-model="sala.encuesta_vpn" readonly disabled maxlength="200">
                </div>
            </div>
        </div>
        <div v-if="proyecto && proyecto.id_sala_venta">
            <div class='pure-u-1-1 pure-u-md-1-1 formDivision'
                style="font-size: 1.5em; margin-bottom: 4px; margin-top: 1rem;">
                Proyectos asignados a esta sala
            </div>
            <div style="height: calc(100vh - 33.5rem); overflow: auto;">
                <table class="dataTable" style="table-layout: auto;">
                    <thead>
                        <tr style="cursor: auto;">
                            <th>Proyecto VPN</th>
                            <th>Nombre Proyecto</th>
                            <th>Fecha Asignación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="pro in proyectos" style="cursor: auto;">
                            <td>{{pro.vpn}}</td>
                            <td>{{pro.nombre}}</td>
                            <td>{{pro.fecha_asignacion_sala}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='pure-u-1-1 pure-u-md-1-1 formDivision'
                style="font-size: 1.5em; margin-bottom: 4px; margin-top: 1rem;">
                Tipo de turnos y playlist TV
            </div>
            <div style="display: flex; align-items: center;">
                <div class='pure-u-1-1 pure-u-md-1-6' v-for="tipo in t_turnos">
                    <label class="check">
                        <input type="checkbox" value='1' v-model="tipo.checked" />
                        <span class="checkmark"></span>
                        {{tipo.tipo_turno}}
                    </label>
                </div>
                <div class='pure-u-1-1 pure-u-md-1-2'>
                    <div style="display: flex; align-items: center; gap: .5rem;">
                        <label for="ipt-playlist" style="font-size: 14px;">ID Playlist YouTube TV turnos:</label>
                        <input type="text" id="ipt-playlist" v-model="sala.id_playlist" maxlength="200">
                    </div>
                </div>
            </div>
            <div class='pure-u-1-1 pure-u-md-1-1 formDivision'
                style="font-size: 1.5em; margin-bottom: 4px; margin-top: 1rem;">
                Campos obligatorios en el registro
            </div>
            <div style="display: flex; align-items: center; margin-top: .5rem;">
                <div class='pure-u-1-1 pure-u-md-1-6' v-for="campo in c_obligatorios">
                    <label class="check">
                        <input type="checkbox" value='1' v-model="campo.checked" />
                        <span class="checkmark"></span>
                        {{campo.campo}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='pure-u-1-1 pure-u-md-2-5'></div>
<div class='pure-u-1-1 pure-u-md-1-5'>
    <button @click="onUpdate">Actualizar</button>
</div>