<div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
    <span class="hoverLink">{{ r.text }}</span>
    <span v-if="i < ruta.length - 1"> / </span>
</div>

<div v-if="mode == 0" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard" style="height: calc(100vh - 9rem);">
        <h2 style="margin-bottom: .5rem;">{{sala.sala_venta}}</h2>
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision' style="font-size: 1.5em; margin-bottom: 4px;">
            Promotores, Asesores, Coordinadores y Personal de Aseo
        </div>
        <div style="padding: .5rem;">
            <div class="pure-u-1-2 pure-u-md-9-24">
                <input type="text" placeholder="Ingrese numero de documento o nombre" v-model="searchID">
            </div>
            <div class="pure-u-1-24 pure-u-md-1-24">
                <div class="imgGraybutton" @click="searchUser">
                    <img src="./img/ico/svg/search.svg" />
                </div>
            </div>
            <div class="pure-u-1-24 pure-u-md-1-12"></div>
            <div class="pure-u-1-24 pure-u-md-1-8">
                <label class="check">
                    <input type="checkbox" value='1' v-model="onlyActive" @change="onChangeStateView" />
                    <span class="checkmark"></span>
                    Solo activos
                </label>
            </div>
        </div>
        <div class="formInputStandard pure-u-1-2 pure-u-md-9-24">
            <label for="ipt-nombre">Nombre y Apellidos</label>
            <input type="text" v-model="usuario.nombres" maxlength="200" id="ipt-nombre" readonly disabled />
        </div>
        <div class="formInputStandard pure-u-1-2 pure-u-md-5-24">
            <label for="ipt-cargo">Cargo</label>
            <input type="text" v-model="usuario.cargo" maxlength="200" id="ipt-cargo" readonly disabled />
        </div>
        <div class="formInputStandard pure-u-1-2 pure-u-md-5-24">
            <label for="ipt-cedula">Cédula</label>
            <input type="text" v-model="usuario.identificacion" maxlength="200" id="ipt-cedula" readonly disabled />
        </div>
        <div class="formInputStandard pure-u-1-2 pure-u-md-1-5" style="text-align: right; padding-right: 0;">
            <button style="margin-top: 1.2rem;" @click="onAddUser">Asignar personal</button>
        </div>

        <div style="max-height: calc(100vh - 24rem); overflow-y: auto; margin: .5rem;">
            <table class="dataTable" style="table-layout: auto;">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre y Apellidos</th>
                        <th>Cargo</th>
                        <th>Permanente</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in getFilteredList('usuarios')" style="cursor: auto;"
                        v-bind:class="{'deshabilitada': user.is_active == '0', 'destacada': user.id_usuario == usuario.id_usuario }" >
                        <td>{{user.identificacion}}</td>
                        <td>{{user.nombres}}</td>
                        <td>{{user.cargo}}</td>
                        <td style="text-align: center;">
                            <div class="toggle-switch" @click.stop.prevent="toggleFix(user)">
                                <input :id="'toggle' + user.identificacion" type="checkbox" class="toggle-input"
                                    :checked="Number(user.permanente) !== 1">
                                <label class="toggle-label" :for="'toggle' + user.identificacion"
                                    style="transform: rotate(180deg);"></label>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <span @click.stop.prevent="onDelUser(user)" class="delete">✖</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>