<div style="display: inline;" v-for="(r, i) in ruta.filter(r => r.text)" @click="r.action">
    <span class="hoverLink">{{ r.text }}</span>
    <span v-if="i < ruta.length - 1"> / </span>
</div>

<div v-if="mode == 0" style="padding: 1em">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-22-24 pure-u-md-22-24 menuCard" style="height: calc(100vh - 8rem)">
        <h2 style="margin-bottom: .5rem;"></h2>
        <div class='pure-u-1-1 pure-u-md-1-1 formDivision'
            style="font-size: 1.5em; margin-bottom: 4px;">
            {{(new Date()).toLocaleDateString()}}
        </div>
        <div :class="'calendar pure-u-1-1 pure-u-md-1-1 ' + viewMode.class">
            <div class="cal-month" v-for="i in Array.from({length: viewMode.months}, (_, i) => i + viewMode.initMonth)"
                v-bind:class="{'cal-sel-month': viewMonths[nameMonths[i]].selected}" @click="selectMonth(i)">
                <div class="cal-header">
                    <div class="cal-name-month">
                        <span>{{`${nameMonths[i]} - ${viewMonths[nameMonths[i]].year}`}}</span>
                    </div>
                </div>
                <div class="cal-header">
                    <div class="cal-name-day" v-for="name in nameDays">
                        <span>{{name}}</span>
                    </div>
                </div>
                <div class="cal-matrix">
                    <div class="cal-day" v-for="day in viewMonths[nameMonths[i]].days"
                        v-bind:class="{'cal-today': day.isToday ,'cal-fade-day': !day.currentMonth}">
                        <span>
                            {{day.monthDay}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>