<!-- <div style="font-size: 1rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem; ">
    <span class="hoverLink" v-on:click="mode = 1">Torres y Unidades</span>
    <span class="hoverLink" v-if="mode >= 2" v-on:click="mode = 2">  /  {{sinco.company.Nombre}}</span>
    <span class="hoverLink" v-if="mode >= 3" v-on:click="mode = 3">  /  {{sinco.macroProject.nombre}}</span>
    <span v-if="mode >= 4" >  /  {{sinco.project.nombre}}</span>
</div> -->
<div class="pure-u-1-24" ></div>
<div class="pure-u-22-24 menuCard" style="height: calc(100vh  - 8rem); overflow-y: auto; margin-top: 1em;">
    <div v-if="mode == 0" style="padding: 1rem;">Trayendo los datos de <b>SINCO</b></div>
    <!-- SELECCION DE EMPRESA -->
    <div v-if="mode == 1" >
        <div style="padding: 1rem;"> Por favor seleccione una <b>Empresa</b></div>
        <div style="text-align:center">
            <div v-for="item in sinco.companies" v-on:click="sincoMacroProjects(item)" class="buttonItem">
            {{item.Nombre}}
        </div>
        </div>
    </div>
    <!-- SELECCION DE MACROPROYECTO -->
    <div v-if="mode == 2">
        <div style="padding: 1rem;"> Por favor seleccione un <b>Macroproyecto</b></div>
        <table class="dataTable">
            <tr v-for="item in this.sinco.macroProjects" style="cursor: pointer;" v-on:click="sincoProjects(item)">
                <td style="width: 3rem; height: 2rem;">
                    <img v-bind:src="item.logo" style="height: 100%; width: 100%" />
                </td>
                <td>{{item.id}}/{{item.nombre}}</td>
            </tr>
        </table>
    </div>
    <!-- SELECCION DE PROYECTO -->
    <div v-if="mode == 3">
        <div style="padding: 1rem;">Por favor seleccione un <b>Proyecto</b></div>
        <div style="text-align:center">
            <div v-for="item in sinco.projects" v-on:click="sincoGroups(item)" class="buttonItem">
                {{item.nombre}}
            </div>
        </div>
    </div>
<div v-if="mode == 4">
    <div style="padding: 1rem;" class="pure-g">
        <div class="pure-u-1-1 pure-u-md-1-2"><b>Agrupaciones y Unidades</b></div>
        <div class="pure-u-1-1 pure-u-md-1-2" style="text-align: right">
            <button>Importar</button>
        </div>
    </div>
    <div class="gridTable">
        <div class="pure-g gridHeader">
            <div class="pure-u-3-24">Nombre</div>
            <div class="pure-u-2-24">Unidades</div>
            <div class="pure-u-3-24">Valor Sub Total</div>
            <div class="pure-u-3-24">Valor Total Neto</div>
            <div class="pure-u-3-24">Fecha Creación</div>
            <div class="pure-u-2-24">Estado</div>
            <div class="pure-u-8-24">Observaciones</div>
        </div>
        <div v-for="item in sinco.groups">
            <div class="pure-g gridRow">
                <div class="pure-u-3-24">
                    <span v-show="!item.expanded" style="cursor: pointer;" v-on:click="item.expanded = true" class="noSelect">&boxplus;</span>
                    <span v-show="item.expanded" style="cursor: pointer;" v-on:click="item.expanded = false" class="noSelect">&boxminus;</span>
                    {{item.nombre}}
                </div>
                <div class="pure-u-2-24" style="text-align: center;">{{item.unidades.length}}</div>
                <div class="pure-u-3-24" style="text-align: center;">{{formatoMoneda(item.valorSubTotal)}}</div>
                <div class="pure-u-3-24" style="text-align: center;">{{formatoMoneda(item.valorTotalNeto)}}</div>
                <div class="pure-u-3-24" style="text-align: center;">{{item.fechaCreacion.substring(0, 16).replace("T", " ")}}</div>
                <div class="pure-u-2-24" style="text-align: center;">{{item.estado}}</div>
                <div class="pure-u-8-24 maxLenEllipsis" v-bind:title="item.observaciones">{{item.observaciones}}</div>
            </div>
            <div v-if="item.expanded" style="border-bottom: 3px solid #00839C;">
                <div class="pure-g gridHeader">
                    <div class="pure-u-3-24">Nombre</div>
                    <div class="pure-u-2-24">Tipo Unidad</div>
                    <div class="pure-u-3-24">Principal</div>
                    <div class="pure-u-3-24">Valor</div>
                    <div class="pure-u-3-24">Fecha</div>
                    <div class="pure-u-2-24">Estado</div>
                    <div class="pure-u-2-24">A. Privada</div>
                    <div class="pure-u-2-24">A. Construida</div>
                    <div class="pure-u-2-24">Piso</div>
                    <div class="pure-u-2-24">Alcobas</div>
                </div>
                <div v-for="(sitem, index) in item.unidades" class="pure-g gridRow">
                    <div class="pure-u-3-24" style="border-left: 3px solid #00839C;">{{sitem.nombre}}</div>
                    <div class="pure-u-2-24">{{sitem.tipoUnidad}}</div>
                    <div class="pure-u-3-24" style="text-align: center;">{{sitem.esPrincipal?"Si": "No"}}</div>
                    <div class="pure-u-3-24" style="text-align: center;">{{formatoMoneda(sitem.valor)}}</div>
                    <div class="pure-u-3-24" style="text-align: center;">{{sitem.fechaCreacion.substring(0, 16).replace("T", " ")}}</div>
                    <div class="pure-u-2-24" style="text-align: center;">{{sitem.estado}}</div>
                    <div class="pure-u-2-24">{{sitem.areaPrivada}}</div>
                    <div class="pure-u-2-24">{{sitem.areaConstruida}}</div>
                    <div class="pure-u-2-24">{{sitem.numeroPiso}}</div>
                    <div class="pure-u-2-24" style="border-right: 3px solid #00839C;">{{sitem.cantidadAlcobas}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>