<div class="pure-u-1-24"></div>
<div class="pure-u-22-24" style="margin: 0em 0em 0.5em 0em;">
    <div class="pure-g steps">
        <div v-for="(tab, index) in tabs" :key="index" class="pure-u-1-1 pure-u-md-1-5">
            <div class="wizarTab wizarTabNoSelect" :class="tabClasses[index]" @click="setTabmode(index)">
                {{ tab }}
            </div>
        </div>
    </div>
</div>

<div class="pure-u-1-24"></div>
<div class="pure-u-1-24"></div>
<div class="pure-u-22-24 menuCard" style="height: calc(100vh  - 10rem); overflow-y: auto;">

    <div style="display: flex; gap: 1rem; height: 100%;" v-if="tabmode == 0">
        <div>
            <div class="lista-torres" style="height: calc(100vh - 12rem);">
                <div v-for="item in torres" class="torre" @click="setTorre(item)"
                    v-bind:class="{'sel-torre': item.id_torre === torre.id_torre}">
                    <div style="align-self: center;">
                        <span style="font-weight: bold;">Torre {{item.idtorre}}</span>
                    </div>
                    <div v-for="e in [...estados].reverse()">
                        <div class="cal-event-count" :style="`background: ${e.color_fondo}`">
                            <span :style="`color: ${e.color_fuente}`">
                                {{aptos.filter(a => a.id_estado_unidad === e.id_estado_unidad
                                && a.id_torre === item.id_torre).length}}
                            </span>
                        </div>
                        <span>{{e.estado_unidad_plural}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="flex-grow: 1;">
            <div class="pure-g">
                <h2 class="formDivision pure-u-1-1" style="font-size: 1.5em; margin-bottom: .5rem;">
                    Torre {{torre.idtorre}}
                </h2>
            </div>
        </div>
    </div>

    <div v-if="tabmode == 1">
        <!-- Carga del archivo -->
        <div v-show="mode == 0 && !loading" style="text-align: center;">
            Actualmente no hay unidades cargadas
            <br />
            <br />
            <button v-on:click="openFileDialog()">Cargar unidades desde CSV</button>
        </div>
        <!-- Vista previa -->
        <div v-show="mode == 1">
            <div style="height: calc(100vh - 16rem); width: 100%; overflow: auto;">
                <table class="dataTable" style="table-layout: auto;">
                    <thead>
                        <tr>
                            <th v-for="(item, key) in preview[0]">{{key}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in preview">
                            <td v-for="(sitem, key) in item">{{item[key]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;">
                <table style="margin: 0px auto;">
                    <tbody>
                        <tr>
                            <td style="text-align: left;">Total torres</td>
                            <td style="font-weight: bold;">{{stats.torres}}</td>
                            <td rowspan="2" style="padding: 0rem 2rem;">
                                <button v-on:click="confirmUpload">Continuar</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Total unidades</td>
                            <td style="font-weight: bold;">{{stats.unidades}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-show="mode == 3" style="display: flex; height: 100%; gap: 1rem;">
            <div>
                <div style="width: fit-content; margin: 0 auto;">
                    <div style="padding: .1rem;">
                        <label><input type='radio' name="viewType" v-model='viewProperties.viewType'
                                value="3d" />3D</label>
                        <label><input type='radio' name="viewType" v-model='viewProperties.viewType'
                                value="classic" />Clasica</label>
                    </div>
                </div>
                <div v-if="viewProperties.viewType == '3d'">
                    <div class='formInputStandard'>
                        <span>Filas</span>
                        <input type='number' v-model='viewProperties.rows' />
                    </div>
                    <div class='formInputStandard'>
                        <span>Columnas</span>
                        <input type='number' v-model='viewProperties.cols' />
                    </div>
                    <div class='formInputStandard'>
                        <span>Torres por fila</span>
                        <input type='number' v-model='viewProperties.megarows' />
                    </div>
                    <div style="text-align: center;">
                        <button v-on:click="addCube()">Vista previa</button>
                    </div>
                </div>
                <div v-if="viewProperties.viewType == 'classic'">
                    <div class="lista-torres">
                        <div v-for="item in torres" class="torre" @click="toggleTorre(item)"
                            v-bind:class="{'sel-torre': filtros.aptos.torres.includes(item.idtorre)}">
                            <div style="align-self: center;">
                                <span style="font-weight: bold;">Torre {{item.idtorre}}</span>
                            </div>
                            <div v-for="e in [...estados].reverse()">
                                <div class="cal-event-count" :style="`background: ${e.color_fondo}`">
                                    <span :style="`color: ${e.color_fuente}`">
                                        {{aptos.filter(a => a.id_estado_unidad === e.id_estado_unidad
                                        && a.id_torre === item.id_torre).length}}
                                    </span>
                                </div>
                                <span>{{e.estado_unidad_plural}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="viewProperties.viewType == '3d'" style="flex-grow: 1;">
                <div class="pure-u-1-4" style="height: calc(100vh - 16rem); overflow: auto;">
                    <div v-for="titem in torres">
                        <div class="hoverRow" style="padding: 0.2rem 0.5rem;" v-on:click="selectItem('torre', titem)"
                            v-bind:class="{selected: (selection != null?(selection.value == titem): false)}">
                            Torre {{titem.idtorre}}
                        </div>
                        <div v-for="pitem in titem.pisos" style="padding-left: 1rem;">
                            <div class="hoverRow" style="padding: 0.2rem 0.5rem;" v-on:click="selectItem('piso', pitem)"
                                v-bind:class="{selected: (selection != null?(selection.value == pitem): false)}">
                                Piso {{pitem.idpiso}}
                            </div>
                            <div v-for="uitem in pitem.unidades" style="padding-left: 1rem;">
                                <div class="hoverRow" style="padding: 0.2rem 0.5rem;"
                                    v-on:click="selectItem('unidad', uitem)"
                                    v-bind:class="{selected: (selection != null?(selection.value == uitem): false)}">
                                    {{uitem.apartamento}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-3-4" style="height: 100%;">
                    <div id="container" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
            <div v-if="viewProperties.viewType == 'classic'" style="flex-grow: 1;">
                <div class="pure-g">
                    <div class="pure-u-1-1 pure-u-md-1-1 formDivision right-button">
                        <span style="font-size: 1.5em;">Unidades {{filters2text}}</span>
                        <div style="min-width: 150px;">
                            <label for="up-csv" class="file">Actualizar con CSV</label>
                            <input id="up-csv" type="file" @input="handleChangeFile($event, true)"
                                style="display: none;" accept=".csv" />
                        </div>
                    </div>
                    <div class="pure-u-1-1" style="padding-top: .5rem;">
                        <div class="filtros-unidades">
                            <div style="display: flex;">
                                <input type="text" placeholder="ID Unidad" v-model="filtros.aptos['apartamento']"
                                    maxlength="10" />
                                <div style="display: inline;" class="imgGraybutton" @click="onClearFilters('aptos')">
                                    <img src="./img/ico/eraser.png" />
                                </div>
                            </div>
                            <div>
                                <select v-model="filtros.aptos['codigo_planta']" class="pure-input-1">
                                    <option value="">[Tipos]</option>
                                    <option v-for="t in tipos" :value="t">{{t}}</option>
                                </select>
                            </div>
                            <div>
                                <select v-model="filtros.aptos['piso']" class="pure-input-1">
                                    <option value="">[Pisos]</option>
                                    <option v-for="p in pisos" :value="p">{{p}}</option>
                                </select>
                            </div>
                            <div>
                                <select v-model="filtros.aptos['id_estado_unidad']" class="pure-input-1">
                                    <option value="">[Estados]</option>
                                    <option v-for="e in estados" :value="e.id_estado_unidad">
                                        {{e.estado_unidad}}</option>
                                </select>
                            </div>
                            <div>
                                <select v-model="filtros.aptos['localizacion']" class="pure-input-1">
                                    <option value="">[Localización]</option>
                                    <option value="Interior">Interior</option>
                                    <option value="Exterior">Exterior</option>
                                </select>
                            </div>
                        </div>

                        <div class="pure-u-1-2 pure-u-md-1-4">
                            <div class="formInputStandard">
                                <label class="check" for="tiene_balcon">
                                    <input type="checkbox" id="tiene_balcon" v-model="filtros.aptos['tiene_balcon']"
                                        true-value="1" false-value="" />
                                    <span class="checkmark"></span>
                                    Tiene Balcón
                                </label>
                            </div>
                        </div>
                        <div class="pure-u-1-2 pure-u-md-1-4">
                            <div class="formInputStandard">
                                <label class="check" for="tiene_parq_sencillo">
                                    <input type="checkbox" id="tiene_parq_sencillo"
                                        v-model="filtros.aptos['tiene_parq_sencillo']" true-value="1" false-value="" />
                                    <span class="checkmark"></span>
                                    Parq. Sencillo
                                </label>
                            </div>
                        </div>
                        <div class="pure-u-1-2 pure-u-md-1-4">
                            <div class="formInputStandard">
                                <label class="check" for="tiene_parq_doble">
                                    <input type="checkbox" id="tiene_parq_doble"
                                        v-model="filtros.aptos['tiene_parq_doble']" true-value="1" false-value="" />
                                    <span class="checkmark"></span>
                                    Parq. Doble
                                </label>
                            </div>
                        </div>
                        <div class="pure-u-1-2 pure-u-md-1-4">
                            <div class="formInputStandard">
                                <label class="check" for="tiene_deposito">
                                    <input type="checkbox" id="tiene_deposito" v-model="filtros.aptos['tiene_deposito']"
                                        true-value="1" false-value="" />
                                    <span class="checkmark"></span>
                                    Tiene Depósito
                                </label>
                            </div>
                        </div>
                        <div class="pure-u-1-2 pure-u-md-1-4">
                            <div class="formInputStandard">
                                <label class="check" for="tiene_acabados">
                                    <input type="checkbox" id="tiene_acabados" v-model="filtros.aptos['tiene_acabados']"
                                        true-value="1" false-value="" />
                                    <span class="checkmark"></span>
                                    Tiene Acabados
                                </label>
                            </div>
                        </div>
                        <div class="pure-u-1-2 pure-u-md-1-4">
                            <div class="formInputStandard">
                                <label class="check" for="cerca_porteria">
                                    <input type="checkbox" id="cerca_porteria" v-model="filtros.aptos['cerca_porteria']"
                                        true-value="1" false-value="" />
                                    <span class="checkmark"></span>
                                    Cerca Portería
                                </label>
                            </div>
                        </div>
                        <div class="pure-u-1-2 pure-u-md-1-4">
                            <div class="formInputStandard">
                                <label class="check" for="cerca_juegos_infantiles">
                                    <input type="checkbox" id="cerca_juegos_infantiles"
                                        v-model="filtros.aptos['cerca_juegos_infantiles']" true-value="1"
                                        false-value="" />
                                    <span class="checkmark"></span>
                                    Cerca Juegos Inf.
                                </label>
                            </div>
                        </div>
                        <div class="pure-u-1-2 pure-u-md-1-4">
                            <div class="formInputStandard">
                                <label class="check" for="cerca_piscina">
                                    <input type="checkbox" id="cerca_piscina" v-model="filtros.aptos['cerca_piscina']"
                                        true-value="1" false-value="" />
                                    <span class="checkmark"></span>
                                    Cerca Piscina
                                </label>
                            </div>
                        </div>
                    </div>
                    <div style="height: calc(100vh - 21.2rem); overflow-y: auto; width: 100%;">
                        <table class="dataTable" style="table-layout: auto;">
                            <thead>
                                <tr>
                                    <th>Torre</th>
                                    <th>ID Unidad</th>
                                    <th>Piso</th>
                                    <th>Estatus</th>
                                    <th>Tipo</th>
                                    <th>Localización</th>
                                    <th style="width: 33%;">Observación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="apto in getFilteredList('aptos')" @click="onSelectApto(apto)">
                                    <td>{{apto.idtorre}}</td>
                                    <td>{{apto.apartamento}}</td>
                                    <td>{{apto.piso}}</td>
                                    <td>{{apto.estatus}}</td>
                                    <td>{{apto.codigo_planta}}</td>
                                    <td>{{apto.localizacion}}</td>
                                    <td>{{apto.observacion_apto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <input type="file" id="fileUpload" style="height:1.2em; width:1.2em; display:none;" accept=".csv"
            v-on:change="handleChangeFile($event)" />

        <div v-show="mode == 4" class="pure-g" style="height: 100%;">
        </div>
        <div v-show="mode == 5" class="pure-g" style="height: 100%;">

            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-md-1-1">
                    <h2>Editar Unidad</h2>
                </div>

                <!-- Datos principales -->
                <div style="height: calc(100vh - 17rem); overflow-y: auto;">
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>ID Unidad</label>
                            <input type="text" :value="apto.apartamento" class="pure-input-1" disabled />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Torre</label>
                            <input type="number" :value="apto.idtorre" class="pure-input-1" disabled />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Piso</label>
                            <input type="number" :value="apto.piso" class="pure-input-1" disabled />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Estado</label>
                            <select v-model="apto.id_estado_unidad" class="pure-input-1">
                                <option v-for="e in estados" :value="e.id_estado_unidad">
                                    {{e.estado_unidad}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Tipo</label>
                            <input type="text" v-model="apto.codigo_planta" class="pure-input-1" />
                        </div>
                    </div>

                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Localización</label>
                            <select v-model="apto.localizacion" class="pure-input-1">
                                <option value="Interior">Interior</option>
                                <option value="Exterior">Exterior</option>
                            </select>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Asoleación</label>
                            <select v-model="apto.asoleacion" class="pure-input-1">
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Altura</label>
                            <select v-model="apto.altura" class="pure-input-1">
                                <option value="BAJO">BAJO</option>
                                <option value="MEDIO">MEDIO</option>
                                <option value="ALTO">ALTO</option>
                            </select>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Numero de alcobas</label>
                            <input type="number" v-model="apto.num_alcobas" class="pure-input-1" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Numero de baños</label>
                            <input type="number" v-model="apto.num_banos" class="pure-input-1" />
                        </div>
                    </div>

                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Área privada cubierta</label>
                            <input type="text" v-model="f_area_privada_cub" class="pure-input-1" @keyup="validarFormato"
                                style="text-align: right;" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Área privada libre</label>
                            <input type="text" v-model="f_area_privada_lib" class="pure-input-1" @keyup="validarFormato"
                                style="text-align: right;" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Área total</label>
                            <input type="text" v-model="f_area_total" class="pure-input-1" @keyup="validarFormato"
                                style="text-align: right;" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Acue</label>
                            <input type="text" v-model="f_acue" class="pure-input-1" @keyup="validarFormato"
                                style="text-align: right;" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Area Total + Acue</label>
                            <input type="text" v-model="f_total_acue" class="pure-input-1" @keyup="validarFormato"
                                style="text-align: right;" />
                        </div>
                    </div>

                    <div class="pure-u-1-2 pure-u-md-1-4">
                        <div class="formInputStandard">
                            <label class="check" for="c_tiene_balcon">
                                <input type="checkbox" id="c_tiene_balcon" v-model="apto.tiene_balcon" true-value="1"
                                    false-value="0" />
                                <span class="checkmark"></span>
                                Tiene Balcón
                            </label>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-4">
                        <div class="formInputStandard">
                            <label class="check" for="c_tiene_parq_sencillo">
                                <input type="checkbox" id="c_tiene_parq_sencillo" v-model="apto.tiene_parq_sencillo"
                                    true-value="1" false-value="0" />
                                <span class="checkmark"></span>
                                Parqueadero Sencillo
                            </label>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-4">
                        <div class="formInputStandard">
                            <label class="check" for="c_tiene_parq_doble">
                                <input type="checkbox" id="c_tiene_parq_doble" v-model="apto.tiene_parq_doble"
                                    true-value="1" false-value="0" />
                                <span class="checkmark"></span>
                                Parqueadero Doble
                            </label>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-4">
                        <div class="formInputStandard">
                            <label class="check" for="c_tiene_deposito">
                                <input type="checkbox" id="c_tiene_deposito" v-model="apto.tiene_deposito"
                                    true-value="1" false-value="0" />
                                <span class="checkmark"></span>
                                Tiene Depósito
                            </label>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-4">
                        <div class="formInputStandard">
                            <label class="check" for="c_tiene_acabados">
                                <input type="checkbox" id="c_tiene_acabados" v-model="apto.tiene_acabados"
                                    true-value="1" false-value="0" />
                                <span class="checkmark"></span>
                                Tiene Acabados
                            </label>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-4">
                        <div class="formInputStandard">
                            <label class="check" for="c_cerca_porteria">
                                <input type="checkbox" id="c_cerca_porteria" v-model="apto.cerca_porteria"
                                    true-value="1" false-value="0" />
                                <span class="checkmark"></span>
                                Cerca Portería
                            </label>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-4">
                        <div class="formInputStandard">
                            <label class="check" for="c_cerca_juegos_infantiles">
                                <input type="checkbox" id="c_cerca_juegos_infantiles"
                                    v-model="apto.cerca_juegos_infantiles" true-value="1" false-value="0" />
                                <span class="checkmark"></span>
                                Cerca Juegos Infantiles
                            </label>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-4">
                        <div class="formInputStandard">
                            <label class="check" for="c_cerca_piscina">
                                <input type="checkbox" id="c_cerca_piscina" v-model="apto.cerca_piscina" true-value="1"
                                    false-value="0" />
                                <span class="checkmark"></span>
                                Cerca Piscina
                            </label>
                        </div>
                    </div>

                    <div class="pure-u-1-1 pure-u-md-1-1">
                        <div class="formInputStandard">
                            <label>Observación</label>
                            <input type="text" v-model="apto.observacion_apto" class="pure-input-1" />
                        </div>
                    </div>

                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Valor Unidad / Lista {{apto.lista}}</label>
                            <input type="text" :value="f_valor_unidad" class="pure-input-1" style="text-align: right;"
                                disabled />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Valor Separación</label>
                            <input type="text" v-model="f_valor_separacion" class="pure-input-1" @keyup="validarFormato"
                                style="text-align: right;" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Valor Reformas</label>
                            <input type="text" v-model="f_valor_reformas" class="pure-input-1" @keyup="validarFormato"
                                style="text-align: right;" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Valor Acabados</label>
                            <input type="text" v-model="f_valor_descuento" class="pure-input-1" @keyup="validarFormato"
                                style="text-align: right;" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Valor Descuento</label>
                            <input type="text" v-model="f_valor_acabados" class="pure-input-1" @keyup="validarFormato"
                                style="text-align: right;" />
                        </div>
                    </div>

                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Banco</label>
                            <input type="text" v-model="apto.cuota_inicial_banco" class="pure-input-1" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Tipo de Cuenta</label>
                            <input type="text" v-model="apto.cuenta_tipo" class="pure-input-1" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Número de Cuenta</label>
                            <input type="text" v-model="apto.cuenta_numero" class="pure-input-1" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Convenio</label>
                            <input type="text" v-model="apto.convenio" class="pure-input-1" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5"></div>

                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>Pate</label>
                            <input type="text" v-model="apto.pate" class="pure-input-1" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard">
                            <label>EAN</label>
                            <input type="text" v-model="apto.ean" class="pure-input-1" />
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1-5">
                        <div class="formInputStandard" style="margin-top: 1.5rem;">
                            <label class="check" for="c_inv_terminado">
                                <input type="checkbox" id="c_inv_terminado" v-model="apto.inv_terminado" true-value="1"
                                    false-value="0" />
                                <span class="checkmark"></span>
                                Inventario Terminado
                            </label>
                        </div>
                    </div>

                </div>
                <div class="pure-u-1-1"></div>
                <div class="pure-u-7-24"></div>
                <div class="pure-u-1-6" style="text-align: center; margin-top: 1rem;">
                    <button @click="computeViews" class="pure-button pure-button-primary">Cancelar</button>
                </div>
                <div class="pure-u-1-12"></div>
                <div class="pure-u-1-6" style="text-align: center; margin-top: 1rem;">
                    <button @click="onSave" class="pure-button pure-button-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; gap: 1rem; height: 100%;" v-if="tabmode == 2">
        <div>
            <div class="lista-torres" style="height: calc(100vh - 12rem);">
                <div v-for="item in torres" class="torre" @click="toggleTorre(item); setTorresList()"
                    v-bind:class="{'sel-torre': filtros.aptos.torres.includes(item.idtorre)}">
                    <div style="align-self: center;">
                        <span style="font-weight: bold;">Torre {{item.idtorre}}</span>
                    </div>
                    <div v-for="e in [...estados].reverse()">
                        <div class="cal-event-count" :style="`background: ${e.color_fondo}`">
                            <span :style="`color: ${e.color_fuente}`">
                                {{aptos.filter(a => a.id_estado_unidad === e.id_estado_unidad
                                && a.id_torre === item.id_torre).length}}
                            </span>
                        </div>
                        <span>{{e.estado_unidad_plural}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="flex-grow: 1;">
            <div class="pure-g">
                <h2 class="formDivision pure-u-1-1" style="font-size: 1.5em; margin-bottom: .5rem;">
                    Lista de Precios Vigente:
                </h2>
                <div class="pure-u-1-2 pure-u-md-1-4">
                    <button>Exportar Plantilla</button>
                </div>
                <div class="pure-u-1-2 pure-u-md-1-2"></div>
                <!-- <div class="pure-u-1-2 pure-u-md-1-4" style="text-align: right;">
                    <button>Importar nueva Lista</button>
                </div> -->
                <div class="pure-u-1-2 pure-u-md-1-4" style="text-align: right;">
                    <label for="up-list-csv" class="file">Importar Listas</label>
                    <input id="up-list-csv" type="file" @input="uploadList" style="display: none;" accept=".csv" />
                </div>
                <div class="pure-u-1-1" style="height: calc(100vh - 26rem); overflow-y: auto; margin-top: .5rem;">
                    <table class="dataTable" style="table-layout: auto;">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Lista ID</th>
                                <th style="width: 20%;">Fecha</th>
                                <th style="width: 60%;">Descripción</th>
                                <th style="width: 10%;">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="this.filtros.aptos.torres.length" v-for="(l, i) in listas"
                                v-bind:class="{'cal-table-selected': selRow2 == i, 
                                    'cal-table-today': torre.id_lista == l.id_lista, 'red-background': torre.id_lista == l.id_lista}"
                                @click="if(selRow2 != i) { editRow = false; lista = {}; }; selRow2 = i;">
                                <td>{{l.lista}}</td>
                                <td>{{l.updated_on}}</td>
                                <td :style="editRow && selRow2 === i && 'padding: 0;'">
                                    <span v-if="!editRow || selRow2 !== i">{{l.descripcion}}</span>
                                    <input v-else type="text" v-model="lista.descripcion" style="border: 0;"
                                        maxlength="200">
                                </td>
                                <td style="text-align: center;">
                                    <span v-if="!editRow || selRow2 !== i" @click.stop.prevent="onEditList(l, i)"
                                        class="delete">✏️</span>
                                    <span v-else @click.stop.prevent="onSaveList" class="delete">💾</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="pure-u-1-1 pure-u-md-2-3"
                    style="display: flex; gap: 2rem; align-items: center; margin-top: 1rem;">
                    <label for="lista-vigente">Lista vigente por defecto:</label>
                    <select name="lista-vigente" id="lista-vigente" style="width: 10rem;" v-model="projectList">
                        <option value="">[Seleccione]</option>
                        <option v-for="l in listas" :value="l.id_lista">{{l.lista}}</option>
                    </select>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-1" style="text-align: right; margin-top: 1rem;">
                    <button @click="onSetLista">Establecer vigente</button>
                </div> -->
                <div class="pure-u-1-1 pure-u-md-2-3"
                    style="display: flex; gap: 2rem; align-items: center; margin-top: 1rem;">
                    <label for="email-auto">Alerta cambios automáticos de lista:</label>
                    <input type="text" id="email-auto" style="width: 14rem;">
                </div>
                <div class="pure-u-1-1 pure-u-md-1-3" style="text-align: right; margin-top: 1rem;">
                    <button @click="onSetLista">Establecer vigente</button>
                </div>

                <div class="pure-u-2-5"></div>
                <div class="pure-u-1-5" style="margin-top: 4rem; text-align: center;">
                    <button>Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; flex-direction: column; gap: .5rem; height: 100%;" v-if="tabmode == 3">
        <div style="height: 50%;">
            <div class="formDivision right-button" style="width: 100%;">
                <span style="font-size: 1.5em;">
                    Agrupaciones:
                </span>
                <div style="display: flex; min-width: 40%;">
                    <input type="text" placeholder="Agrupación ID" v-model="filtros.agrupaciones['nombre']"
                        maxlength="50" @input="selRow3 = null; selectedAptos = []; onCancelGroup()" />
                    <div style="display: inline;" class="imgGraybutton" @click="onClearFilters('agrupaciones')">
                        <img src="./img/ico/eraser.png" />
                    </div>
                </div>
                <div style="min-width: 8em">
                    <button style="display: inline-block; width: 8em;" @click="toggleNewRow">
                        Agregar
                    </button>
                </div>
            </div>
            <div style="width: 100%; height: calc(100% - 3rem); overflow-y: auto; margin-top: .5rem;">
                <table class="dataTable" style="table-layout: auto;">
                    <thead>
                        <tr>
                            <th style="width: 20%;">Agrupación ID</th>
                            <th style="width: 45%;">Descripción</th>
                            <th style="width: 15%;">Importe Total</th>
                            <th style="width: 10%;">Editar</th>
                            <th style="width: 10%;">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="editNewRow" v-bind:class="{'destacada': selRow3 == null}">
                            <td style="padding: 0;">
                                <input type="text" v-model="grupo.nombre" maxlength="50">
                            </td>
                            <td style="padding: 0;">
                                <input type="text" v-model="grupo.descripcion" maxlength="200">
                            </td>
                            <td style="text-align: right;">
                                <span>{{0}}</span>
                            </td>
                            <td style="text-align: center;">
                                <span @click.stop.prevent="onSaveGroup" class="delete">💾</span>
                            </td>
                            <td style="text-align: center;">
                                <span @click.stop.prevent="onCancelGroup" class="delete">✖</span>
                            </td>
                        </tr>
                        <tr v-for="(group, i) in getFilteredList('agrupaciones')" @click="onSelectGroup(i)"
                            v-bind:class="{'destacada': selRow3 == i}">
                            <td :style="editRow && selRow3 === i && 'padding: 0;'">
                                <span v-if="!editRow || selRow3 !== i">{{group.nombre}}</span>
                                <input v-else type="text" v-model="grupo.nombre" style="border: 0;" maxlength="50">
                            </td>
                            <td :style="editRow && selRow3 === i && 'padding: 0;'">
                                <span v-if="!editRow || selRow3 !== i">{{group.descripcion}}</span>
                                <input v-else type="text" v-model="grupo.descripcion" style="border: 0;"
                                    maxlength="200">
                            </td>
                            <td style="text-align: right;">
                                <span>{{group.total_importe}}</span>
                            </td>
                            <td style="text-align: center;">
                                <span v-if="!editRow || selRow3 !== i" @click.stop.prevent="onEditGroup(group, i)"
                                    class="delete">✏️</span>
                                <span v-else @click.stop.prevent="onSaveGroup" class="delete">💾</span>
                            </td>
                            <td style="text-align: center;">
                                <span
                                    @click.stop.prevent="editRow && selRow3 !== i ? onCancelGroup() : (requestDelete(group, i))"
                                    class="delete">✖</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="height: 50%;">
            <div class="formDivision right-button" style="width: 100%;">
                <span style="font-size: 1.5em;">
                    Detalles de la agrupación: {{selRow3 !== null && getFilteredList('agrupaciones')[selRow3]
                    ? `${getFilteredList('agrupaciones')[selRow3].nombre}` : ''}}
                </span>
                <div style="min-width: 8em;">
                    <button @click="openModal">Agregar</button>
                </div>
            </div>
            <div style="width: 100%; height: calc(100% - 3rem); overflow-y: auto; margin-top: .5rem;">
                <table class="dataTable" style="table-layout: auto;">
                    <thead>
                        <tr>
                            <th>Torre</th>
                            <th>ID Unidad</th>
                            <th>Piso</th>
                            <th>Tipo</th>
                            <th>Localización</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="apto in selectedAptos">
                            <td>{{apto.idtorre}}</td>
                            <td>{{apto.apartamento}}</td>
                            <td>{{apto.piso}}</td>
                            <td>{{apto.codigo_planta}}</td>
                            <td>{{apto.localizacion}}</td>
                            <td>{{0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="cal-modal-overlay" id="modalOverlay">
        <div class="modal-container pure-g" style="min-width: 70vw; max-width: 85vw;">
            <div class="pure-u-1-1">
                <h2 style="text-align: center; margin-bottom: 1rem;">
                    {{ grupo.nombre }}
                </h2>
            </div>
            <div class="modal-scroll" style="width: 100%; min-height: calc(100vh - 15rem);">
                <div class="filtros-unidades">
                    <div style="display: flex;">
                        <input type="text" placeholder="ID Unidad" v-model="filtros.groupedAptos['apartamento']"
                            maxlength="10" />
                        <div style="display: inline;" class="imgGraybutton" @click="onClearFilters('groupedAptos')">
                            <img src="./img/ico/eraser.png" />
                        </div>
                    </div>
                    <div>
                        <select v-model="filtros.groupedAptos['codigo_planta']" class="pure-input-1">
                            <option value="">[Tipos]</option>
                            <option v-for="t in tipos" :value="t">{{t}}</option>
                        </select>
                    </div>
                    <div>
                        <select v-model="filtros.groupedAptos['id_torre']" class="pure-input-1">
                            <option value="">[Torres]</option>
                            <option v-for="t in torres" :value="t.id_torre">Torre {{t.idtorre}}</option>
                        </select>
                    </div>
                    <div>
                        <select v-model="filtros.groupedAptos['piso']" class="pure-input-1">
                            <option value="">[Pisos]</option>
                            <option v-for="p in pisos" :value="p">{{p}}</option>
                        </select>
                    </div>
                    <div>
                        <select v-model="filtros.groupedAptos['id_estado_unidad']" class="pure-input-1">
                            <option value="">[Estados]</option>
                            <option v-for="e in estados" :value="e.id_estado_unidad">
                                {{e.estado_unidad}}</option>
                        </select>
                    </div>
                    <div>
                        <select v-model="filtros.groupedAptos['localizacion']" class="pure-input-1">
                            <option value="">[Localización]</option>
                            <option value="Interior">Interior</option>
                            <option value="Exterior">Exterior</option>
                        </select>
                    </div>
                </div>
                <div class="unidades-tabla-modal">
                    <table class="dataTable" style="table-layout: auto;">
                        <thead>
                            <tr>
                                <th>Torre</th>
                                <th>ID Unidad</th>
                                <th>Piso</th>
                                <th>Estatus</th>
                                <th>Tipo</th>
                                <th>Localización</th>
                                <th style="width: 33%;">Observación</th>
                                <th style="width: 80px;">Agrupar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="apto in getFilteredList('groupedAptos')"
                                v-bind:class="{'grouped-apto': ids_unidades.includes(apto.id_unidad)}">
                                <td>{{apto.idtorre}}</td>
                                <td>{{apto.apartamento}}</td>
                                <td>{{apto.piso}}</td>
                                <td>{{apto.estatus}}</td>
                                <td>{{apto.codigo_planta}}</td>
                                <td>{{apto.localizacion}}</td>
                                <td>{{apto.observacion_apto}}</td>
                                <td style="text-align: center;" @click="toggleApto(apto)">
                                    <label class="check" :for="`grouped-${apto.id_unidad}`"
                                        style="display: inline; padding-left: 15px;">
                                        <input type="checkbox" :id="`grouped-${apto.id_unidad}`" style="display: none;"
                                            :checked="ids_unidades.includes(apto.id_unidad)"
                                            @click="toggleApto(apto)" />
                                        <span class="checkmark" style="background-color: white;"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pure-u-7-24"></div>
            <div class="pure-u-1-6" style="text-align: center; margin-top: 1rem;">
                <button @click="closeModal" class="pure-button pure-button-primary">Cancelar</button>
            </div>
            <div class="pure-u-1-12"></div>
            <div class="pure-u-1-6" style="text-align: center; margin-top: 1rem;">
                <button class="pure-button pure-button-primary" @click="onSaveModal">Guardar</button>
            </div>
            <div class="pure-u-7-24" style="text-align: right; padding-top: 1rem;">
                <label class="check" for="m_agrupados">
                    <input type="checkbox" id="m_agrupados" v-model="filtroAgrupado" @change="modalGroupedAptos" />
                    <span class="checkmark"></span>
                    Ver unidades del grupo seleccionado
                </label>
            </div>
        </div>
    </div>

    <div class="cal-modal-overlay" id="modalOverlayList" @click.stop.prevent="closeListModal">
        <div class="modal-container" style="min-width: 70vw; max-width: 85vw;">
            <h2 style="text-align: center; margin-bottom: .5rem;">Previsualización Listas de Precios</h2>
            <div style="display: flex; gap: 1rem; height: 72vh;">
                <div>
                    <div class="lista-torres" style="height: 100%; gap: 5px; overflow-y: auto;">
                        <div class="lista-precio" v-for="list in listas" @click="viewList = list.lista;"
                            v-bind:class="{'current-list': list.lista == viewList}">
                            <span>Lista {{list.lista}}</span>
                        </div>
                    </div>
                </div>
                <div style="flex-grow: 1;">

                    <div class="cont-list-resources"
                        style="width: 100%; border: 0; border-radius: 0; margin: 0; height: 100%; max-height: none;">
                        <div class="list-resources" style="overflow-y: auto;">
                            <div class="menu-section" v-if="previewList && previewList[viewList]"
                                v-for="(torre, i) in previewList[viewList].torres">
                                <div v-if="i == 0" class="menu-title" @click="toggleExpand"
                                    style="border-bottom: 2px #bbb solid;">
                                    <span>{{torre.expanded ? 'Colapsar todo' : 'Expandir todo'}}</span>
                                    <img src="../../img/ico/down-combo.png" v-bind:class="{'expanded': torre.expanded}">
                                </div>
                                <div class="menu-title" style="justify-content: flex-end; gap: 1rem" 
                                    @click="torre.expanded = !torre.expanded">
                                    <span style="margin-right: auto;">Torre {{torre.torre}}</span>
                                    <div @click.stop.prevent="toggleSelectedTorre(torre)">
                                        <label class="check" :for="`selected-t-${torre.torre}`"
                                            style="display: inline; padding-left: 15px;">
                                            <input type="checkbox" :id="`selected-t-${torre.torre}`"
                                                style="display: none;" v-model="torre.selected" />
                                            <span class="checkmark" style="background-color: white;"></span>
                                        </label>
                                    </div>
                                    <img src="../../img/ico/down-combo.png" v-bind:class="{'expanded': torre.expanded}">
                                </div>
                                <div class="menu-content" v-bind:class="{'open': torre.expanded}" style="padding: 0;">
                                    <table class="dataTable" style="table-layout: auto;">
                                        <thead>
                                            <tr>
                                                <th>Unidad ID</th>
                                                <th>Precio</th>
                                                <th>En smlv</th>
                                                <th>Precio m2</th>
                                                <th>Precio alt</th>
                                                <th>En smlv alt</th>
                                                <th>Precio m2 alt</th>
                                                <th>Agregar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="precio in torre.listas">
                                                <td>{{precio.apartamento}}</td>
                                                <td>{{precio.precio}}</td>
                                                <td>{{precio.en_smlv}}</td>
                                                <td>{{precio.precio_m2}}</td>
                                                <td>{{precio.precio_alt}}</td>
                                                <td>{{precio.en_smlv_alt}}</td>
                                                <td>{{precio.precio_m2_alt}}</td>
                                                <td style="text-align: center;"
                                                    @click="toggleSelectedApto(precio, torre)">
                                                    <label class="check" :for="`selected-${precio.apartamento}`"
                                                        style="display: inline; padding-left: 15px;">
                                                        <input type="checkbox" :id="`selected-${precio.apartamento}`"
                                                            style="display: none;" v-model="precio.selected" />
                                                        <span class="checkmark" style="background-color: white;"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button @click="confirmUploadList" style="display: block; margin: 1rem auto 0;">Guardar</button>
        </div>
    </div>
</div>