<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-5 lateralMenu">
        <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 0.75rem;">
            {{ ruta }}
        </div>
        <div v-on:click="setMainMode(1)" class="lateralMenuItem noSelect" 
            v-bind:class="{'lateralMenuItemSelected': mainmode == 1}">
            <img src="./img/ico/svg/user.svg" />
            Política de Contraseña
        </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-4-5">
      <!--POLITICA DE CONTRASEÑA-->
      <div v-if="mainmode == 1">
        <div style="font-size: 0.8rem; border-bottom: 1px solid rgb(231, 231, 231); padding: 1rem;">
          <span class="hoverLink" v-on:click="mode = 0">Política de Contraseña</span>
        </div>
        <div v-if="mode == 0" style="padding-top: 2em">
          <div class="pure-u-1-4"></div>
          <div class="pure-u-1-2 menuCard">
            <div class="pure-g">
              <div class="pure-u-1-1"></div>
              <div class="pure-u-1-1" style="text-align:center">
                <h2>Política de Contraseña</h2>
                <div class="pure-u-1-2 formInput">
                  Longitud mínima de contraseña
                  <input type="number" v-model="passwordPolicy.minLength" />
                </div>
                <div class="pure-u-1-2 formInput">
                  Caracteres numéricos (Mínimo)
                  <input type="number" v-model="passwordPolicy.minNumbers" />
                </div>
                <div class="pure-u-1-2 formInput">
                  Caracteres especiales (Mínimo)
                  <input type="text" v-model="passwordPolicy.minSpecialChars" />
                </div>
                <div class="pure-u-1-2 formInput">
                  Historial de contraseñas (Máximo)
                  <input type="number" v-model="passwordPolicy.history" />
                </div>
                <div class="pure-u-1-2 formInput">
                  Días para el cambio de contraseña (Máximo)
                  <input type="number" v-model="passwordPolicy.maxDaysChange" />
                </div>
                <div style="text-align:right">
                  <br /><br /><br />
                  <button @click="updatePolicy">Actualizar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="pure-u-1-4"></div>
        </div>
      </div>
    </div>
</div>